In [1]:
import pandas as pd
from tqdm.autonotebook import tqdm
tqdm.pandas()
import collections
from itertools import combinations

/var/folders/9p/n32ch__j2md_gqsf35y76y0r0000gn/T/ipykernel_53565/568655234.py:2: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm

In [7]:
GISAID_metadata = pd.read_csv('../datasets/GISAID/GISAID-hCoV-19-phylogeny-2022-05-20/metadata.csv')
GISAID_metadata = GISAID_metadata[(GISAID_metadata['virus_name'].str.startswith('hCoV-19/Northern Ireland/')) | (GISAID_metadata['virus_name'].str.startswith('hCoV-19/Ireland/'))].copy()
GISAID_metadata

,accession_id,virus_name,collection_date
14336,EPI_ISL_1164048,hCoV-19/Ireland/OY-NVRL-e85IRL48857/2021,2021-02-09
14696,EPI_ISL_3363287,hCoV-19/Northern Ireland/RAND-1AE43A2/2021,2021-07-25
15395,EPI_ISL_1164090,hCoV-19/Ireland/KE-NVRL-e85IRL53864/2021,2021-02-10
15614,EPI_ISL_1164100,hCoV-19/Ireland/C-NVRL-e85IRL54084/2021,2021-02-10
16046,EPI_ISL_1164130,hCoV-19/Ireland/OY-NVRL-e85IRL47559/2021,2021-02-09
...,...,...,...
7589269,EPI_ISL_1001262,hCoV-19/Ireland/WD-NVRL-84IRL92481/2021,2021-02-01
7589270,EPI_ISL_1001263,hCoV-19/Ireland/MH-NVRL-21IRL31304/2021,2021-02-03
7589271,EPI_ISL_1001264,hCoV-19/Ireland/D-NVRL-21IRL30982/2021,2021-02-03
7602861,EPI_ISL_848115,hCoV-19/Ireland/D-20G31591/2020,2020-03-17
7603319,EPI_ISL_414487,hCoV-19/Ireland/CO-NVRL-20134/2020,2020-03-04

In [14]:
def add_type(cell):
    fields = cell.split('/')
    
    if fields[1] == 'Northern Ireland':
        ID_parts = fields[2].split('-')
        return ID_parts[0]
    
    if fields[1] == 'Ireland':
        return 'Ireland'

In [16]:
GISAID_metadata['type'] = GISAID_metadata['virus_name'].apply(add_type)
GISAID_metadata

,accession_id,virus_name,collection_date,type
14336,EPI_ISL_1164048,hCoV-19/Ireland/OY-NVRL-e85IRL48857/2021,2021-02-09,Ireland
14696,EPI_ISL_3363287,hCoV-19/Northern Ireland/RAND-1AE43A2/2021,2021-07-25,RAND
15395,EPI_ISL_1164090,hCoV-19/Ireland/KE-NVRL-e85IRL53864/2021,2021-02-10,Ireland
15614,EPI_ISL_1164100,hCoV-19/Ireland/C-NVRL-e85IRL54084/2021,2021-02-10,Ireland
16046,EPI_ISL_1164130,hCoV-19/Ireland/OY-NVRL-e85IRL47559/2021,2021-02-09,Ireland
...,...,...,...,...
7589269,EPI_ISL_1001262,hCoV-19/Ireland/WD-NVRL-84IRL92481/2021,2021-02-01,Ireland
7589270,EPI_ISL_1001263,hCoV-19/Ireland/MH-NVRL-21IRL31304/2021,2021-02-03,Ireland
7589271,EPI_ISL_1001264,hCoV-19/Ireland/D-NVRL-21IRL30982/2021,2021-02-03,Ireland
7602861,EPI_ISL_848115,hCoV-19/Ireland/D-20G31591/2020,2020-03-17,Ireland
7603319,EPI_ISL_414487,hCoV-19/Ireland/CO-NVRL-20134/2020,2020-03-04,Ireland

In [17]:
GISAID_metadata.groupby('type').count()

                       accession_id  virus_name  collection_date
type
ALDP                             47          47               47
AUV2_CP52100306537638             1           1                1
BRBR                              9           9                9
CAMC                             23          23               23
DHSC                              2           2                2
HSLL                              5           5                5
Ireland                       45479       45479            45479
LSPA                              5           5                5
MILK                             77          77               77
NEWC                              6           6                6
NIRE                          29207       29207            29207
NORT                            946         946              946
NORW                              8           8                8
OXON                             85          85               85
PHEC                            782         782              782
PHWC                             12          12               12
PLYM                              6           6                6
QEUH                            581         581              581
RAND                           2832        2832             2832

In [53]:
len(GISAID_metadata[GISAID_metadata['type'] == 'NIRE']) / len(GISAID_metadata[GISAID_metadata['type'] != 'Ireland'])

0.8433042674828204

In [54]:
len(GISAID_metadata[GISAID_metadata['type'] == 'RAND']) / len(GISAID_metadata[GISAID_metadata['type'] != 'Ireland'])

0.08176935958884333

In [56]:
len(GISAID_metadata[GISAID_metadata['type'] == 'NORT']) / len(GISAID_metadata[GISAID_metadata['type'] != 'Ireland'])

0.027314199919154587

In [64]:
GISAID_metadata[GISAID_metadata['type'] == 'NORT']

,accession_id,virus_name,collection_date,type
297041,EPI_ISL_10998244,hCoV-19/Northern Ireland/NORT-YNNF6C4/2022,2022-02-27,NORT
297259,EPI_ISL_10998191,hCoV-19/Northern Ireland/NORT-YNNF4SJ/2022,2022-02-27,NORT
297292,EPI_ISL_10998221,hCoV-19/Northern Ireland/NORT-YNNF5KB/2022,2022-02-27,NORT
297307,EPI_ISL_10998245,hCoV-19/Northern Ireland/NORT-YNNF6DC/2022,2022-02-27,NORT
297430,EPI_ISL_10998986,hCoV-19/Northern Ireland/NORT-YNNFQFA/2022,2022-02-26,NORT
...,...,...,...,...
7153839,EPI_ISL_10502610,hCoV-19/Northern Ireland/NORT-YNB7IG9/2022,2022-02-10,NORT
7153842,EPI_ISL_10502602,hCoV-19/Northern Ireland/NORT-YNB7I7O/2022,2022-02-11,NORT
7153847,EPI_ISL_10502633,hCoV-19/Northern Ireland/NORT-YNB7OA9/2022,2022-02-11,NORT
7153864,EPI_ISL_10502639,hCoV-19/Northern Ireland/NORT-YNB7OIF/2022,2022-02-11,NORT
7153881,EPI_ISL_10502575,hCoV-19/Northern Ireland/NORT-YNB7H7J/2022,2022-02-11,NORT

In [59]:
GISAID_metadata[GISAID_metadata['type'] != 'Ireland']['type'].unique()

array(['RAND', 'PHEC', 'OXON', 'QEUH', 'MILK', 'NIRE',
       'AUV2_CP52100306537638', 'ALDP', 'LSPA', 'NORT', 'PHWC', 'BRBR',
       'HSLL', 'NEWC', 'CAMC', 'PLYM', 'DHSC', 'NORW'], dtype=object)

In [60]:
len(GISAID_metadata[~GISAID_metadata['type'].isin(['Ireland','NIRE','RAND','NORT'])]['type'].unique())

15

In [63]:
len(GISAID_metadata[~GISAID_metadata['type'].isin(['Ireland','NIRE','RAND','NORT'])]) / len(GISAID_metadata[GISAID_metadata['type'] != 'Ireland'])

0.047612173009181726

In [26]:
clusters_timepoint_A = pd.read_csv('../outputFiles/clusters/clusters_timepoint_A.csv')
clusters_timepoint_B = pd.read_csv('../outputFiles/clusters/clusters_timepoint_B.csv')
clusters_timepoint_C = pd.read_csv('../outputFiles/clusters/clusters_timepoint_C.csv')
clusters_timepoint_D = pd.read_csv('../outputFiles/clusters/clusters_timepoint_D.csv')
clusters_timepoint_E = pd.read_csv('../outputFiles/clusters/clusters_timepoint_E.csv')
clusters_timepoint_F = pd.read_csv('../outputFiles/clusters/clusters_timepoint_F.csv')

clusters = pd.concat([clusters_timepoint_A,
           clusters_timepoint_B,
           clusters_timepoint_C,
           clusters_timepoint_D,
           clusters_timepoint_E,
           clusters_timepoint_F])

clusters['cluster_timepoint'] = clusters['timepoint'] + '_' + clusters['cluster'].astype(str) 
clusters

                   tip  cluster timepoint cluster_timepoint
0       EPI_ISL_671375        1         A               A_1
1       EPI_ISL_441714        2         A               A_2
2       EPI_ISL_644320        3         A               A_3
3       EPI_ISL_585106        4         A               A_4
4     EPI_ISL_11191573        5         A               A_5
...                ...      ...       ...               ...
6841  EPI_ISL_11582812     1346         F            F_1346
6842  EPI_ISL_11508238     1346         F            F_1346
6843  EPI_ISL_11460572     1347         F            F_1347
6844  EPI_ISL_11058569     1348         F            F_1348
6845  EPI_ISL_11058678     1348         F            F_1348

[33204 rows x 4 columns]

In [27]:
clusters = pd.merge(clusters, GISAID_metadata, how='inner', left_on='tip', right_on='accession_id')
clusters

,tip,cluster,timepoint,cluster_timepoint,accession_id,virus_name,collection_date,type
0,EPI_ISL_671375,1,A,A_1,EPI_ISL_671375,hCoV-19/Ireland/KE-NVRL-20G27987/2020,2020-03-20,Ireland
1,EPI_ISL_441714,2,A,A_2,EPI_ISL_441714,hCoV-19/Northern Ireland/NIRE-FAACF/2020,2020-03-27,NIRE
2,EPI_ISL_644320,3,A,A_3,EPI_ISL_644320,hCoV-19/Ireland/WW-NVRL-AIIDV0018v1/2020,2020-04-02,Ireland
3,EPI_ISL_585106,4,A,A_4,EPI_ISL_585106,hCoV-19/Northern Ireland/NIRE-1070CC/2020,2020-03-28,NIRE
4,EPI_ISL_11191573,5,A,A_5,EPI_ISL_11191573,hCoV-19/Ireland/WW-20G42024/2020,2020-03-28,Ireland
...,...,...,...,...,...,...,...,...
33199,EPI_ISL_11582812,1346,F,F_1346,EPI_ISL_11582812,hCoV-19/Ireland/D-NVRL-G22IRL15897/2022,2022-03-14,Ireland
33200,EPI_ISL_11508238,1346,F,F_1346,EPI_ISL_11508238,hCoV-19/Ireland/WH-Enfer-COV140322038_A12/2022,2022-03-14,Ireland
33201,EPI_ISL_11460572,1347,F,F_1347,EPI_ISL_11460572,hCoV-19/Northern Ireland/NIRE-01b307/2022,2022-03-08,NIRE
33202,EPI_ISL_11058569,1348,F,F_1348,EPI_ISL_11058569,hCoV-19/Northern Ireland/NIRE-01aaa6/2022,2022-02-27,NIRE
33203,EPI_ISL_11058678,1348,F,F_1348,EPI_ISL_11058678,hCoV-19/Northern Ireland/NIRE-01aad1/2022,2022-02-27,NIRE

In [37]:
clusters['irish_in_cluster'] = 'N'

for index, row in tqdm(clusters.iterrows()):
    if len(clusters[(clusters['cluster_timepoint'] == row['cluster_timepoint']) & (clusters['type'] == 'Ireland')]) > 0:
        clusters.loc[index,'irish_in_cluster'] = 'Y'

0it [00:00, ?it/s]

In [66]:
clusters[(clusters['type'] == 'NORT') & (clusters['irish_in_cluster'] == 'Y') & (clusters['NIRE_in_cluster'] == 'Y')]

,tip,cluster,timepoint,cluster_timepoint,accession_id,virus_name,collection_date,type,num_irish_in_cluster,irish_in_cluster,NIRE_in_cluster
14725,EPI_ISL_9813060,95,E,E_95,EPI_ISL_9813060,hCoV-19/Northern Ireland/NORT-YB6TJ9/2022,2022-01-25,NORT,0,Y,Y
14745,EPI_ISL_9962562,95,E,E_95,EPI_ISL_9962562,hCoV-19/Northern Ireland/NORT-YNBSQWZ/2022,2022-01-30,NORT,0,Y,Y
14761,EPI_ISL_9813616,95,E,E_95,EPI_ISL_9813616,hCoV-19/Northern Ireland/NORT-YB9OTP/2022,2022-01-27,NORT,0,Y,Y
14838,EPI_ISL_9118969,95,E,E_95,EPI_ISL_9118969,hCoV-19/Northern Ireland/NORT-YBUF5H/2022,2022-01-05,NORT,0,Y,Y
14998,EPI_ISL_9119195,95,E,E_95,EPI_ISL_9119195,hCoV-19/Northern Ireland/NORT-YBUNZ8/2022,2022-01-06,NORT,0,Y,Y
...,...,...,...,...,...,...,...,...,...,...,...
33161,EPI_ISL_11264844,1342,F,F_1342,EPI_ISL_11264844,hCoV-19/Northern Ireland/NORT-YNNG754/2022,2022-03-01,NORT,0,Y,Y
33168,EPI_ISL_10502749,1342,F,F_1342,EPI_ISL_10502749,hCoV-19/Northern Ireland/NORT-YNB9BCD/2022,2022-02-15,NORT,0,Y,Y
33172,EPI_ISL_10502825,1342,F,F_1342,EPI_ISL_10502825,hCoV-19/Northern Ireland/NORT-YNB9DP9/2022,2022-02-15,NORT,0,Y,Y
33177,EPI_ISL_10502929,1342,F,F_1342,EPI_ISL_10502929,hCoV-19/Northern Ireland/NORT-YNB9YKE/2022,2022-02-15,NORT,0,Y,Y
33182,EPI_ISL_10502924,1342,F,F_1342,EPI_ISL_10502924,hCoV-19/Northern Ireland/NORT-YNB9Y97/2022,2022-02-15,NORT,0,Y,Y

In [ ]:
ID_type_cluster_irish_counts = clusters.groupby(['type','irish_in_cluster']).count().reset_index()[['type','irish_in_cluster','tip']]
ID_type_cluster_irish_counts = ID_type_cluster_irish_counts[ID_type_cluster_irish_counts['type'] != 'Ireland']
ID_type_cluster_irish_counts.to_csv('../outputFiles/clusters/NorthernIrelandIDTypeClusterSharedWithRoISampleCount.csv', index=False)
ID_type_cluster_irish_counts

    type irish_in_cluster   tip
0   ALDP                N    15
1   ALDP                Y     9
2   BRBR                N     6
3   BRBR                Y     3
4   CAMC                N     3
5   CAMC                Y     7
6   DHSC                N     1
7   HSLL                N     3
8   HSLL                Y     1
10  LSPA                N     3
11  MILK                N    30
12  MILK                Y    13
13  NEWC                N     1
14  NEWC                Y     2
15  NIRE                N  3453
16  NIRE                Y  8254
17  NORT                N   228
18  NORT                Y   486
19  NORW                N     1
20  NORW                Y     7
21  OXON                N    12
22  OXON                Y    31
23  PHEC                N   487
24  PHEC                Y   134
25  PHWC                Y     5
26  PLYM                N     5
27  PLYM                Y     1
28  QEUH                N    26
29  QEUH                Y    41
30  RAND                N   589
31  RAND                Y  1468

In [48]:
GISAID_metadata[GISAID_metadata['type'].isin(['RAND','NIRE'])]['accession_id'].to_csv('../outputFiles/NISamplesWithNIREOrRAND.csv', index=False)

In [67]:
GISAID_metadata[~GISAID_metadata['type'].isin(['RAND','NIRE','Ireland'])]['accession_id'].to_csv('../outputFiles/NISamplesNonNIRE-RANDToExclude.csv', index=False)

In [69]:
GISAID_metadata[~GISAID_metadata['type'].isin(['NIRE','Ireland'])]['accession_id'].to_csv('../outputFiles/NISamplesNonNIREToExclude.csv', index=False)

In [70]:
GISAID_metadata[~GISAID_metadata['type'].isin(['NIRE','Ireland'])]

,accession_id,virus_name,collection_date,type
14696,EPI_ISL_3363287,hCoV-19/Northern Ireland/RAND-1AE43A2/2021,2021-07-25,RAND
19239,EPI_ISL_2818166,hCoV-19/Northern Ireland/PHEC-L308LC10/2021,2021-06-25,PHEC
21519,EPI_ISL_2818175,hCoV-19/Northern Ireland/PHEC-L308LCA7/2021,2021-06-22,PHEC
22059,EPI_ISL_2818197,hCoV-19/Northern Ireland/PHEC-L30AL188/2021,2021,PHEC
22139,EPI_ISL_2818195,hCoV-19/Northern Ireland/PHEC-L30AL16A/2021,2021,PHEC
...,...,...,...,...
7587144,EPI_ISL_999100,hCoV-19/Northern Ireland/OXON-F55191/2021,2021-01-13,OXON
7587145,EPI_ISL_999101,hCoV-19/Northern Ireland/OXON-F55234/2021,2021-01-13,OXON
7587508,EPI_ISL_999407,hCoV-19/Northern Ireland/OXON-F5FDB1/2021,2021-01-15,OXON
7587563,EPI_ISL_999473,hCoV-19/Northern Ireland/OXON-F6097D/2021,2021-01-16,OXON
7587606,EPI_ISL_999505,hCoV-19/Northern Ireland/OXON-F61332/2021,2021-01-20,OXON

In [49]:
clusters['NIRE_in_cluster'] = 'N'

for index, row in tqdm(clusters.iterrows()):
    if len(clusters[(clusters['cluster_timepoint'] == row['cluster_timepoint']) & (clusters['type'] == 'NIRE')]) > 0:
        clusters.loc[index,'NIRE_in_cluster'] = 'Y'

0it [00:00, ?it/s]

In [50]:
ID_type_cluster_NIRE_counts = clusters.groupby(['type','NIRE_in_cluster']).count().reset_index()[['type','NIRE_in_cluster','tip']]
ID_type_cluster_NIRE_counts = ID_type_cluster_NIRE_counts[~ID_type_cluster_NIRE_counts['type'].isin(['Ireland','NIRE'])]
ID_type_cluster_NIRE_counts.to_csv('../outputFiles/clusters/NorthernIrelandIDTypeClusterSharedWithNIRESampleCount.csv', index=False)
ID_type_cluster_NIRE_counts

    type NIRE_in_cluster   tip
0   ALDP               N    14
1   ALDP               Y    10
2   BRBR               N     6
3   BRBR               Y     3
4   CAMC               N     2
5   CAMC               Y     8
6   DHSC               N     1
7   HSLL               N     3
8   HSLL               Y     1
11  LSPA               N     2
12  LSPA               Y     1
13  MILK               N    23
14  MILK               Y    20
15  NEWC               Y     3
17  NORT               N    77
18  NORT               Y   637
19  NORW               Y     8
20  OXON               N     6
21  OXON               Y    37
22  PHEC               N   483
23  PHEC               Y   138
24  PHWC               Y     5
25  PLYM               N     5
26  PLYM               Y     1
27  QEUH               N    41
28  QEUH               Y    26
29  RAND               N   264
30  RAND               Y  1793