In [1]:
import pandas as pd

In [3]:
NI_cases = pd.read_csv('../datasets/CovidDashboardData/UK/Cases_NI_data_2022-Jun-22.csv')
NI_cases['date']= pd.to_datetime(NI_cases['date'])
NI_cases.sort_values(by=['date'], ascending=True, inplace=True)
NI_cases.index = pd.DatetimeIndex(NI_cases['date'])
NI_cases = NI_cases.reindex(pd.date_range('2020-02-26', '2022-05-19'))
NI_cases = NI_cases.reset_index()
NI_cases['newCasesBySpecimenDate'].fillna(0, inplace=True)
NI_cases['7_day_rolling_cases'] = NI_cases['newCasesBySpecimenDate'].rolling(window=7,min_periods=0).mean()
# Population estimate from 2019 Mid-year Population Estimates for Northern Ireland - https://www.nisra.gov.uk/sites/nisra.gov.uk/files/publications/MYE19-Bulletin.pdf
NI_cases['7_day_cases_per_100k'] = NI_cases['7_day_rolling_cases'] / 1893700 * 100000
NI_cases

,index,areaType,areaName,areaCode,date,newCasesBySpecimenDate,cumCasesBySpecimenDate,newFirstEpisodesBySpecimenDate,cumFirstEpisodesBySpecimenDate,newReinfectionsBySpecimenDate,cumReinfectionsBySpecimenDate,7_day_rolling_cases,7_day_cases_per_100k
0,2020-02-26,nation,Northern Ireland,N92000002,2020-02-26,1,1,1,1,NaN,NaN,1.000000,0.052807
1,2020-02-27,nation,Northern Ireland,N92000002,2020-02-27,0,1,0,1,NaN,NaN,0.500000,0.026403
2,2020-02-28,nation,Northern Ireland,N92000002,2020-02-28,0,1,0,1,NaN,NaN,0.333333,0.017602
3,2020-02-29,nation,Northern Ireland,N92000002,2020-02-29,0,1,0,1,NaN,NaN,0.250000,0.013202
4,2020-03-01,nation,Northern Ireland,N92000002,2020-03-01,0,1,0,1,NaN,NaN,0.200000,0.010561
...,...,...,...,...,...,...,...,...,...,...,...,...,...
809,2022-05-15,nation,Northern Ireland,N92000002,2022-05-15,281,712164,230,668590,51.0,43574.0,271.000000,14.310609
810,2022-05-16,nation,Northern Ireland,N92000002,2022-05-16,356,712520,290,668880,66.0,43640.0,268.714286,14.189908
811,2022-05-17,nation,Northern Ireland,N92000002,2022-05-17,318,712838,272,669152,46.0,43686.0,266.571429,14.076751
812,2022-05-18,nation,Northern Ireland,N92000002,2022-05-18,266,713104,210,669362,56.0,43742.0,263.285714,13.903243
813,2022-05-19,nation,Northern Ireland,N92000002,2022-05-19,190,713294,163,669525,27.0,43769.0,259.857143,13.722192

In [4]:
NI_hospitalisations = pd.read_csv('../datasets/CovidDashboardData/UK/HospitalAdmissions_2022-Jun-22.csv')
NI_hospitalisations['date']= pd.to_datetime(NI_hospitalisations['date'])
NI_hospitalisations.sort_values(by=['date'], ascending=True, inplace=True)
NI_hospitalisations['7_day_hospitalisations_rolling'] = NI_hospitalisations['newAdmissions'].rolling(window=7,min_periods=0).mean()
NI_hospitalisations['7_day_hospitalisations_per_100k'] = NI_hospitalisations['7_day_hospitalisations_rolling'] / 1893700 * 100000
NI_hospitalisations

,areaType,areaName,areaCode,date,newAdmissions,cumAdmissions,7_day_hospitalisations_rolling,7_day_hospitalisations_per_100k
836,nation,Northern Ireland,N92000002,2020-03-02,1,1,1.000000,0.052807
835,nation,Northern Ireland,N92000002,2020-03-03,0,1,0.500000,0.026403
834,nation,Northern Ireland,N92000002,2020-03-04,0,1,0.333333,0.017602
833,nation,Northern Ireland,N92000002,2020-03-05,1,2,0.500000,0.026403
832,nation,Northern Ireland,N92000002,2020-03-06,3,5,1.000000,0.052807
...,...,...,...,...,...,...,...,...
4,nation,Northern Ireland,N92000002,2022-06-12,14,20915,19.571429,1.033502
3,nation,Northern Ireland,N92000002,2022-06-13,19,20934,20.857143,1.101396
2,nation,Northern Ireland,N92000002,2022-06-14,21,20955,19.714286,1.041046
1,nation,Northern Ireland,N92000002,2022-06-15,19,20974,19.285714,1.018414
0,nation,Northern Ireland,N92000002,2022-06-16,10,20984,17.142857,0.905257

In [5]:
NI_deaths = pd.read_csv('../datasets/CovidDashboardData/UK/DeathsByDateOfDeath_NI_data_2022-Jun-22.csv')
NI_deaths['date']= pd.to_datetime(NI_deaths['date'])
NI_deaths.sort_values(by=['date'], ascending=True, inplace=True)
NI_deaths['7_day_deaths_rolling'] = NI_deaths['newDeaths28DaysByDeathDate'].rolling(window=7,min_periods=0).mean()
NI_deaths['7_day_deaths_per_100k'] = NI_deaths['7_day_deaths_rolling'] / 1893700 * 100000
NI_deaths

,areaType,areaName,areaCode,date,newDeaths28DaysByDeathDate,cumDeaths28DaysByDeathDate,7_day_deaths_rolling,7_day_deaths_per_100k
792,nation,Northern Ireland,N92000002,2020-03-18,1,1,1.000000,0.052807
791,nation,Northern Ireland,N92000002,2020-03-19,1,2,1.000000,0.052807
790,nation,Northern Ireland,N92000002,2020-03-20,0,2,0.666667,0.035204
789,nation,Northern Ireland,N92000002,2020-03-21,1,3,0.750000,0.039605
788,nation,Northern Ireland,N92000002,2020-03-22,1,4,0.800000,0.042245
...,...,...,...,...,...,...,...,...
4,nation,Northern Ireland,N92000002,2022-05-15,0,3438,1.142857,0.060350
3,nation,Northern Ireland,N92000002,2022-05-16,2,3440,1.142857,0.060350
2,nation,Northern Ireland,N92000002,2022-05-17,1,3441,1.000000,0.052807
1,nation,Northern Ireland,N92000002,2022-05-18,4,3445,1.428571,0.075438
0,nation,Northern Ireland,N92000002,2022-05-19,0,3445,1.142857,0.060350

In [7]:
NI = pd.merge(
    NI_cases[['index','areaName', 'date','newCasesBySpecimenDate','7_day_rolling_cases','7_day_cases_per_100k']],
    NI_hospitalisations[['date','newAdmissions','7_day_hospitalisations_rolling','7_day_hospitalisations_per_100k']],
    how="left",
    on=['date']
)
NI

NI = pd.merge(
    NI,
    NI_deaths[['date','newDeaths28DaysByDeathDate','7_day_deaths_rolling','7_day_deaths_per_100k']],
    how="left",
    on=['date']
)
NI

,index,areaName,date,newCasesBySpecimenDate,7_day_rolling_cases,7_day_cases_per_100k,newAdmissions,7_day_hospitalisations_rolling,7_day_hospitalisations_per_100k,newDeaths28DaysByDeathDate,7_day_deaths_rolling,7_day_deaths_per_100k
0,2020-02-26,Northern Ireland,2020-02-26,1,1.000000,0.052807,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-02-27,Northern Ireland,2020-02-27,0,0.500000,0.026403,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-02-28,Northern Ireland,2020-02-28,0,0.333333,0.017602,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-02-29,Northern Ireland,2020-02-29,0,0.250000,0.013202,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-03-01,Northern Ireland,2020-03-01,0,0.200000,0.010561,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
809,2022-05-15,Northern Ireland,2022-05-15,281,271.000000,14.310609,11.0,10.857143,0.573330,0.0,1.142857,0.060350
810,2022-05-16,Northern Ireland,2022-05-16,356,268.714286,14.189908,13.0,10.857143,0.573330,2.0,1.142857,0.060350
811,2022-05-17,Northern Ireland,2022-05-17,318,266.571429,14.076751,9.0,10.285714,0.543154,1.0,1.000000,0.052807
812,2022-05-18,Northern Ireland,2022-05-18,266,263.285714,13.903243,13.0,10.571429,0.558242,4.0,1.428571,0.075438
813,2022-05-19,Northern Ireland,2022-05-19,190,259.857143,13.722192,9.0,10.571429,0.558242,0.0,1.142857,0.060350

In [9]:
ROI_data = pd.read_csv('../datasets/CovidDashboardData/Ireland/COVID-19_HPSC_Detailed_Statistics_Profile.csv')
ROI_data['date'] = pd.to_datetime(pd.to_datetime(ROI_data['Date']).dt.date)
ROI_data.sort_values(by=['date'], ascending=True, inplace=True)
ROI_data.index = pd.DatetimeIndex(ROI_data['date'])
ROI_data = ROI_data.reindex(pd.date_range('2020-02-29', '2022-06-22'))
ROI_data = ROI_data.reset_index()
ROI_data['ConfirmedCovidCases'].fillna(0, inplace=True)

ROI_data['7_day_rolling_cases'] = ROI_data['ConfirmedCovidCases'].rolling(window=7,min_periods=0).mean()

ROI_data['newAdmissions'] = ROI_data['HospitalisedCovidCases'].diff()
ROI_data['newAdmissions'].fillna(0, inplace=True)
ROI_data['7_day_hospitalisations_rolling'] = ROI_data['newAdmissions'].rolling(window=7,min_periods=0).mean()

ROI_data['DeathsToday_DOD'].fillna(0, inplace=True)
ROI_data['7_day_deaths_rolling'] = ROI_data['DeathsToday_DOD'].rolling(window=7,min_periods=0).mean()

ROI_data['7_day_cases_per_100k'] = ROI_data['7_day_rolling_cases'] / 4761865 * 100000
ROI_data['7_day_hospitalisations_per_100k'] = ROI_data['7_day_hospitalisations_rolling'] / 4761865 * 100000
ROI_data['7_day_deaths_per_100k'] = ROI_data['7_day_deaths_rolling'] / 4761865 * 100000
ROI_data['areaName'] = 'Republic of Ireland'
ROI_data

,index,X,Y,Date,ConfirmedCovidCases,TotalConfirmedCovidCases,ConfirmedCovidDeaths,TotalCovidDeaths,StatisticsProfileDate,CovidCasesConfirmed,...,DeathsToday_DOD,date,7_day_rolling_cases,newAdmissions,7_day_hospitalisations_rolling,7_day_deaths_rolling,7_day_cases_per_100k,7_day_hospitalisations_per_100k,7_day_deaths_per_100k,areaName
0,2020-02-29,-7.692596,53.288234,2020/02/29 00:00:00+00,1.0,1.0,0.0,0.0,2020/02/27 00:00:00+00,NaN,...,0.0,2020-02-29,1.000000,0.0,0.000000,0.000000,0.021000,0.000000,0.00000,Republic of Ireland
1,2020-03-01,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,0.0,NaT,0.500000,0.0,0.000000,0.000000,0.010500,0.000000,0.00000,Republic of Ireland
2,2020-03-02,-7.692596,53.288234,2020/03/02 00:00:00+00,0.0,1.0,0.0,0.0,2020/03/01 00:00:00+00,NaN,...,1.0,2020-03-02,0.333333,0.0,0.000000,0.333333,0.007000,0.000000,0.00700,Republic of Ireland
3,2020-03-03,-7.692596,53.288234,2020/03/03 00:00:00+00,1.0,2.0,0.0,0.0,2020/03/02 00:00:00+00,1.0,...,0.0,2020-03-03,0.500000,0.0,0.000000,0.250000,0.010500,0.000000,0.00525,Republic of Ireland
4,2020-03-04,-7.692596,53.288234,2020/03/04 00:00:00+00,4.0,6.0,0.0,0.0,2020/03/03 00:00:00+00,2.0,...,0.0,2020-03-04,1.200000,1.0,0.200000,0.200000,0.025200,0.004200,0.00420,Republic of Ireland
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840,2022-06-18,-7.692596,53.288234,2022/06/18 00:00:00+00,1471.0,1582088.0,NaN,7442.0,2022/06/17 00:00:00+00,1582086.0,...,1.0,2022-06-18,1300.428571,62.0,72.142857,1.000000,27.309228,1.515013,0.02100,Republic of Ireland
841,2022-06-19,-7.692596,53.288234,2022/06/19 00:00:00+00,1547.0,1583635.0,NaN,7442.0,2022/06/18 00:00:00+00,1583633.0,...,1.0,2022-06-19,1490.857143,23.0,73.142857,1.000000,31.308261,1.536013,0.02100,Republic of Ireland
842,2022-06-20,-7.692596,53.288234,2022/06/20 00:00:00+00,982.0,1584617.0,NaN,7442.0,2022/06/19 00:00:00+00,1584615.0,...,1.0,2022-06-20,1504.285714,8.0,71.428571,1.142857,31.590264,1.500013,0.02400,Republic of Ireland
843,2022-06-21,-7.692596,53.288234,2022/06/21 00:00:00+00,1545.0,1586162.0,NaN,7442.0,2022/06/20 00:00:00+00,1586160.0,...,1.0,2022-06-21,1647.000000,140.0,81.857143,1.285714,34.587289,1.719014,0.02700,Republic of Ireland
844,2022-06-22,-7.692596,53.288234,2022/06/22 00:00:00+00,1223.0,1587385.0,27.0,7469.0,2022/06/21 00:00:00+00,1587383.0,...,0.0,2022-06-22,1430.000000,78.0,70.285714,1.142857,30.030251,1.476012,0.02400,Republic of Ireland

In [11]:
irish_case_data = pd.concat([
    NI[['index',
        'date',
        '7_day_cases_per_100k',
        '7_day_hospitalisations_per_100k',
        '7_day_deaths_per_100k',
        'areaName']],
    ROI_data[['index',
              'date',
              '7_day_cases_per_100k',
              '7_day_hospitalisations_per_100k',
              '7_day_deaths_per_100k',
              'areaName']]])
irish_case_data

,index,date,7_day_cases_per_100k,7_day_hospitalisations_per_100k,7_day_deaths_per_100k,areaName
0,2020-02-26,2020-02-26,0.052807,NaN,NaN,Northern Ireland
1,2020-02-27,2020-02-27,0.026403,NaN,NaN,Northern Ireland
2,2020-02-28,2020-02-28,0.017602,NaN,NaN,Northern Ireland
3,2020-02-29,2020-02-29,0.013202,NaN,NaN,Northern Ireland
4,2020-03-01,2020-03-01,0.010561,NaN,NaN,Northern Ireland
...,...,...,...,...,...,...
840,2022-06-18,2022-06-18,27.309228,1.515013,0.021,Republic of Ireland
841,2022-06-19,2022-06-19,31.308261,1.536013,0.021,Republic of Ireland
842,2022-06-20,2022-06-20,31.590264,1.500013,0.024,Republic of Ireland
843,2022-06-21,2022-06-21,34.587289,1.719014,0.027,Republic of Ireland
844,2022-06-22,2022-06-22,30.030251,1.476012,0.024,Republic of Ireland

In [12]:
irish_case_data.to_csv('../outputFiles/irish_case_data.csv', index=False)

### Count number of sequenced isolates

In [15]:
full_GISAID_metadata = pd.read_csv('../datasets/GISAID/metadata_tsv_2022_06_04/metadata.tsv', sep='\t')
full_GISAID_metadata.head()

/var/folders/9p/n32ch__j2md_gqsf35y76y0r0000gn/T/ipykernel_67073/3307405906.py:1: DtypeWarning: Columns (5,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  full_GISAID_metadata = pd.read_csv('../datasets/GISAID/metadata_tsv_2022_06_04/metadata.tsv', sep='\t')

,Virus name,Type,Accession ID,Collection date,Location,Additional location information,Sequence length,Host,Patient age,Gender,...,Pangolin version,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,N-Content,GC-Content
0,hCoV-19/Australia/ACT3126/2022,betacoronavirus,EPI_ISL_10010236,2022-01-25,Oceania / Australia / Australian Capital Terri...,NaN,29747,Human,unknown,unknown,...,PANGO-v1.8,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V...",2022-02-17,NaN,True,NaN,NaN,NaN,0.379635
1,hCoV-19/Australia/ACT3112/2022,betacoronavirus,EPI_ISL_10010227,2022-01-25,Oceania / Australia / Australian Capital Terri...,NaN,29747,Human,unknown,unknown,...,PLEARN-v1.8,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V...",2022-02-17,NaN,True,NaN,NaN,0.009446,0.379794
2,hCoV-19/Australia/ACT3119/2022,betacoronavirus,EPI_ISL_10010232,2022-01-25,Oceania / Australia / Australian Capital Terri...,NaN,29747,Human,unknown,unknown,...,PLEARN-v1.8,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V...",2022-02-17,NaN,True,NaN,NaN,0.000134,0.379585
3,hCoV-19/Turkey/HSGM-DM758/2021,betacoronavirus,EPI_ISL_3578085,2021-08-18,Europe / Turkey,NaN,29754,Human,unknown,unknown,...,PLEARN-v1.8,VOC Delta GK (B.1.617.2+AY.*) first detected i...,"(N_D377Y,M_I82T,Spike_D950N,N_R203M,NSP12_G671...",2021-08-23,NaN,True,True,NaN,0.000101,0.379853
4,hCoV-19/Germany/NW-RKI-I-561112/2022,betacoronavirus,EPI_ISL_10299251,2022-01-17,Europe / Germany / North Rhine-Westphalia,NaN,29729,Human,unknown,unknown,...,PLEARN-v1.8,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,Spike_T95I,Spike_A67V,Spike_K417N,...",2022-02-24,NaN,True,NaN,NaN,0.048908,0.380371

In [16]:
def simplified_country(row):
    location = ''
    if row['Location'].startswith('Europe / United Kingdom / Northern Ireland'):
        location = 'Northern Ireland'
    elif row['Location'].startswith('Europe / Ireland'):
        location = 'Republic of Ireland'
    else:
        location = 'Other'
    return location

full_GISAID_metadata['Simple country'] = full_GISAID_metadata.apply(simplified_country, axis = 1)

In [17]:
irish_GISAID_metadata = full_GISAID_metadata[full_GISAID_metadata['Simple country'].isin(['Northern Ireland', 'Republic of Ireland'])].copy()
irish_GISAID_metadata.groupby('Simple country').count()

,Virus name,Type,Accession ID,Collection date,Location,Additional location information,Sequence length,Host,Patient age,Gender,...,Pangolin version,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,N-Content,GC-Content
Simple country,,,,,,,,,,,,,,,,,,,,,
Northern Ireland,61550,61550,61550,61550,61550,0,61550,61550,61550,61550,...,61550,58842,61550,61550,0,61546,24172,3455,44788,61550
Republic of Ireland,71437,71437,71437,71437,71437,2,71437,71437,71437,71437,...,71436,67556,71437,71437,0,70307,36318,9423,65729,71437

In [27]:
irish_GISAID_metadata.to_csv('../datasets/GISAID/metadata_tsv_2022_06_04/metadata.RoIAndNI.tsv', sep='\t', index=False)

In [34]:
irish_GISAID_metadata.groupby('Pango lineage').count().sort_values(by="Accession ID", ascending=False).head(50)

,Virus name,Type,Accession ID,Collection date,Location,Additional location information,Sequence length,Host,Patient age,Gender,...,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,N-Content,GC-Content,Simple country,Collection date 2
Pango lineage,,,,,,,,,,,,,,,,,,,,,
AY.4,39836,39836,39836,39836,39836,0,39836,39836,39836,39836,...,39836,39836,0,39754,23664,2424,32655,39836,39836,39836
B.1.1.7,24127,24127,24127,24127,24127,0,24127,24127,24127,24127,...,24127,24127,0,24005,17007,2119,18867,24127,24127,24127
BA.2,17326,17326,17326,17326,17326,0,17326,17326,17326,17326,...,17326,17326,0,17202,343,1117,15602,17326,17326,17326
BA.1,6084,6084,6084,6084,6084,0,6084,6084,6084,6084,...,6084,6084,0,6073,65,1405,5531,6084,6084,6084
AY.5,5886,5886,5886,5886,5886,0,5886,5886,5886,5886,...,5886,5886,0,5882,3270,375,4647,5886,5886,5886
BA.1.1,3991,3991,3991,3991,3991,0,3991,3991,3991,3991,...,3991,3991,0,3990,99,1017,3879,3991,3991,3991
BA.1.17.2,2712,2712,2712,2712,2712,0,2712,2712,2712,2712,...,2712,2712,0,2711,22,226,2471,2712,2712,2712
AY.43,2317,2317,2317,2317,2317,1,2317,2317,2317,2317,...,2317,2317,0,2317,1825,178,1965,2317,2317,2317
BA.1.1.15,1674,1674,1674,1674,1674,0,1674,1674,1674,1674,...,1674,1674,0,1671,37,256,1655,1674,1674,1674
AY.122,1671,1671,1671,1671,1671,0,1671,1671,1671,1671,...,1671,1671,0,1670,1204,195,1336,1671,1671,1671
AY.6,1355,1355,1355,1355,1355,0,1355,1355,1355,1355,...,1355,1355,0,1355,807,89,1267,1355,1355,1355
AY.9.2,1262,1262,1262,1262,1262,0,1262,1262,1262,1262,...,1262,1262,0,863,497,113,1071,1262,1262,1262
B.1.617.2,1257,1257,1257,1257,1257,0,1257,1257,1257,1257,...,1257,1257,0,1249,556,300,1194,1257,1257,1257
AY.4.2.2,1210,1210,1210,1210,1210,0,1210,1210,1210,1210,...,1210,1210,0,1210,1010,43,489,1210,1210,1210
AY.50,1202,1202,1202,1202,1202,0,1202,1202,1202,1202,...,1202,1202,0,1190,961,92,1194,1202,1202,1202
B.1.1,1047,1047,1047,1047,1047,0,1047,1047,1047,1047,...,1047,1047,0,1047,650,118,762,1047,1047,1047
AY.98,1000,1000,1000,1000,1000,0,1000,1000,1000,1000,...,1000,1000,0,996,603,51,672,1000,1000,1000
BA.1.15,947,947,947,947,947,0,947,947,947,947,...,947,947,0,947,16,495,924,947,947,947
AY.4.2,906,906,906,906,906,0,906,906,906,906,...,906,906,0,906,707,45,519,906,906,906
BA.1.18,782,782,782,782,782,0,782,782,782,782,...,782,782,0,781,11,115,627,782,782,782
BA.2.9,716,716,716,716,716,0,716,716,716,716,...,716,716,0,693,29,34,652,716,716,716
BA.1.17,661,661,661,661,661,0,661,661,661,661,...,661,661,0,661,11,54,573,661,661,661
BA.1.15.1,549,549,549,549,549,0,549,549,549,549,...,549,549,0,549,1,217,541,549,549,549
AY.120,546,546,546,546,546,0,546,546,546,546,...,546,546,0,546,297,38,443,546,546,546
BA.2.18,524,524,524,524,524,0,524,524,524,524,...,524,524,0,522,14,14,445,524,524,524
B.1,470,470,470,470,470,0,470,470,470,470,...,470,470,0,467,249,83,382,470,470,470
Unassigned,417,417,417,417,417,0,417,417,417,417,...,417,417,0,365,28,385,413,417,417,417
BA.1.1.1,381,381,381,381,381,0,381,381,381,381,...,381,381,0,381,6,51,367,381,381,381
BA.1.16,377,377,377,377,377,0,377,377,377,377,...,377,377,0,377,5,38,358,377,377,377
AY.4.10,364,364,364,364,364,0,364,364,364,364,...,364,364,0,364,218,102,350,364,364,364
B.1.177.56,352,352,352,352,352,0,352,352,352,352,...,352,352,0,352,229,33,227,352,352,352
B.1.177.54,348,348,348,348,348,0,348,348,348,348,...,348,348,0,347,238,23,183,348,348,348
BA.2.3,348,348,348,348,348,0,348,348,348,348,...,348,348,0,342,10,16,309,348,348,348
AZ.4,333,333,333,333,333,0,333,333,333,333,...,333,333,0,333,15,21,181,333,333,333
B.1.1.83,309,309,309,309,309,0,309,309,309,309,...,309,309,0,309,201,36,190,309,309,309
B.1.177,287,287,287,287,287,0,287,287,287,287,...,287,287,0,284,179,25,181,287,287,287
AY.4.1,269,269,269,269,269,0,269,269,269,269,...,269,269,0,269,154,13,253,269,269,269
AY.4.3,264,264,264,264,264,0,264,264,264,264,...,264,264,0,264,230,17,261,264,264,264
AY.9,262,262,262,262,262,0,262,262,262,262,...,262,262,0,205,98,23,231,262,262,262
B.1.177.58,255,255,255,255,255,0,255,255,255,255,...,255,255,0,254,143,32,158,255,255,255
AY.127,245,245,245,245,245,0,245,245,245,245,...,245,245,0,245,204,20,187,245,245,245
AY.17,234,234,234,234,234,0,234,234,234,234,...,234,234,0,233,68,16,233,234,234,234
BA.2.23,229,229,229,229,229,0,229,229,229,229,...,229,229,0,128,6,42,206,229,229,229
B.1.1.74,224,224,224,224,224,0,224,224,224,224,...,224,224,0,224,202,4,57,224,224,224
AY.98.1,221,221,221,221,221,0,221,221,221,221,...,221,221,0,221,188,15,203,221,221,221
B.1.617.1,215,215,215,215,215,0,215,215,215,215,...,215,215,0,215,154,20,213,215,215,215
B.1.258.2,204,204,204,204,204,0,204,204,204,204,...,204,204,0,204,147,15,185,204,204,204
AY.100,202,202,202,202,202,0,202,202,202,202,...,202,202,0,202,167,24,192,202,202,202
B.1.1.51,189,189,189,189,189,0,189,189,189,189,...,189,189,0,189,159,4,56,189,189,189
AY.125,188,188,188,188,188,0,188,188,188,188,...,188,188,0,188,148,21,178,188,188,188

In [63]:
ni_sequences = irish_GISAID_metadata[irish_GISAID_metadata['Simple Country'] == 'Northern Ireland'].groupby(['Collection date','Simple country']).count().reset_index()[['Collection date','Simple country','Accession ID']]

    Collection date    Simple country  Accession ID
0        2020-02-26  Northern Ireland             1
1        2020-03-10  Northern Ireland             2
2        2020-03-11  Northern Ireland             2
3        2020-03-13  Northern Ireland             1
4        2020-03-14  Northern Ireland             6
..              ...               ...           ...
702      2022-05-09  Northern Ireland             3
703      2022-05-10  Northern Ireland             4
704      2022-05-11  Northern Ireland             8
705      2022-05-12  Northern Ireland             3
706      2022-05-13  Northern Ireland             3

[707 rows x 3 columns]