# Create different analysis timepoints

```
Initial introductions
B.1.177
B.1.1.7 - Alpha
AY - Delta
B.1.1.529 - Omicron
BA.2
Recombinants
```

### Read in full GISAID metadata

In [2]:
import pandas as pd

In [3]:
full_GISAID_metadata = pd.read_csv('../datasets/GISAID/metadata_tsv_2022_06_04/metadata.tsv', sep='\t')
full_GISAID_metadata.head()

/var/folders/9p/n32ch__j2md_gqsf35y76y0r0000gn/T/ipykernel_11979/3307405906.py:1: DtypeWarning: Columns (5,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  full_GISAID_metadata = pd.read_csv('../datasets/GISAID/metadata_tsv_2022_06_04/metadata.tsv', sep='\t')

,Virus name,Type,Accession ID,Collection date,Location,Additional location information,Sequence length,Host,Patient age,Gender,...,Pangolin version,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,N-Content,GC-Content
0,hCoV-19/Australia/ACT3126/2022,betacoronavirus,EPI_ISL_10010236,2022-01-25,Oceania / Australia / Australian Capital Terri...,NaN,29747,Human,unknown,unknown,...,PANGO-v1.8,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V...",2022-02-17,NaN,True,NaN,NaN,NaN,0.379635
1,hCoV-19/Australia/ACT3112/2022,betacoronavirus,EPI_ISL_10010227,2022-01-25,Oceania / Australia / Australian Capital Terri...,NaN,29747,Human,unknown,unknown,...,PLEARN-v1.8,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V...",2022-02-17,NaN,True,NaN,NaN,0.009446,0.379794
2,hCoV-19/Australia/ACT3119/2022,betacoronavirus,EPI_ISL_10010232,2022-01-25,Oceania / Australia / Australian Capital Terri...,NaN,29747,Human,unknown,unknown,...,PLEARN-v1.8,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V...",2022-02-17,NaN,True,NaN,NaN,0.000134,0.379585
3,hCoV-19/Turkey/HSGM-DM758/2021,betacoronavirus,EPI_ISL_3578085,2021-08-18,Europe / Turkey,NaN,29754,Human,unknown,unknown,...,PLEARN-v1.8,VOC Delta GK (B.1.617.2+AY.*) first detected i...,"(N_D377Y,M_I82T,Spike_D950N,N_R203M,NSP12_G671...",2021-08-23,NaN,True,True,NaN,0.000101,0.379853
4,hCoV-19/Germany/NW-RKI-I-561112/2022,betacoronavirus,EPI_ISL_10299251,2022-01-17,Europe / Germany / North Rhine-Westphalia,NaN,29729,Human,unknown,unknown,...,PLEARN-v1.8,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,Spike_T95I,Spike_A67V,Spike_K417N,...",2022-02-24,NaN,True,NaN,NaN,0.048908,0.380371

In [4]:
full_GISAID_metadata.describe(include='all')

,Virus name,Type,Accession ID,Collection date,Location,Additional location information,Sequence length,Host,Patient age,Gender,...,Pangolin version,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,N-Content,GC-Content
count,11193128,11193109,11193128,11193128,11193128,303124,1.119313e+07,11193128,11190252,11190237,...,11190043,9945186,11183928,11193128,1,11015280,5516331,886317,6.886818e+06,1.119313e+07
unique,11187478,1,11193128,1107,36231,19483,NaN,41,2072,385,...,5,14,5024500,865,1,1,1,1,NaN,NaN
top,hCoV-19/India/TG-CDFD-WGS236_GMCSDPT/2021,betacoronavirus,EPI_ISL_10010236,2021,Europe / United Kingdom / England,Other: Local case,NaN,Human,unknown,unknown,...,PLEARN-v1.8,VOC Delta GK (B.1.617.2+AY.*) first detected i...,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I...",2021-11-17,True,True,True,True,NaN,NaN
freq,22,11193109,1,69145,2195080,5116,NaN,11183928,6998647,7033100,...,8999088,4435487,136233,68769,1,11015280,5516331,886317,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,2.942653e+04,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.461963e-02,3.793251e-01
std,NaN,NaN,NaN,NaN,NaN,NaN,2.941226e+03,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.552501e-02,2.073108e-03
min,NaN,NaN,NaN,NaN,NaN,NaN,3.500000e+01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.270111e-05,2.857143e-02
25%,NaN,NaN,NaN,NaN,NaN,NaN,2.973400e+04,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.891048e-03,3.792231e-01
50%,NaN,NaN,NaN,NaN,NaN,NaN,2.976900e+04,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.785195e-03,3.795498e-01
75%,NaN,NaN,NaN,NaN,NaN,NaN,2.980700e+04,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.775165e-02,3.797643e-01
max,NaN,NaN,NaN,NaN,NaN,NaN,6.005400e+04,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.977176e-01,5.357143e-01

#### Remove unnecessary columns

In [5]:
full_GISAID_metadata.drop(['Virus name','Type', 'Sequence length','Patient age','Gender','Pangolin version','Pangolin version','N-Content','GC-Content'], axis=1, inplace=True)

In [6]:
full_GISAID_metadata.columns

Index(['Accession ID', 'Collection date', 'Location',
       'Additional location information', 'Host', 'Clade', 'Pango lineage',
       'Variant', 'AA Substitutions', 'Submission date', 'Is reference?',
       'Is complete?', 'Is high coverage?', 'Is low coverage?'],
      dtype='object')

In [7]:
full_GISAID_metadata.dtypes

Accession ID                       object
Collection date                    object
Location                           object
Additional location information    object
Host                               object
Clade                              object
Pango lineage                      object
Variant                            object
AA Substitutions                   object
Submission date                    object
Is reference?                      object
Is complete?                       object
Is high coverage?                  object
Is low coverage?                   object
dtype: object

#### Convert date and extract country information

In [8]:
full_GISAID_metadata['Collection date 2'] = pd.to_datetime(full_GISAID_metadata['Collection date'])

In [9]:
def extract_country(row):
    location = ''
    if row['Location'].startswith('Europe / United Kingdom / Northern Ireland'):
        location = 'Northern Ireland'
    elif row['Location'].startswith('Europe / United Kingdom / Scotland'):
        location = 'Scotland'
    elif row['Location'].startswith('Europe / United Kingdom / England'):
        location = 'England'
    elif row['Location'].startswith('Europe / United Kingdom / Wales'):
        location = 'Wales'
    elif row['Location'].startswith('Europe / Ireland'):
        location = 'Republic of Ireland'
    else:
        location = ' / '.join(row['Location'].split(' / ')[0:2])
    return location

def simplified_country(row):
    location = ''
    if row['Location'].startswith('Europe / United Kingdom / Northern Ireland') or row['Location'].startswith('Europe / Ireland'):
        location = 'Ireland'
    else:
        location = 'Other'
    return location

full_GISAID_metadata['Country'] = full_GISAID_metadata.apply(extract_country, axis = 1)
full_GISAID_metadata['Simple country'] = full_GISAID_metadata.apply(simplified_country, axis = 1)

In [10]:
full_GISAID_metadata.head()

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country
0,EPI_ISL_10010236,2022-01-25,Oceania / Australia / Australian Capital Terri...,NaN,Human,GRA,BA.1.17,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V...",2022-02-17,NaN,True,NaN,NaN,2022-01-25,Oceania / Australia,Other
1,EPI_ISL_10010227,2022-01-25,Oceania / Australia / Australian Capital Terri...,NaN,Human,GRA,BA.1.17,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V...",2022-02-17,NaN,True,NaN,NaN,2022-01-25,Oceania / Australia,Other
2,EPI_ISL_10010232,2022-01-25,Oceania / Australia / Australian Capital Terri...,NaN,Human,GRA,BA.1.17,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V...",2022-02-17,NaN,True,NaN,NaN,2022-01-25,Oceania / Australia,Other
3,EPI_ISL_3578085,2021-08-18,Europe / Turkey,NaN,Human,GK,B.1.617.2,VOC Delta GK (B.1.617.2+AY.*) first detected i...,"(N_D377Y,M_I82T,Spike_D950N,N_R203M,NSP12_G671...",2021-08-23,NaN,True,True,NaN,2021-08-18,Europe / Turkey,Other
4,EPI_ISL_10299251,2022-01-17,Europe / Germany / North Rhine-Westphalia,NaN,Human,GRA,BA.1,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,Spike_T95I,Spike_A67V,Spike_K417N,...",2022-02-24,NaN,True,NaN,NaN,2022-01-17,Europe / Germany,Other

In [11]:
full_GISAID_metadata.groupby('Simple country').count()

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country
Simple country,,,,,,,,,,,,,,,,
Ireland,132987,132987,132987,2,132987,132987,132987,126398,132987,132987,0,131853,60490,12878,132987,132987
Other,11060141,11060141,11060141,303122,11060141,11060049,11060141,9818788,11050941,11060141,1,10883427,5455841,873439,11060141,11060141

## Validate dates and identify outliers

### Rename columns of datefile

In [12]:
date_file = pd.read_csv('../datasets/GISAID/GISAID-hCoV-19-phylogeny-2022-05-20/date_file.csv', sep=" ")
date_file

             accession_id collection_date
0         EPI_ISL_2817701      2021-06-25
1         EPI_ISL_1008450      2021-01-22
2         EPI_ISL_1008451      2021-01-18
3         EPI_ISL_1008452      2021-01-19
4         EPI_ISL_1008453      2021-01-19
...                   ...             ...
7603542   EPI_ISL_1015209      2020-02-02
7603543  EPI_ISL_10497481      2020-01-29
7603544   EPI_ISL_1081260      2020-02-08
7603545  EPI_ISL_10008528      2022-01-18
7603546  EPI_ISL_10077984      2021-12-29

[7603547 rows x 2 columns]

In [13]:
date_file.describe()

           accession_id collection_date
count           7603547         7603547
unique          7603547             962
top     EPI_ISL_2817701      2022-01-03
freq                  1           48855

In [14]:
date_file.rename(columns={'accession_id': 'strain', 'collection_date': 'date'}, inplace=True)

In [15]:
date_file.sort_values(by='date')

                   strain        date
6442452    EPI_ISL_402123  2019-12-24
7603347    EPI_ISL_406798  2019-12-26
7603394    EPI_ISL_402121  2019-12-30
7602992    EPI_ISL_529217  2019-12-30
6442453    EPI_ISL_402127  2019-12-30
...                   ...         ...
2178942  EPI_ISL_11670744  2022-03-31
2178938  EPI_ISL_11670743  2022-03-31
2130005  EPI_ISL_11664471  2022-03-31
2909235  EPI_ISL_11695120  2022-03-31
2130769  EPI_ISL_11664468  2022-03-31

[7603547 rows x 2 columns]

In [16]:
date_file.to_csv('../datasets/GISAID/GISAID-hCoV-19-phylogeny-2022-05-20/date_file.tsv', sep="\t", index=False)

### Run Chronumental

```bash
~/research/irishCovidIntros/analysis/outputFiles/chronumental
(irishIntros2) ❯ chronumental --tree ../../datasets/GISAID/GISAID-hCoV-19-phylogeny-2022-04-04/global.tree --dates ../../datasets/GISAID/GISAID-hCoV-19-phylogeny-2022-04-04/date_file.tsv > chronumental.out      
```

In [16]:
chronumental_dates = pd.read_csv('../outputFiles/chronumental/chronumental_dates_date_file.tsv.tsv', sep="\t")
chronumental_dates

                  strain              predicted_date
0                 node_1  2019-12-16 07:51:42.497864
1         EPI_ISL_766032  2020-03-08 18:11:00.456848
2         EPI_ISL_604910  2020-03-08 18:11:00.456848
3         EPI_ISL_604893  2020-03-08 18:11:00.456848
4         EPI_ISL_604676  2020-03-09 16:12:06.155090
...                  ...                         ...
9122821   EPI_ISL_529146  2020-02-14 06:28:15.368958
9122822   EPI_ISL_411952  2020-01-25 19:50:10.356903
9122823  EPI_ISL_1040043  2020-02-18 06:48:17.712708
9122824   EPI_ISL_429101  2020-01-27 06:45:33.988953
9122825  EPI_ISL_2589955  2020-12-03 20:26:46.599426

[9122826 rows x 2 columns]

In [17]:
merged_dates = pd.merge(date_file,chronumental_dates,on="strain")
merged_dates

                   strain        date              predicted_date
0         EPI_ISL_2817701  2021-06-25  2021-06-24 22:22:15.195923
1         EPI_ISL_1008450  2021-01-22  2021-01-22 12:58:47.188110
2         EPI_ISL_1008451  2021-01-18  2021-01-17 11:57:55.806427
3         EPI_ISL_1008452  2021-01-19  2021-01-19 04:50:29.493713
4         EPI_ISL_1008453  2021-01-19  2021-01-29 00:31:55.691078
...                   ...         ...                         ...
7603542   EPI_ISL_1015209  2020-02-02  2020-01-31 19:23:47.192688
7603543  EPI_ISL_10497481  2020-01-29  2020-01-26 15:04:46.701965
7603544   EPI_ISL_1081260  2020-02-08  2020-02-06 19:04:37.748108
7603545  EPI_ISL_10008528  2022-01-18  2021-11-16 04:32:01.247864
7603546  EPI_ISL_10077984  2021-12-29  2021-10-30 02:25:35.160828

[7603547 rows x 3 columns]

In [18]:
merged_dates['date'] = pd.to_datetime(merged_dates['date'])
merged_dates['predicted_date'] = pd.to_datetime(merged_dates['predicted_date'])

### Calculate difference between metadata date and predicted date

In [19]:
merged_dates['date_diff'] = merged_dates['date'] - merged_dates['predicted_date']

In [20]:
merged_dates

,strain,date,predicted_date,date_diff
0,EPI_ISL_2817701,2021-06-25,2021-06-24 22:22:15.195923,0 days 01:37:44.804077
1,EPI_ISL_1008450,2021-01-22,2021-01-22 12:58:47.188110,-1 days +11:01:12.811890
2,EPI_ISL_1008451,2021-01-18,2021-01-17 11:57:55.806427,0 days 12:02:04.193573
3,EPI_ISL_1008452,2021-01-19,2021-01-19 04:50:29.493713,-1 days +19:09:30.506287
4,EPI_ISL_1008453,2021-01-19,2021-01-29 00:31:55.691078,-11 days +23:28:04.308922
...,...,...,...,...
7603542,EPI_ISL_1015209,2020-02-02,2020-01-31 19:23:47.192688,1 days 04:36:12.807312
7603543,EPI_ISL_10497481,2020-01-29,2020-01-26 15:04:46.701965,2 days 08:55:13.298035
7603544,EPI_ISL_1081260,2020-02-08,2020-02-06 19:04:37.748108,1 days 04:55:22.251892
7603545,EPI_ISL_10008528,2022-01-18,2021-11-16 04:32:01.247864,62 days 19:27:58.752136
7603546,EPI_ISL_10077984,2021-12-29,2021-10-30 02:25:35.160828,59 days 21:34:24.839172

In [21]:
merged_dates.describe()

                         date_diff
count                      7603547
mean   -2 days +15:38:26.612841884
std     19 days 18:22:23.381221324
min     -599 days +23:45:42.736816
25%    -1 days +17:16:37.986030500
50%         0 days 09:35:58.875275
75%         1 days 07:08:21.622009
max       760 days 14:41:13.997498

### Calculate Z-score of date difference

In [22]:
merged_dates['zscore'] = (merged_dates['date_diff'] - merged_dates['date_diff'].mean()) / merged_dates['date_diff'].std()
merged_dates

,strain,date,predicted_date,date_diff,zscore
0,EPI_ISL_2817701,2021-06-25,2021-06-24 22:22:15.195923,0 days 01:37:44.804077,0.071649
1,EPI_ISL_1008450,2021-01-22,2021-01-22 12:58:47.188110,-1 days +11:01:12.811890,0.040853
2,EPI_ISL_1008451,2021-01-18,2021-01-17 11:57:55.806427,0 days 12:02:04.193573,0.093584
3,EPI_ISL_1008452,2021-01-19,2021-01-19 04:50:29.493713,-1 days +19:09:30.506287,0.058009
4,EPI_ISL_1008453,2021-01-19,2021-01-29 00:31:55.691078,-11 days +23:28:04.308922,-0.438838
...,...,...,...,...,...
7603542,EPI_ISL_1015209,2020-02-02,2020-01-31 19:23:47.192688,1 days 04:36:12.807312,0.128512
7603543,EPI_ISL_10497481,2020-01-29,2020-01-26 15:04:46.701965,2 days 08:55:13.298035,0.188205
7603544,EPI_ISL_1081260,2020-02-08,2020-02-06 19:04:37.748108,1 days 04:55:22.251892,0.129185
7603545,EPI_ISL_10008528,2022-01-18,2021-11-16 04:32:01.247864,62 days 19:27:58.752136,3.246022
7603546,EPI_ISL_10077984,2021-12-29,2021-10-30 02:25:35.160828,59 days 21:34:24.839172,3.098685

In [23]:
merged_dates[(merged_dates['zscore'] > 3) | (merged_dates['zscore'] < -3)]

,strain,date,predicted_date,date_diff,zscore
172,EPI_ISL_2815502,2021-01-01,2021-07-04 02:57:42.725830,-185 days +21:02:17.274170,-9.247156
809,EPI_ISL_2818099,2021-01-01,2021-06-22 02:38:30.932922,-173 days +21:21:29.067078,-8.639365
978,EPI_ISL_2818090,2021-01-01,2021-06-14 09:03:15.590973,-165 days +14:56:44.409027,-8.248137
1960,EPI_ISL_1011529,2020-08-02,2020-10-23 16:00:51.827547,-83 days +07:59:08.172453,-4.114177
6079,EPI_ISL_1015471,2021-01-01,2020-08-28 15:53:54.903717,125 days 08:06:05.096283,6.409428
...,...,...,...,...,...
7603432,EPI_ISL_3025206,2021-05-01,2019-12-25 13:08:56.311340,492 days 10:51:03.688660,24.982885
7603525,EPI_ISL_1714686,2020-04-11,2020-09-22 22:52:39.261245,-165 days +01:07:20.738755,-8.277278
7603538,EPI_ISL_10248067,2022-02-07,2021-12-04 12:53:52.575989,64 days 11:06:07.424011,3.329576
7603545,EPI_ISL_10008528,2022-01-18,2021-11-16 04:32:01.247864,62 days 19:27:58.752136,3.246022
7603546,EPI_ISL_10077984,2021-12-29,2021-10-30 02:25:35.160828,59 days 21:34:24.839172,3.098685

### Get list of date outliers by Z-score

In [24]:
date_outliers = merged_dates[(merged_dates['zscore'] > 3) | (merged_dates['zscore'] < -3)]['strain']
date_outliers

172         EPI_ISL_2815502
809         EPI_ISL_2818099
978         EPI_ISL_2818090
1960        EPI_ISL_1011529
6079        EPI_ISL_1015471
                 ...
7603432     EPI_ISL_3025206
7603525     EPI_ISL_1714686
7603538    EPI_ISL_10248067
7603545    EPI_ISL_10008528
7603546    EPI_ISL_10077984
Name: strain, Length: 46278, dtype: object

In [25]:
merged_dates['outlier'] = False
merged_dates.loc[(merged_dates['zscore'] > 3) | (merged_dates['zscore'] < -3), 'outlier'] = True

In [26]:
merged_dates.groupby('outlier').count()

          strain     date  predicted_date  date_diff   zscore
outlier
False    7557269  7557269         7557269    7557269  7557269
True       46278    46278           46278      46278    46278

In [27]:
merged_dates.groupby('outlier').describe()

        date_diff                                                              \
            count                           mean                          std
outlier
False     7557269    -1 days +20:59:43.231999733    4 days 18:46:21.724208411
True        46278  -202 days +21:59:11.204517868  142 days 12:49:26.468061482

                                                                    \
                                min                            25%
outlier
False     -61 days +08:39:15.242157       -1 days +17:44:31.514511
True     -599 days +23:45:42.736816  -329 days +13:10:30.707931500

                                                                    \
                                   50%                         75%
outlier
False           0 days 09:44:27.504501      1 days 07:16:20.845642
True     -219 days +22:44:57.534942500  -100 days +12:28:01.459236

                                      zscore                                 \
                              max      count       mean       std       min
outlier
False     57 days 22:43:52.618618  7557269.0   0.061881  0.241946  -2.99972
True     760 days 14:41:13.997498    46278.0 -10.105239  7.211251 -30.18695


               25%        50%       75%        max
outlier
False     0.055023   0.088749  0.134139   2.999939
True    -16.549135 -10.963713 -4.964812  38.549918

In [28]:
merged_dates[(merged_dates['zscore'] < -2.999) & (merged_dates['zscore'] > -3.001)]

,strain,date,predicted_date,date_diff,zscore,outlier
297241,EPI_ISL_10998294,2022-01-01,2022-03-02 15:46:38.614311,-61 days +08:13:21.385689,-3.000630,True
479225,EPI_ISL_11462302,2022-01-01,2022-03-02 15:45:53.581524,-61 days +08:14:06.418476,-3.000603,True
479755,EPI_ISL_11462312,2022-01-01,2022-03-02 15:07:46.616821,-61 days +08:52:13.383179,-2.999264,False
480063,EPI_ISL_11462383,2022-01-01,2022-03-02 15:07:46.616821,-61 days +08:52:13.383179,-2.999264,False
2908542,EPI_ISL_11263621,2022-01-01,2022-03-02 15:33:22.608490,-61 days +08:26:37.391510,-3.000163,True
2923840,EPI_ISL_11264568,2022-01-01,2022-03-02 15:01:55.892029,-61 days +08:58:04.107971,-2.999059,False
3456087,EPI_ISL_1622033,2021-01-04,2021-03-05 15:34:55.000666,-61 days +08:25:04.999334,-3.000218,True
3647221,EPI_ISL_3694329,2021-07-01,2021-08-30 15:10:59.344482,-61 days +08:49:00.655518,-2.999377,False
5324055,EPI_ISL_1280136,2020-11-30,2021-01-29 15:04:25.077782,-61 days +08:55:34.922218,-2.999146,False
6797793,EPI_ISL_1469456,2021-01-01,2021-03-02 15:20:44.757843,-61 days +08:39:15.242157,-2.999720,False
7237197,EPI_ISL_475751,2020-05-01,2020-06-30 15:46:34.654083,-61 days +08:13:25.345917,-3.000627,True

In [29]:
merged_dates[(merged_dates['zscore'] > 2.999) & (merged_dates['zscore'] < 3.001)]

,strain,date,predicted_date,date_diff,zscore,outlier
124489,EPI_ISL_1176228,2021-01-01,2020-11-04 00:47:31.199341,57 days 23:12:28.800659,3.000944,True
124510,EPI_ISL_1176247,2021-01-01,2020-11-04 00:47:31.199341,57 days 23:12:28.800659,3.000944,True
1932999,EPI_ISL_3392964,2021-06-01,2021-04-04 01:29:09.984741,57 days 22:30:50.015259,2.999481,False
3183816,EPI_ISL_2714558,2021-06-01,2021-04-04 01:25:46.483612,57 days 22:34:13.516388,2.999600,False
3183817,EPI_ISL_2714559,2021-06-01,2021-04-04 01:25:46.483612,57 days 22:34:13.516388,2.999600,False
4036489,EPI_ISL_2922823,2021-06-01,2021-04-04 01:25:46.483612,57 days 22:34:13.516388,2.999600,False
4036490,EPI_ISL_2922824,2021-06-01,2021-04-04 01:25:46.483612,57 days 22:34:13.516388,2.999600,False
4537698,EPI_ISL_4409396,2021-09-01,2021-07-05 00:54:50.769196,57 days 23:05:09.230804,3.000687,True
4764573,EPI_ISL_4542307,2021-09-01,2021-07-05 00:54:50.769196,57 days 23:05:09.230804,3.000687,True
4869585,EPI_ISL_4657320,2021-09-01,2021-07-05 00:54:50.769196,57 days 23:05:09.230804,3.000687,True
4869624,EPI_ISL_4657394,2021-09-01,2021-07-05 00:54:50.769196,57 days 23:05:09.230804,3.000687,True
5393087,EPI_ISL_6736506,2021-01-01,2020-11-04 01:16:07.381382,57 days 22:43:52.618618,2.999939,False
5794516,EPI_ISL_1311703,2021-01-01,2020-11-04 00:48:57.428284,57 days 23:11:02.571716,3.000893,True

In [39]:
merged_dates.to_csv('../outputFiles/chronumental/merged_actual_and_predicted_with_zscore.csv', index=False)

### Reduce full metadata to strains included in the tree and add outlier information

In [30]:
full_GISAID_metadata = full_GISAID_metadata[full_GISAID_metadata['Accession ID'].isin(date_file['strain'])].copy()
full_GISAID_metadata['outlier'] = 'no'
full_GISAID_metadata.loc[full_GISAID_metadata['Accession ID'].isin(date_outliers), 'outlier'] = 'yes'

In [31]:
full_GISAID_metadata[['Accession ID','Pango lineage']].to_csv('../datasets/GISAID/metadata_tsv_2022_06_04/strain_and_lineage.tsv', sep='\t', index=False)

## Analysis timepoints

### Timepoint A Initial introductions

In [31]:
timepoint1 = full_GISAID_metadata[
    (full_GISAID_metadata['Collection date 2'] >= pd.to_datetime('2019-12-01')) &
    (full_GISAID_metadata['Collection date 2'] <= pd.to_datetime('2020-05-31'))]
timepoint1

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
1443,EPI_ISL_6331219,2020-01,Europe / France / Provence-Alpes-Cote d'Azur /...,NaN,Human,GH,B.1.160,NaN,"(NSP1_F143del,N_M234I,NSP2_L271F,Spike_S477N,N...",2021-11-16,NaN,True,True,NaN,2020-01-01,Europe / France,Other,yes
1444,EPI_ISL_6331220,2020-01,Europe / France / Provence-Alpes-Cote d'Azur /...,NaN,Human,GH,B.1.160,NaN,"(N_M234I,NSP4_M324I,NSP12_A185S,NS3_Q57H,NSP13...",2021-11-16,NaN,True,True,NaN,2020-01-01,Europe / France,Other,yes
1447,EPI_ISL_6331222,2020-01,Europe / France / Provence-Alpes-Cote d'Azur /...,NaN,Human,GH,B.1.160,NaN,"(N_M234I,Spike_S477N,NSP4_M324I,NSP12_A185S,NS...",2021-11-16,NaN,True,True,NaN,2020-01-01,Europe / France,Other,yes
1448,EPI_ISL_6331223,2020-01,Europe / France / Provence-Alpes-Cote d'Azur /...,NaN,Human,GH,B.1.160,NaN,"(N_M234I,NSP2_L271F,Spike_S477N,NSP4_M324I,NSP...",2021-11-16,NaN,True,True,NaN,2020-01-01,Europe / France,Other,yes
1449,EPI_ISL_6331224,2020-01,Europe / France / Provence-Alpes-Cote d'Azur /...,NaN,Human,GH,B.1.160,NaN,"(N_M234I,NSP4_M324I,NSP12_A185S,NS3_Q57H,NSP13...",2021-11-16,NaN,True,True,NaN,2020-01-01,Europe / France,Other,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11191402,EPI_ISL_955999,2020-04,North America / USA / Ohio,NaN,Human,GR,B.1.1,NaN,"(N_R203K,N_G204R,NSP12_P323L,Spike_D614G)",2021-02-09,NaN,True,True,NaN,2020-04-01,North America / USA,Other,no
11191479,EPI_ISL_955987,2020-04,North America / USA / Ohio,NaN,Human,GR,B.1.1,NaN,"(N_R203K,N_G204R,NS7a_F87Y,NSP12_P323L,Spike_D...",2021-02-09,NaN,True,True,NaN,2020-04-01,North America / USA,Other,no
11191754,EPI_ISL_429770,2020-03-28,Europe / Luxembourg,NaN,Human,G,B.1.143,NaN,"(NSP12_P323L,Spike_D614G)",2020-04-24,NaN,True,True,NaN,2020-03-28,Europe / Luxembourg,Other,no
11191756,EPI_ISL_429777,2020-03-24,Europe / Luxembourg,NaN,Human,GR,B.1.1,NaN,"(N_R203K,N_G204R,NSP3_E119D,NSP12_P323L,Spike_...",2020-04-24,NaN,True,True,NaN,2020-03-24,Europe / Luxembourg,Other,no
11192057,EPI_ISL_559743,2020-05-13,Europe / United Kingdom / Wales,NaN,Human,GR,B.1.1,NaN,"(NSP1_F143del,NS3_I167L,NSP1_K141del,NSP10_A32...",2020-09-28,NaN,True,True,NaN,2020-05-13,Wales,Other,no

In [32]:
timepoint1 = timepoint1[~timepoint1['Accession ID'].isin(date_outliers)]

In [33]:
len(timepoint1)

103316

In [34]:
timepoint1[timepoint1['Accession ID'] == 'EPI_ISL_402125']

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
4034893,EPI_ISL_402125,2019-12-31,Asia / China,NaN,Human,L,B,NaN,(),2020-01-12,NaN,True,True,NaN,2019-12-31,Asia / China,Other,no

In [84]:
timepoint1['Accession ID'].to_csv('../outputFiles/timepoint1.AccessionIDs.txt', index=False)

In [85]:
timepoint1[['Accession ID','Simple country']].rename(columns={'Accession ID': 'strain', 'Simple country': 'country'}).to_csv('../outputFiles/timepoint1.strainCountry.txt', index=False)

In [86]:
timepoint1[['Accession ID','Country']].rename(columns={'Accession ID': 'strain', 'Country': 'country'}).to_csv('../outputFiles/timepoint1.strainCountry.all.txt', index=False)

In [52]:
!gotree prune -r -i ../datasets/GISAID/GISAID-hCoV-19-phylogeny-2022-05-20/global.tree --tipfile ../outputFiles/timepoint1.AccessionIDs.txt -o ../outputFiles/timepoint1.tree

2022/06/22 00:03:10 Newick : Branch lengths attached to root node are ignored

In [54]:
!gotree reroot outgroup -i ../outputFiles/timepoint1.tree EPI_ISL_402125 > ../outputFiles/timepoint1.rooted.nwk

In [33]:
timepoint1.groupby('Country').count().sort_values(by="Accession ID", ascending=False).head(30)

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Simple country,outlier
Country,,,,,,,,,,,,,,,,,
North America / USA,27699,27699,27699,365,27699,27699,27699,0,27679,27699,0,27691,27632,3,27699,27699,27699
England,15402,15402,15402,1,15402,15402,15402,0,15402,15402,0,15402,15123,0,15402,15402,15402
North America / Canada,8352,8352,8352,11,8352,8352,8352,0,8351,8352,0,8352,8347,0,8352,8352,8352
Asia / Japan,4330,4330,4330,155,4330,4330,4330,0,4330,4330,0,4330,4330,0,4330,4330,4330
Scotland,3898,3898,3898,0,3898,3898,3898,0,3898,3898,0,3898,3888,0,3898,3898,3898
Europe / France,3821,3821,3821,97,3821,3821,3821,0,3819,3821,0,3821,3821,0,3821,3821,3821
Europe / Spain,3013,3013,3013,241,3013,3013,3013,0,3013,3013,0,3013,3009,0,3013,3013,3013
Oceania / Australia,2808,2808,2808,3,2808,2808,2808,0,2808,2808,0,2808,2808,0,2808,2808,2808
Europe / Germany,1821,1821,1821,9,1821,1821,1821,0,1821,1821,0,1821,1814,0,1821,1821,1821
Asia / India,1752,1752,1752,311,1752,1752,1752,0,1752,1752,0,1752,1748,0,1752,1752,1752
Europe / Netherlands,1710,1710,1710,27,1710,1710,1710,0,1651,1710,0,1710,1709,0,1710,1710,1710
Europe / Italy,1589,1589,1589,65,1589,1589,1589,0,1589,1589,0,1589,1586,0,1589,1589,1589
Wales,1588,1588,1588,0,1588,1588,1588,0,1588,1588,0,1588,1585,0,1588,1588,1588
Europe / Denmark,1511,1511,1511,0,1511,1511,1511,0,1511,1511,0,1511,1509,0,1511,1511,1511
Europe / Switzerland,1388,1388,1388,5,1388,1388,1388,0,1388,1388,0,1388,1382,0,1388,1388,1388
Europe / Iceland,1345,1345,1345,227,1345,1345,1345,0,1345,1345,0,1345,1345,0,1345,1345,1345
Europe / Portugal,1214,1214,1214,14,1214,1214,1214,0,1214,1214,0,1214,1214,0,1214,1214,1214
Europe / Sweden,1212,1212,1212,0,1212,1212,1212,0,1212,1212,0,1212,1212,0,1212,1212,1212
Europe / Belgium,1173,1173,1173,91,1173,1173,1173,0,1172,1173,0,1173,1171,0,1173,1173,1173
Asia / United Arab Emirates,1113,1113,1113,0,1113,1113,1113,0,1113,1113,0,1113,1113,0,1113,1113,1113
South America / Brazil,1104,1104,1104,35,1104,1104,1104,0,1104,1104,0,1104,1104,0,1104,1104,1104
Asia / Singapore,971,971,971,591,971,971,971,0,971,971,0,971,965,0,971,971,971
Asia / China,860,860,860,120,860,860,860,0,852,860,1,860,859,0,860,860,860
North America / Mexico,823,823,823,12,823,823,823,0,823,823,0,823,823,0,823,823,823
Europe / Austria,721,721,721,24,721,721,721,0,721,721,0,721,717,0,721,721,721
Republic of Ireland,714,714,714,0,714,714,714,0,714,714,0,714,714,0,714,714,714
Europe / Finland,680,680,680,255,680,680,680,0,680,680,0,680,680,0,680,680,680
Northern Ireland,633,633,633,0,633,633,633,0,633,633,0,633,629,0,633,633,633
Europe / Russia,586,586,586,3,586,586,586,0,586,586,0,586,586,0,586,586,586
South America / Chile,563,563,563,7,563,563,563,0,563,563,0,563,563,0,563,563,563

In [34]:
timepoint1[timepoint1['Country'].isin(['Republic of Ireland','Northern Ireland'])].sort_values(by='Collection date 2', ascending=True)

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
7421013,EPI_ISL_11015044,2020,Europe / Ireland,NaN,Human,V,B,NaN,"(NSP6_K263N,NS3_G251V,NSP6_L37F)",2022-03-14,NaN,True,True,NaN,2020-01-01,Republic of Ireland,Ireland,no
5298463,EPI_ISL_414586,2020-03-03,Europe / Ireland / Limerick,NaN,Human,G,B.1,NaN,"(NSP12_P323L,Spike_D614G)",2020-03-13,NaN,True,True,NaN,2020-03-03,Republic of Ireland,Ireland,no
3781474,EPI_ISL_414587,2020-03-03,Europe / Ireland / Limerick,NaN,Human,G,B.1,NaN,"(NSP12_P323L,Spike_D614G)",2020-03-13,NaN,True,True,NaN,2020-03-03,Republic of Ireland,Ireland,no
3811617,EPI_ISL_414487,2020-03-04,Europe / Ireland / Cork,NaN,Human,L,B,NaN,(),2020-03-12,NaN,True,True,NaN,2020-03-04,Republic of Ireland,Ireland,no
5297438,EPI_ISL_418548,2020-03-06,Europe / Ireland / Dublin,NaN,Human,GR,B.1.1,NaN,"(N_R203K,N_G204R,M_T175M,NSP12_P323L,Spike_D614G)",2020-03-30,NaN,True,True,NaN,2020-03-06,Republic of Ireland,Ireland,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8042942,EPI_ISL_767793,2020-05-28,Europe / Ireland / Galway,NaN,Human,G,B.1,NaN,"(NS3_V13L,NSP12_P323L,Spike_D614G,NSP3_S1106G)",2021-01-05,NaN,True,True,NaN,2020-05-28,Republic of Ireland,Ireland,no
4140197,EPI_ISL_501039,2020-05-28,Europe / United Kingdom / Northern Ireland,NaN,Human,GR,B.1.1.83,NaN,"(NS7a_L56Q,N_R203K,N_G204R,NSP12_P323L,Spike_D...",2020-07-30,NaN,True,True,NaN,2020-05-28,Northern Ireland,Ireland,no
4139892,EPI_ISL_501056,2020-05-29,Europe / United Kingdom / Northern Ireland,NaN,Human,GR,B.1.1.83,NaN,"(N_R203K,NSP13_T481M,N_G204R,NSP12_P323L,Spike...",2020-07-30,NaN,True,True,NaN,2020-05-29,Northern Ireland,Ireland,no
7599711,EPI_ISL_585257,2020-05-29,Europe / United Kingdom / Northern Ireland,NaN,Human,GR,B.1.1.83,NaN,"(N_R203K,N_G204R,NSP12_P323L,Spike_D614G)",2020-10-19,NaN,True,True,NaN,2020-05-29,Northern Ireland,Ireland,no
1356445,EPI_ISL_501023,2020-05-30,Europe / United Kingdom / Northern Ireland,NaN,Human,GR,B.1.1.83,NaN,"(N_R203K,N_G204R,NSP12_P323L,Spike_D614G)",2020-07-30,NaN,True,True,NaN,2020-05-30,Northern Ireland,Ireland,no

```bash
pastml --tree timepoint1.rooted.nwk --data timepoint1.strainCountry.all.txt --prediction_method DELTRAN --columns country --data_sep , --work_dir timepoint1_all_pastml --resolve_polytomies --threads 2 --verbose
```

### Time point 2

In [35]:
timepoint2 = full_GISAID_metadata[
    (((full_GISAID_metadata['Pango lineage'].str.startswith('B.1.177')) | (full_GISAID_metadata['Pango lineage'].isin(['AA.1','AA.2','AA.3','AA.4','AA.5','AA.6','AA.7','AA.8','Z.1','Y.1', 'W.1', 'W.2', 'W.3', 'W.4','V.1', 'V.2', 'U.1', 'U.2', 'U.3']))) &
    (full_GISAID_metadata['outlier'] == 'no') &
    (full_GISAID_metadata['Collection date 2'] <= pd.to_datetime('2020-10-31'))) | (full_GISAID_metadata['Accession ID'] == 'EPI_ISL_402125')].sort_values(by='Collection date 2', ascending=True)
timepoint2

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
4034893,EPI_ISL_402125,2019-12-31,Asia / China,NaN,Human,L,B,NaN,(),2020-01-12,NaN,True,True,NaN,2019-12-31,Asia / China,Other,no
6881224,EPI_ISL_9388908,2020-03-03,Asia / India / Delhi,NaN,Human,G,B.1.177,NaN,"(Spike_S247R,NSP1_N128S,NSP12_P323L,Spike_D614...",2022-02-01,NaN,True,True,NaN,2020-03-03,Asia / India,Other,no
6887530,EPI_ISL_9388909,2020-03-03,Asia / India / Delhi,NaN,Human,G,B.1.177,NaN,"(Spike_G72R,Spike_N1134Y,NSP1_N128S,NSP12_P323...",2022-02-01,NaN,True,True,NaN,2020-03-03,Asia / India,Other,no
6887578,EPI_ISL_9388907,2020-03-03,Asia / India / Delhi,NaN,Human,G,B.1.177,NaN,"(Spike_S247R,NSP1_N128S,NSP12_P323L,Spike_D614...",2022-02-01,NaN,True,True,NaN,2020-03-03,Asia / India,Other,no
3653523,EPI_ISL_791809,2020-04-14,North America / USA / Massachusetts,NaN,Human,GH,B.1.177,NaN,"(NSP2_Y189N,NS3_Q57H,N_D401Y,NSP12_P323L,Spike...",2021-01-09,NaN,True,True,NaN,2020-04-14,North America / USA,Other,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1869780,EPI_ISL_829314,2020-10-31,Europe / Iceland / Reykjavik,NaN,Human,GV,B.1.177.45,NaN,"(NSP15_V127F,NS3_L95F,NS8_T87I,NSP3_Y1102H,NSP...",2021-01-15,NaN,True,True,NaN,2020-10-31,Europe / Iceland,Other,no
3368185,EPI_ISL_645965,2020-10-31,Europe / United Kingdom / England,NaN,Human,GV,B.1.177.57,NaN,"(NSP3_T1363I,NSP3_A1736V,Spike_P26S,NSP12_P323...",2020-11-20,NaN,True,True,NaN,2020-10-31,England,Other,no
3368502,EPI_ISL_645964,2020-10-31,Europe / United Kingdom / England,NaN,Human,GV,B.1.177,NaN,"(Spike_L18F,NSP2_A318V,Spike_P1069S,NSP3_M1441...",2020-11-20,NaN,True,True,NaN,2020-10-31,England,Other,no
10819311,EPI_ISL_1311504,2020-10-31,Europe / Netherlands / Limburg,NaN,Human,GV,W.2,NaN,"(NSP3_A85V,NSP3_A1711V,NSP14_P203L,NSP12_P323L...",2021-03-22,NaN,True,True,NaN,2020-10-31,Europe / Netherlands,Other,no
2886462,EPI_ISL_744604,2020-10-31,Europe / Luxembourg,NaN,Human,GV,B.1.177,NaN,"(NSP13_V187L,Spike_P272L,NSP12_P323L,Spike_A26...",2020-12-29,NaN,True,True,NaN,2020-10-31,Europe / Luxembourg,Other,no

In [36]:
timepoint2.groupby('Pango lineage').count()

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
Pango lineage,,,,,,,,,,,,,,,,,
AA.1,13,13,13,1,13,13,0,13,13,0,13,13,0,13,13,13,13
AA.3,1,1,1,0,1,1,0,1,1,0,1,1,0,1,1,1,1
AA.4,3,3,3,0,3,3,0,3,3,0,3,3,0,3,3,3,3
B,1,1,1,0,1,1,0,1,1,0,1,1,0,1,1,1,1
B.1.177,16370,16370,16370,834,16370,16370,0,16370,16370,0,16370,16361,0,16370,16370,16370,16370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
W.1,16,16,16,1,16,16,0,16,16,0,16,16,0,16,16,16,16
W.2,16,16,16,0,16,16,0,16,16,0,16,16,0,16,16,16,16
W.3,70,70,70,0,70,70,0,70,70,0,70,70,0,70,70,70,70
W.4,226,226,226,0,226,226,0,226,226,0,226,226,0,226,226,226,226
Z.1,35,35,35,0,35,35,0,35,35,0,35,35,0,35,35,35,35

In [37]:
timepoint2.groupby('Simple country').count()

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,outlier
Simple country,,,,,,,,,,,,,,,,,
Ireland,511,511,511,0,511,511,511,0,511,511,0,511,511,0,511,511,511
Other,31419,31419,31419,945,31419,31419,31419,0,31419,31419,0,31419,31404,0,31419,31419,31419

In [38]:
timepoint2[timepoint2['Accession ID'] == 'EPI_ISL_402125']

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
4034893,EPI_ISL_402125,2019-12-31,Asia / China,NaN,Human,L,B,NaN,(),2020-01-12,NaN,True,True,NaN,2019-12-31,Asia / China,Other,no

In [101]:
timepoint2['Accession ID'].to_csv('../outputFiles/timepoint2.AccessionIDs.txt', index=False)

In [102]:
timepoint2[['Accession ID','Simple country']].rename(columns={'Accession ID': 'strain', 'Simple country': 'country'}).to_csv('../outputFiles/timepoint2.strainCountry.txt', index=False)

In [103]:
timepoint2[['Accession ID','Country']].rename(columns={'Accession ID': 'strain', 'Country': 'country'}).to_csv('../outputFiles/timepoint2.strainCountry.all.txt', index=False)

In [104]:
!gotree prune -r -i ../datasets/GISAID/GISAID-hCoV-19-phylogeny-2022-05-20/global.tree --tipfile ../outputFiles/timepoint2.AccessionIDs.txt -o ../outputFiles/timepoint2.tree

2022/06/30 13:20:31 Newick : Branch lengths attached to root node are ignored

In [105]:
!gotree reroot outgroup -i ../outputFiles/timepoint2.tree EPI_ISL_402125 > ../outputFiles/timepoint2.rooted.nwk

In [39]:
timepoint2.groupby('Country').count().sort_values(by="Accession ID", ascending=False).head(30)

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Simple country,outlier
Country,,,,,,,,,,,,,,,,,
England,16351,16351,16351,0,16351,16351,16351,0,16351,16351,0,16351,16350,0,16351,16351,16351
Wales,3782,3782,3782,0,3782,3782,3782,0,3782,3782,0,3782,3780,0,3782,3782,3782
Scotland,3052,3052,3052,0,3052,3052,3052,0,3052,3052,0,3052,3045,0,3052,3052,3052
Europe / Iceland,1772,1772,1772,22,1772,1772,1772,0,1772,1772,0,1772,1772,0,1772,1772,1772
Europe / Denmark,1703,1703,1703,0,1703,1703,1703,0,1703,1703,0,1703,1703,0,1703,1703,1703
Europe / Spain,1607,1607,1607,838,1607,1607,1607,0,1607,1607,0,1607,1604,0,1607,1607,1607
Europe / Switzerland,759,759,759,0,759,759,759,0,759,759,0,759,758,0,759,759,759
Europe / Italy,565,565,565,6,565,565,565,0,565,565,0,565,565,0,565,565,565
Europe / Netherlands,355,355,355,2,355,355,355,0,355,355,0,355,355,0,355,355,355
Europe / France,337,337,337,0,337,337,337,0,337,337,0,337,337,0,337,337,337
Northern Ireland,296,296,296,0,296,296,296,0,296,296,0,296,296,0,296,296,296
Republic of Ireland,215,215,215,0,215,215,215,0,215,215,0,215,215,0,215,215,215
Europe / Germany,181,181,181,12,181,181,181,0,181,181,0,181,181,0,181,181,181
Europe / Belgium,170,170,170,46,170,170,170,0,170,170,0,170,169,0,170,170,170
Europe / Gibraltar,143,143,143,0,143,143,143,0,143,143,0,143,143,0,143,143,143
Europe / Norway,142,142,142,0,142,142,142,0,142,142,0,142,142,0,142,142,142
Europe / Luxembourg,140,140,140,0,140,140,140,0,140,140,0,140,140,0,140,140,140
Europe / Latvia,59,59,59,0,59,59,59,0,59,59,0,59,59,0,59,59,59
Europe / Sweden,58,58,58,0,58,58,58,0,58,58,0,58,58,0,58,58,58
Europe / Slovenia,35,35,35,0,35,35,35,0,35,35,0,35,35,0,35,35,35
Europe / Cyprus,18,18,18,0,18,18,18,0,18,18,0,18,18,0,18,18,18
Asia / United Arab Emirates,18,18,18,0,18,18,18,0,18,18,0,18,18,0,18,18,18
North America / Canada,17,17,17,0,17,17,17,0,17,17,0,17,17,0,17,17,17
North America / USA,13,13,13,0,13,13,13,0,13,13,0,13,13,0,13,13,13
Europe / Austria,12,12,12,0,12,12,12,0,12,12,0,12,12,0,12,12,12
Oceania / New Zealand,12,12,12,0,12,12,12,0,12,12,0,12,12,0,12,12,12
Asia / Hong Kong,12,12,12,1,12,12,12,0,12,12,0,12,12,0,12,12,12
Asia / South Korea,11,11,11,1,11,11,11,0,11,11,0,11,11,0,11,11,11
Africa / Tunisia,11,11,11,0,11,11,11,0,11,11,0,11,11,0,11,11,11
Europe / Lithuania,11,11,11,0,11,11,11,0,11,11,0,11,11,0,11,11,11

In [40]:
timepoint2[timepoint2['Country'].isin(['Republic of Ireland','Northern Ireland'])].sort_values(by='Collection date 2', ascending=True)

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
3493487,EPI_ISL_532897,2020-07-21,Europe / United Kingdom / Northern Ireland,NaN,Human,GV,B.1.177,NaN,"(NSP12_P323L,Spike_D614G,N_A220V,Spike_A222V)",2020-09-11,NaN,True,True,NaN,2020-07-21,Northern Ireland,Ireland,no
5250347,EPI_ISL_512092,2020-07-23,Europe / Ireland / Dublin,NaN,Human,GV,B.1.177,NaN,"(NSP12_M380V,Spike_E654Q,NSP6_A54S,Spike_D1163...",2020-08-10,NaN,True,True,NaN,2020-07-23,Republic of Ireland,Ireland,no
3493363,EPI_ISL_532724,2020-07-24,Europe / United Kingdom / Northern Ireland,NaN,Human,GV,B.1.177,NaN,"(NSP3_K429N,NSP6_A54S,NSP12_P323L,Spike_D614G,...",2020-09-11,NaN,True,True,NaN,2020-07-24,Northern Ireland,Ireland,no
3493468,EPI_ISL_532757,2020-07-26,Europe / United Kingdom / Northern Ireland,NaN,Human,GV,B.1.177,NaN,"(NSP3_K429N,NSP6_A54S,NS7a_V104F,NSP12_P323L,S...",2020-09-11,NaN,True,True,NaN,2020-07-26,Northern Ireland,Ireland,no
3493500,EPI_ISL_532676,2020-07-26,Europe / United Kingdom / Northern Ireland,NaN,Human,GV,B.1.177,NaN,"(NSP12_P323L,Spike_D614G,N_A220V,Spike_A222V)",2020-09-11,NaN,True,True,NaN,2020-07-26,Northern Ireland,Ireland,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2422487,EPI_ISL_1055140,2020-10-28,Europe / Ireland / Kerry,NaN,Human,GV,B.1.177.54,NaN,"(NSP3_A231V,NSP3_A1105V,NS3_V163I,NSP3_S1285F,...",2021-02-23,NaN,True,True,NaN,2020-10-28,Republic of Ireland,Ireland,no
2422413,EPI_ISL_1055146,2020-10-28,Europe / Ireland / Kerry,NaN,Human,GV,B.1.177.54,NaN,"(NSP3_A231V,NSP3_A1105V,NS3_V163I,NSP3_S1285F,...",2021-02-23,NaN,True,True,NaN,2020-10-28,Republic of Ireland,Ireland,no
4564012,EPI_ISL_768786,2020-10-30,Europe / Ireland / Dublin,NaN,Human,GV,B.1.177.66,NaN,"(Spike_L18F,Spike_D215H,NSP14_H26Y,E_S67P,NSP6...",2021-01-06,NaN,True,True,NaN,2020-10-30,Republic of Ireland,Ireland,no
2422492,EPI_ISL_1055132,2020-10-31,Europe / Ireland / Kerry,NaN,Human,GV,B.1.177,NaN,"(Spike_L18F,Spike_D215H,NSP6_L142F,NSP12_P323L...",2021-02-23,NaN,True,True,NaN,2020-10-31,Republic of Ireland,Ireland,no
4742063,EPI_ISL_1055133,2020-10-31,Europe / Ireland / Kerry,NaN,Human,GV,B.1.177.54,NaN,"(NSP3_A231V,NSP3_A1105V,NS3_V163I,NSP3_S1285F,...",2021-02-23,NaN,True,True,NaN,2020-10-31,Republic of Ireland,Ireland,no

```bash
pastml --tree timepoint2.rooted.nwk --data timepoint2.strainCountry.all.txt --prediction_method DELTRAN --columns country --data_sep , --work_dir timepoint2_all_pastml --resolve_polytomies --threads 2 --verbose
```

### Time point 3

In [41]:
timepoint3 = full_GISAID_metadata[
    (((full_GISAID_metadata['Pango lineage'].str.startswith('B.1.1.7.')) | (full_GISAID_metadata['Pango lineage'].isin(['B.1.1.7', 'Q.1','Q.2','Q.3','Q.4','Q.5','Q.6','Q.7','Q.8']))) &
    (full_GISAID_metadata['outlier'] == 'no') &
    (full_GISAID_metadata['Collection date 2'] <= pd.to_datetime('2021-02-28'))) | (full_GISAID_metadata['Accession ID'] == 'EPI_ISL_402125')].sort_values(by='Collection date 2', ascending=True)
timepoint3

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
4034893,EPI_ISL_402125,2019-12-31,Asia / China,NaN,Human,L,B,NaN,(),2020-01-12,NaN,True,True,NaN,2019-12-31,Asia / China,Other,no
3434373,EPI_ISL_606424,2020-10-15,Europe / United Kingdom / England,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in ...,"(Spike_H69del,NS8_Q27stop,NSP3_T183I,Spike_T71...",2020-11-02,NaN,True,True,NaN,2020-10-15,England,Other,no
3434302,EPI_ISL_606375,2020-10-15,Europe / United Kingdom / England,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in ...,"(Spike_H69del,NS8_Q27stop,NSP3_T183I,Spike_T71...",2020-11-02,NaN,True,True,NaN,2020-10-15,England,Other,no
3406655,EPI_ISL_629120,2020-10-21,Europe / United Kingdom / England,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in ...,"(Spike_H69del,NS8_Q27stop,NSP3_T183I,Spike_T71...",2020-11-10,NaN,True,True,NaN,2020-10-21,England,Other,no
3406273,EPI_ISL_629311,2020-10-21,Europe / United Kingdom / England,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in ...,"(Spike_H69del,NS8_Q27stop,NSP3_T183I,Spike_T71...",2020-11-10,NaN,True,True,NaN,2020-10-21,England,Other,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3713300,EPI_ISL_1205970,2021-02-28,Europe / United Kingdom / England,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in ...,"(Spike_H69del,NS8_Q27stop,NSP4_K8Q,NSP3_T183I,...",2021-03-11,NaN,True,True,NaN,2021-02-28,England,Other,no
3713301,EPI_ISL_1206020,2021-02-28,Europe / United Kingdom / England,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in ...,"(Spike_H69del,NS8_Q27stop,NSP3_T183I,Spike_T71...",2021-03-11,NaN,True,True,NaN,2021-02-28,England,Other,no
3713309,EPI_ISL_1206022,2021-02-28,Europe / United Kingdom / England,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in ...,"(Spike_H69del,NS8_Q27stop,NSP3_T183I,Spike_T71...",2021-03-11,NaN,True,True,NaN,2021-02-28,England,Other,no
3713277,EPI_ISL_1206024,2021-02-28,Europe / United Kingdom / England,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in ...,"(Spike_P25H,Spike_H69del,NS8_Q27stop,NSP3_T183...",2021-03-11,NaN,True,True,NaN,2021-02-28,England,Other,no
3713299,EPI_ISL_1206025,2021-02-28,Europe / United Kingdom / England,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in ...,"(Spike_H69del,NS3_L15F,NS8_Q27stop,NSP3_T183I,...",2021-03-11,NaN,True,True,NaN,2021-02-28,England,Other,no

In [42]:
timepoint3.groupby('Pango lineage').count()

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
Pango lineage,,,,,,,,,,,,,,,,,
B,1,1,1,0,1,1,0,1,1,0,1,1,0,1,1,1,1
B.1.1.7,183560,183560,183560,4415,183560,183560,183560,183536,183560,0,183461,182822,1,183560,183560,183560,183560
Q.1,174,174,174,1,174,174,174,174,174,0,173,174,0,174,174,174,174
Q.2,117,117,117,0,117,117,117,117,117,0,117,117,0,117,117,117,117
Q.3,295,295,295,144,295,295,295,295,295,0,295,295,0,295,295,295,295
Q.4,163,163,163,4,163,163,163,163,163,0,163,163,0,163,163,163,163
Q.7,16,16,16,1,16,16,16,16,16,0,16,16,0,16,16,16,16

In [43]:
timepoint3.groupby('Simple country').count()

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,outlier
Simple country,,,,,,,,,,,,,,,,,
Ireland,4545,4545,4545,0,4545,4545,4545,4545,4545,4545,0,4530,4539,0,4545,4545,4545
Other,179781,179781,179781,4565,179781,179781,179781,179780,179757,179781,0,179696,179049,1,179781,179781,179781

In [44]:
timepoint3[timepoint3['Accession ID'] == 'EPI_ISL_402125']

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
4034893,EPI_ISL_402125,2019-12-31,Asia / China,NaN,Human,L,B,NaN,(),2020-01-12,NaN,True,True,NaN,2019-12-31,Asia / China,Other,no

In [40]:
timepoint3['Accession ID'].to_csv('../outputFiles/timepoint3.AccessionIDs.txt', index=False)

In [41]:
timepoint3[['Accession ID','Simple country']].rename(columns={'Accession ID': 'strain', 'Simple country': 'country'}).to_csv('../outputFiles/timepoint3.strainCountry.txt', index=False)

In [42]:
timepoint3[['Accession ID','Country']].rename(columns={'Accession ID': 'strain', 'Country': 'country'}).to_csv('../outputFiles/timepoint3.strainCountry.all.txt', index=False)

In [43]:
!gotree prune -r -i ../datasets/GISAID/GISAID-hCoV-19-phylogeny-2022-05-20/global.tree --tipfile ../outputFiles/timepoint3.AccessionIDs.txt -o ../outputFiles/timepoint3.tree

2022/07/21 23:49:50 Newick : Branch lengths attached to root node are ignored

In [44]:
!gotree reroot outgroup -i ../outputFiles/timepoint3.tree EPI_ISL_402125 > ../outputFiles/timepoint3.rooted.nwk

In [45]:
timepoint3.groupby('Country').count().sort_values(by="Accession ID", ascending=False).head(30)

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Simple country,outlier
Country,,,,,,,,,,,,,,,,,
England,97587,97587,97587,0,97587,97587,97587,97587,97587,97587,0,97586,96975,0,97587,97587,97587
Europe / Sweden,10283,10283,10283,1,10283,10283,10283,10283,10283,10283,0,10248,10283,0,10283,10283,10283
Europe / Germany,7217,7217,7217,201,7217,7217,7217,7217,7217,7217,0,7217,7216,0,7217,7217,7217
North America / USA,7116,7116,7116,418,7116,7116,7116,7116,7112,7116,0,7116,7112,0,7116,7116,7116
Europe / Denmark,6294,6294,6294,0,6294,6294,6294,6294,6294,6294,0,6294,6290,0,6294,6294,6294
Scotland,6242,6242,6242,0,6242,6242,6242,6242,6242,6242,0,6242,6225,0,6242,6242,6242
Wales,5863,5863,5863,0,5863,5863,5863,5863,5863,5863,0,5863,5841,0,5863,5863,5863
Europe / France,3766,3766,3766,2,3766,3766,3766,3766,3766,3766,0,3766,3766,0,3766,3766,3766
Europe / Netherlands,3338,3338,3338,8,3338,3338,3338,3338,3338,3338,0,3338,3305,0,3338,3338,3338
North America / Canada,3249,3249,3249,0,3249,3249,3249,3249,3249,3249,0,3248,3249,0,3249,3249,3249
Europe / Switzerland,3147,3147,3147,2,3147,3147,3147,3147,3147,3147,0,3147,3138,1,3147,3147,3147
Asia / Israel,3055,3055,3055,0,3055,3055,3055,3055,3055,3055,0,3055,3055,0,3055,3055,3055
Europe / Spain,2949,2949,2949,1138,2949,2949,2949,2949,2949,2949,0,2949,2947,0,2949,2949,2949
Republic of Ireland,2850,2850,2850,0,2850,2850,2850,2850,2850,2850,0,2835,2850,0,2850,2850,2850
Europe / Italy,2692,2692,2692,70,2692,2692,2692,2692,2692,2692,0,2692,2692,0,2692,2692,2692
Europe / Belgium,2589,2589,2589,2198,2589,2589,2589,2589,2589,2589,0,2589,2574,0,2589,2589,2589
Europe / Finland,2239,2239,2239,1,2239,2239,2239,2239,2239,2239,0,2239,2238,0,2239,2239,2239
Northern Ireland,1695,1695,1695,0,1695,1695,1695,1695,1695,1695,0,1695,1689,0,1695,1695,1695
Europe / Norway,1615,1615,1615,0,1615,1615,1615,1615,1615,1615,0,1615,1614,0,1615,1615,1615
Europe / Czech Republic,1037,1037,1037,131,1037,1037,1037,1037,1036,1037,0,1017,1036,0,1037,1037,1037
Europe / Poland,930,930,930,0,930,930,930,930,930,930,0,920,930,0,930,930,930
Europe / Austria,664,664,664,15,664,664,664,664,647,664,0,664,664,0,664,664,664
Europe / Portugal,650,650,650,0,650,650,650,650,650,650,0,650,642,0,650,650,650
Europe / Bulgaria,596,596,596,0,596,596,596,596,596,596,0,585,596,0,596,596,596
Europe / Luxembourg,506,506,506,0,506,506,506,506,506,506,0,506,506,0,506,506,506
Europe / Greece,448,448,448,2,448,448,448,448,448,448,0,448,448,0,448,448,448
Asia / Japan,402,402,402,68,402,402,402,402,402,402,0,402,402,0,402,402,402
Asia / India,383,383,383,13,383,383,383,383,383,383,0,383,383,0,383,383,383
Europe / Turkey,364,364,364,0,364,364,364,364,364,364,0,364,364,0,364,364,364
Asia / United Arab Emirates,363,363,363,0,363,363,363,363,363,363,0,363,363,0,363,363,363

In [46]:
timepoint3[timepoint3['Country'].isin(['Republic of Ireland','Northern Ireland'])].sort_values(by='Collection date 2', ascending=True)

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
8042814,EPI_ISL_791292,2020-12-17,Europe / Ireland / Wexford,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in ...,"(Spike_H69del,NS3_L15F,NSP3_P1044S,NS8_Q27stop...",2021-01-08,NaN,True,True,NaN,2020-12-17,Republic of Ireland,Ireland,no
8307323,EPI_ISL_3003432,2020-12-18,Europe / United Kingdom / Northern Ireland,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in ...,"(Spike_H69del,NS3_L15F,NS8_Q27stop,NSP3_T183I,...",2021-07-19,NaN,True,True,NaN,2020-12-18,Northern Ireland,Ireland,no
5132969,EPI_ISL_735386,2020-12-18,Europe / Ireland / Dublin,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in ...,"(Spike_H69del,NS8_Q27stop,NSP3_T183I,Spike_T71...",2020-12-25,NaN,True,True,NaN,2020-12-18,Republic of Ireland,Ireland,no
3587786,EPI_ISL_1252307,2020-12-19,Europe / Ireland / Dublin,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in ...,"(Spike_H69del,NS8_Q27stop,NSP3_T183I,Spike_T71...",2021-03-15,NaN,True,True,NaN,2020-12-19,Republic of Ireland,Ireland,no
2428942,EPI_ISL_735385,2020-12-19,Europe / Ireland / Kilkenny,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in ...,"(Spike_H69del,NS3_L15F,NSP3_P1044S,NS8_Q27stop...",2020-12-25,NaN,True,True,NaN,2020-12-19,Republic of Ireland,Ireland,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2425618,EPI_ISL_1397291,2021-02-28,Europe / Ireland / Dublin,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in ...,"(Spike_H69del,NS8_Q27stop,NSP3_T183I,Spike_T71...",2021-03-30,NaN,True,True,NaN,2021-02-28,Republic of Ireland,Ireland,no
2425610,EPI_ISL_1397296,2021-02-28,Europe / Ireland / Monaghan,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in ...,"(Spike_H69del,NS3_L15F,NS8_Q27stop,NSP3_T183I,...",2021-03-30,NaN,True,True,NaN,2021-02-28,Republic of Ireland,Ireland,no
2425623,EPI_ISL_1397294,2021-02-28,Europe / Ireland / Monaghan,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in ...,"(Spike_H69del,NS3_L15F,NS8_Q27stop,NSP3_T183I,...",2021-03-30,NaN,True,True,NaN,2021-02-28,Republic of Ireland,Ireland,no
2425629,EPI_ISL_1397281,2021-02-28,Europe / Ireland / Westmeath,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in ...,"(Spike_H69del,NS8_Q27stop,NSP3_T183I,Spike_T71...",2021-03-30,NaN,True,True,NaN,2021-02-28,Republic of Ireland,Ireland,no
3588008,EPI_ISL_1252310,2021-02-28,Europe / Ireland / Galway,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in ...,"(Spike_H69del,NS8_Q27stop,NSP2_L462I,NSP3_T183...",2021-03-15,NaN,True,True,NaN,2021-02-28,Republic of Ireland,Ireland,no

```bash
pastml --tree timepoint3.rooted.nwk --data timepoint3.strainCountry.all.txt --prediction_method DELTRAN --columns country --data_sep , --work_dir timepoint3_all_pastml --resolve_polytomies --threads 2 --verbose
```

### Time point 4

In [47]:
timepoint4 = full_GISAID_metadata[
    (((full_GISAID_metadata['Pango lineage'] == 'B.1.617.2') | (full_GISAID_metadata['Pango lineage'].str.startswith('B.1.617.2.')) | (full_GISAID_metadata['Pango lineage'].str.startswith('AY.'))) &
    (full_GISAID_metadata['outlier'] == 'no') &
    (full_GISAID_metadata['Collection date 2'] <= pd.to_datetime('2021-07-31'))) | (full_GISAID_metadata['Accession ID'] == 'EPI_ISL_402125')].sort_values(by='Collection date 2', ascending=True)
timepoint4

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
4034893,EPI_ISL_402125,2019-12-31,Asia / China,NaN,Human,L,B,NaN,(),2020-01-12,NaN,True,True,NaN,2019-12-31,Asia / China,Other,no
8005382,EPI_ISL_6949234,2020-07-15,North America / USA / Texas / Houston,NaN,Human,GK,AY.75,VOC Delta GK (B.1.617.2+AY.*) first detected i...,"(N_D377Y,M_I82T,N_D63G,Spike_D950N,N_R203M,NSP...",2021-12-01,NaN,True,True,NaN,2020-07-15,North America / USA,Other,no
8115916,EPI_ISL_5387777,2020-07-16,North America / USA / Texas / Houston,NaN,Human,G,AY.44,VOC Delta GK (B.1.617.2+AY.*) first detected i...,"(NSP12_F192V,NSP13_S468L,NSP2_E493K,NSP12_P323...",2021-10-20,NaN,True,True,NaN,2020-07-16,North America / USA,Other,no
8358710,EPI_ISL_6948687,2020-07-16,North America / USA / Texas / Houston,NaN,Human,GK,AY.43,VOC Delta GK (B.1.617.2+AY.*) first detected i...,"(N_D377Y,N_R203M,NSP13_P77L,Spike_T478K,Spike_...",2021-12-01,NaN,True,True,NaN,2020-07-16,North America / USA,Other,no
8358713,EPI_ISL_6948551,2020-07-16,North America / USA / Texas / Houston,NaN,Human,GH,AY.75,VOC Delta GK (B.1.617.2+AY.*) first detected i...,"(NSP7_S25L,N_D377Y,N_R203M,NSP3_P822L,NSP13_P7...",2021-12-01,NaN,True,True,NaN,2020-07-16,North America / USA,Other,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10918523,EPI_ISL_3283578,2021-07-31,Europe / United Kingdom / England,NaN,Human,GK,AY.4,VOC Delta GK (B.1.617.2+AY.*) first detected i...,"(N_G215C,NSP3_A1711V,Spike_T95I,Spike_T250N,N_...",2021-08-09,NaN,True,True,NaN,2021-07-31,England,Other,no
10918524,EPI_ISL_3283579,2021-07-31,Europe / United Kingdom / England,NaN,Human,GK,AY.4,VOC Delta GK (B.1.617.2+AY.*) first detected i...,"(N_G215C,NSP3_A1711V,Spike_T95I,N_D63G,N_R203M...",2021-08-09,NaN,True,True,NaN,2021-07-31,England,Other,no
10918526,EPI_ISL_3283580,2021-07-31,Europe / United Kingdom / England,NaN,Human,GK,AY.4,VOC Delta GK (B.1.617.2+AY.*) first detected i...,"(N_G215C,NSP3_A1711V,Spike_T95I,N_D63G,N_R203M...",2021-08-09,NaN,True,True,NaN,2021-07-31,England,Other,no
10918486,EPI_ISL_3283565,2021-07-31,Europe / United Kingdom / England,NaN,Human,GK,AY.4,VOC Delta GK (B.1.617.2+AY.*) first detected i...,"(N_G215C,NSP3_A1711V,Spike_T95I,N_D63G,N_R203M...",2021-08-09,NaN,True,True,NaN,2021-07-31,England,Other,no
10171705,EPI_ISL_7086638,2021-07-31,Asia / Malaysia / Kedah,NaN,Human,GK,AY.59,VOC Delta GK (B.1.617.2+AY.*) first detected i...,"(N_D63G,NSP3_Y511W,N_R203M,NSP12_G671S,NSP2_W1...",2021-12-03,NaN,True,True,NaN,2021-07-31,Asia / Malaysia,Other,no

In [48]:
timepoint4.groupby('Pango lineage').count()

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
Pango lineage,,,,,,,,,,,,,,,,,
AY.1,712,712,712,23,712,712,712,712,712,0,712,712,0,712,712,712,712
AY.10,1102,1102,1102,16,1102,1102,1102,1102,1102,0,1102,1101,0,1102,1102,1102,1102
AY.100,3888,3888,3888,68,3888,3888,3888,3888,3888,0,3885,3888,0,3888,3888,3888,3888
AY.101,470,470,470,23,470,470,470,470,470,0,470,470,0,470,470,470,470
AY.102,119,119,119,10,119,119,119,119,119,0,119,119,0,119,119,119,119
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
AY.99,154,154,154,8,154,154,154,154,154,0,154,154,0,154,154,154,154
AY.99.1,31,31,31,0,31,31,31,31,31,0,31,31,0,31,31,31,31
AY.99.2,809,809,809,0,809,809,809,809,809,0,809,809,0,809,809,809,809
B,1,1,1,0,1,1,0,1,1,0,1,1,0,1,1,1,1
B.1.617.2,41315,41315,41315,2412,41315,41315,41315,41306,41315,0,41291,41312,1,41315,41315,41315,41315

In [49]:
timepoint4.groupby('Simple country').count()

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,outlier
Simple country,,,,,,,,,,,,,,,,,
Ireland,8070,8070,8070,0,8070,8070,8070,8070,8070,8070,0,8069,8070,0,8070,8070,8070
Other,505884,505884,505884,12179,505884,505884,505884,505883,505854,505884,0,505770,505788,2,505884,505884,505884

In [50]:
timepoint4[timepoint4['Accession ID'] == 'EPI_ISL_402125']

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
4034893,EPI_ISL_402125,2019-12-31,Asia / China,NaN,Human,L,B,NaN,(),2020-01-12,NaN,True,True,NaN,2019-12-31,Asia / China,Other,no

In [51]:
timepoint4['Accession ID'].to_csv('../outputFiles/timepoint4.AccessionIDs.txt', index=False)

In [52]:
timepoint4[['Accession ID','Simple country']].rename(columns={'Accession ID': 'strain', 'Simple country': 'country'}).to_csv('../outputFiles/timepoint4.strainCountry.txt', index=False)

In [53]:
timepoint4[['Accession ID','Country']].rename(columns={'Accession ID': 'strain', 'Country': 'country'}).to_csv('../outputFiles/timepoint4.strainCountry.all.txt', index=False)

In [54]:
!gotree prune -r -i ../datasets/GISAID/GISAID-hCoV-19-phylogeny-2022-05-20/global.tree --tipfile ../outputFiles/timepoint4.AccessionIDs.txt -o ../outputFiles/timepoint4.tree

2022/07/21 23:54:10 Newick : Branch lengths attached to root node are ignored

In [55]:
!gotree reroot outgroup -i ../outputFiles/timepoint4.tree EPI_ISL_402125 > ../outputFiles/timepoint4.rooted.nwk

In [51]:
timepoint4.groupby('Country').count().sort_values(by="Accession ID", ascending=False).head(30)

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Simple country,outlier
Country,,,,,,,,,,,,,,,,,
England,152100,152100,152100,1,152100,152100,152100,152100,152100,152100,0,152100,152037,0,152100,152100,152100
North America / USA,139933,139933,139933,2330,139933,139933,139933,139933,139917,139933,0,139841,139930,0,139933,139933,139933
Scotland,20683,20683,20683,0,20683,20683,20683,20683,20683,20683,0,20683,20673,0,20683,20683,20683
Asia / India,17939,17939,17939,1021,17939,17939,17939,17939,17933,17939,0,17939,17938,0,17939,17939,17939
Europe / France,17548,17548,17548,2,17548,17548,17548,17548,17548,17548,0,17548,17548,0,17548,17548,17548
Europe / Denmark,17061,17061,17061,0,17061,17061,17061,17061,17061,17061,0,17061,17061,0,17061,17061,17061
Asia / Japan,15461,15461,15461,567,15461,15461,15461,15461,15461,15461,0,15461,15461,0,15461,15461,15461
Wales,9969,9969,9969,0,9969,9969,9969,9969,9969,9969,0,9969,9969,0,9969,9969,9969
Europe / Germany,8804,8804,8804,1,8804,8804,8804,8804,8804,8804,0,8804,8804,0,8804,8804,8804
North America / Canada,8793,8793,8793,0,8793,8793,8793,8793,8793,8793,0,8780,8793,0,8793,8793,8793
Europe / Netherlands,8606,8606,8606,117,8606,8606,8606,8606,8606,8606,0,8604,8605,0,8606,8606,8606
Europe / Italy,8307,8307,8307,112,8307,8307,8307,8307,8307,8307,0,8307,8307,0,8307,8307,8307
Europe / Spain,8218,8218,8218,8,8218,8218,8218,8218,8218,8218,0,8218,8212,1,8218,8218,8218
Europe / Sweden,7282,7282,7282,0,7282,7282,7282,7282,7282,7282,0,7282,7281,0,7282,7282,7282
Europe / Turkey,6522,6522,6522,0,6522,6522,6522,6522,6522,6522,0,6522,6522,0,6522,6522,6522
Republic of Ireland,4923,4923,4923,0,4923,4923,4923,4923,4923,4923,0,4922,4923,0,4923,4923,4923
Europe / Switzerland,4531,4531,4531,0,4531,4531,4531,4531,4531,4531,0,4531,4531,0,4531,4531,4531
Europe / Belgium,4409,4409,4409,4306,4409,4409,4409,4409,4408,4409,0,4409,4408,0,4409,4409,4409
Europe / Finland,3703,3703,3703,0,3703,3703,3703,3703,3703,3703,0,3703,3703,0,3703,3703,3703
North America / Mexico,3673,3673,3673,65,3673,3673,3673,3673,3673,3673,0,3673,3673,0,3673,3673,3673
Europe / Portugal,3476,3476,3476,0,3476,3476,3476,3476,3476,3476,0,3476,3474,0,3476,3476,3476
Northern Ireland,3147,3147,3147,0,3147,3147,3147,3147,3147,3147,0,3147,3147,0,3147,3147,3147
Africa / South Africa,3002,3002,3002,187,3002,3002,3002,3002,3002,3002,0,3002,3002,0,3002,3002,3002
Asia / Indonesia,2794,2794,2794,11,2794,2794,2794,2794,2794,2794,0,2793,2794,0,2794,2794,2794
Oceania / Australia,2531,2531,2531,0,2531,2531,2531,2531,2531,2531,0,2526,2528,0,2531,2531,2531
Asia / Singapore,2194,2194,2194,1914,2194,2194,2194,2194,2194,2194,0,2194,2194,0,2194,2194,2194
Europe / Norway,1867,1867,1867,0,1867,1867,1867,1867,1867,1867,0,1867,1867,0,1867,1867,1867
Asia / Israel,1813,1813,1813,1,1813,1813,1813,1813,1813,1813,0,1813,1813,0,1813,1813,1813
Asia / South Korea,1621,1621,1621,424,1621,1621,1621,1621,1621,1621,0,1621,1621,0,1621,1621,1621
Europe / Austria,1471,1471,1471,7,1471,1471,1471,1471,1465,1471,0,1471,1471,0,1471,1471,1471

In [52]:
timepoint4[timepoint4['Country'].isin(['Republic of Ireland','Northern Ireland'])].sort_values(by='Collection date 2', ascending=True)

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
7656067,EPI_ISL_10125943,2021-04-05,Europe / United Kingdom / Northern Ireland,NaN,Human,GR,AY.57,VOC Alpha GRY (B.1.1.7+Q.*) first detected in ...,"(Spike_H69del,NS3_L15F,NS8_Q27stop,NSP3_T183I,...",2022-02-21,NaN,True,True,NaN,2021-04-05,Northern Ireland,Ireland,no
7613406,EPI_ISL_1976611,2021-04-06,Europe / United Kingdom / Northern Ireland,NaN,Human,GR,AY.57,VOC Alpha GRY (B.1.1.7+Q.*) first detected in ...,"(Spike_H69del,NS3_L15F,NS8_Q27stop,NSP3_T183I,...",2021-05-10,NaN,True,True,NaN,2021-04-06,Northern Ireland,Ireland,no
3758087,EPI_ISL_1731330,2021-04-11,Europe / Ireland / Dublin,NaN,Human,GK,B.1.617.2,VOC Delta GK (B.1.617.2+AY.*) first detected i...,"(NS7a_L116F,N_D63G,N_R203M,NSP12_G671S,NSP2_P1...",2021-04-26,NaN,True,True,NaN,2021-04-11,Republic of Ireland,Ireland,no
3757245,EPI_ISL_1731198,2021-04-11,Europe / Ireland / Dublin,NaN,Human,GK,B.1.617.2,VOC Delta GK (B.1.617.2+AY.*) first detected i...,"(NS7a_L116F,N_D63G,N_R203M,NSP12_G671S,NSP12_S...",2021-04-26,NaN,True,True,NaN,2021-04-11,Republic of Ireland,Ireland,no
2421435,EPI_ISL_2363328,2021-04-13,Europe / Ireland / Dublin,NaN,Human,GK,B.1.617.2,VOC Delta GK (B.1.617.2+AY.*) first detected i...,"(NSP12_T908I,N_G215C,NSP2_L462F,Spike_T95I,N_D...",2021-06-01,NaN,True,True,NaN,2021-04-13,Republic of Ireland,Ireland,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2389087,EPI_ISL_3739472,2021-07-31,Europe / Ireland / Dublin,NaN,Human,GK,AY.4,VOC Delta GK (B.1.617.2+AY.*) first detected i...,"(N_G215C,NSP3_A1711V,Spike_T95I,N_D63G,N_R203M...",2021-08-27,NaN,True,True,NaN,2021-07-31,Republic of Ireland,Ireland,no
2389086,EPI_ISL_3739471,2021-07-31,Europe / Ireland / Dublin,NaN,Human,GK,AY.4,VOC Delta GK (B.1.617.2+AY.*) first detected i...,"(N_G215C,NSP3_A1711V,Spike_T95I,N_D63G,N_R203M...",2021-08-27,NaN,True,True,NaN,2021-07-31,Republic of Ireland,Ireland,no
2389085,EPI_ISL_3739470,2021-07-31,Europe / Ireland / Dublin,NaN,Human,GK,AY.4,VOC Delta GK (B.1.617.2+AY.*) first detected i...,"(N_G215C,NSP3_A1711V,Spike_T95I,N_D63G,N_R203M...",2021-08-27,NaN,True,True,NaN,2021-07-31,Republic of Ireland,Ireland,no
2389083,EPI_ISL_3739466,2021-07-31,Europe / Ireland / Dublin,NaN,Human,GK,AY.5,VOC Delta GK (B.1.617.2+AY.*) first detected i...,"(N_G215C,N_D63G,N_R203M,NSP12_G671S,NSP3_T936I...",2021-08-27,NaN,True,True,NaN,2021-07-31,Republic of Ireland,Ireland,no
654345,EPI_ISL_3672131,2021-07-31,Europe / Ireland / Meath,NaN,Human,GK,AY.5.5,VOC Delta GK (B.1.617.2+AY.*) first detected i...,"(N_G215C,N_D63G,NSP13_E319D,N_R203M,NSP12_G671...",2021-08-25,NaN,True,True,NaN,2021-07-31,Republic of Ireland,Ireland,no

```bash
pastml --tree timepoint4.rooted.nwk --data timepoint4.strainCountry.all.txt --prediction_method DELTRAN --columns country --data_sep , --work_dir timepoint4_all_pastml --resolve_polytomies --threads 2 --verbose
```

### Time point 5

In [53]:
timepoint5 = full_GISAID_metadata[
    (((full_GISAID_metadata['Pango lineage'].isin(['B.1.1.529', 'BA.1'])) | (full_GISAID_metadata['Pango lineage'].str.startswith('B.1.1.529.')) | (full_GISAID_metadata['Pango lineage'].str.startswith('BA.1.'))) &
    (full_GISAID_metadata['outlier'] == 'no') &
    (full_GISAID_metadata['Collection date 2'] <= pd.to_datetime('2022-01-31'))) | (full_GISAID_metadata['Accession ID'] == 'EPI_ISL_402125')].sort_values(by='Collection date 2', ascending=True)
timepoint5

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
4034893,EPI_ISL_402125,2019-12-31,Asia / China,NaN,Human,L,B,NaN,(),2020-01-12,NaN,True,True,NaN,2019-12-31,Asia / China,Other,no
5672352,EPI_ISL_11246938,2021-10-29,Africa / Nigeria / Kano State,NaN,Human,GRA,BA.1.1,NaN,"(N_G215C,Spike_T95I,N_D63G,Spike_K417N,Spike_S...",2022-03-21,NaN,True,True,NaN,2021-10-29,Africa / Nigeria,Other,no
8947999,EPI_ISL_11229467,2021-11,Europe / Austria / Lower Austria / Bruck an de...,NaN,Human,GRA,BA.1.17,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V...",2022-03-21,NaN,True,NaN,NaN,2021-11-01,Europe / Austria,Other,no
3265225,EPI_ISL_8542937,2021-11,Asia / India / Maharashtra,Other: Nigeria,Mesocricetus auratus,GRA,BA.1.1,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,NaN,2022-01-10,NaN,True,True,NaN,2021-11-01,Asia / India,Other,no
3266529,EPI_ISL_8542934,2021-11,Asia / India / Maharashtra,NaN,Mesocricetus auratus,GRA,BA.1.1,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,NaN,2022-01-10,NaN,True,True,NaN,2021-11-01,Asia / India,Other,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2170121,EPI_ISL_9681542,2022-01-31,Europe / United Kingdom / England,NaN,Human,GRA,BA.1.1.13,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V...",2022-02-09,NaN,True,NaN,NaN,2022-01-31,England,Other,no
2170082,EPI_ISL_9681866,2022-01-31,Europe / United Kingdom / England,NaN,Human,GRA,BA.1,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V...",2022-02-09,NaN,True,NaN,NaN,2022-01-31,England,Other,no
2170079,EPI_ISL_9681987,2022-01-31,Europe / United Kingdom / England,NaN,Human,GRA,BA.1.1,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V...",2022-02-09,NaN,True,NaN,NaN,2022-01-31,England,Other,no
2170152,EPI_ISL_9681523,2022-01-31,Europe / United Kingdom / England,NaN,Human,GRA,BA.1,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V...",2022-02-09,NaN,True,NaN,NaN,2022-01-31,England,Other,no
2133696,EPI_ISL_10238142,2022-01-31,North America / USA / Wisconsin,NaN,Human,GRA,BA.1.1,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,Spike_H69del,NSP2_T590I,Spike_A67V...",2022-02-22,NaN,True,NaN,NaN,2022-01-31,North America / USA,Other,no

In [54]:
timepoint5.groupby('Pango lineage').count()

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
Pango lineage,,,,,,,,,,,,,,,,,
B,1,1,1,0,1,1,0,1,1,0,1,1,0,1,1,1,1
BA.1,305862,305862,305862,8103,305862,305862,305862,305433,305862,0,305862,4192,4,305862,305862,305862,305862
BA.1.1,442843,442843,442843,17034,442843,442843,442842,442491,442843,0,442843,6380,3,442843,442843,442843,442843
BA.1.1.1,26655,26655,26655,1022,26655,26655,26655,26653,26655,0,26655,429,0,26655,26655,26655,26655
BA.1.1.10,1719,1719,1719,14,1719,1719,1719,1719,1719,0,1719,28,0,1719,1719,1719,1719
BA.1.1.11,2730,2730,2730,28,2730,2730,2730,2730,2730,0,2730,213,0,2730,2730,2730,2730
BA.1.1.12,1929,1929,1929,2,1929,1929,1929,1929,1929,0,1929,5,0,1929,1929,1929,1929
BA.1.1.13,4526,4526,4526,14,4526,4526,4526,4526,4526,0,4526,13,0,4526,4526,4526,4526
BA.1.1.14,8849,8849,8849,129,8849,8849,8849,8849,8849,0,8849,70,1,8849,8849,8849,8849
BA.1.1.15,8813,8813,8813,94,8813,8813,8813,8812,8813,0,8813,73,0,8813,8813,8813,8813
BA.1.1.16,1931,1931,1931,16,1931,1931,1931,1931,1931,0,1931,5,0,1931,1931,1931,1931
BA.1.1.17,337,337,337,0,337,337,337,337,337,0,337,1,0,337,337,337,337
BA.1.1.18,36270,36270,36270,675,36270,36270,36270,36256,36270,0,36270,187,1,36270,36270,36270,36270
BA.1.1.2,28628,28628,28628,222,28628,28628,28628,28628,28628,0,28628,192,0,28628,28628,28628,28628
BA.1.1.3,300,300,300,1,300,300,300,300,300,0,300,33,0,300,300,300,300
BA.1.1.4,955,955,955,5,955,955,955,955,955,0,955,9,0,955,955,955,955
BA.1.1.5,168,168,168,0,168,168,168,168,168,0,168,0,0,168,168,168,168
BA.1.1.6,467,467,467,14,467,467,467,467,467,0,467,1,0,467,467,467,467
BA.1.1.7,628,628,628,50,628,628,628,628,628,0,628,91,0,628,628,628,628
BA.1.1.8,568,568,568,10,568,568,568,568,568,0,568,1,0,568,568,568,568
BA.1.1.9,192,192,192,0,192,192,192,192,192,0,192,1,0,192,192,192,192
BA.1.10,1494,1494,1494,31,1494,1494,1494,1494,1494,0,1494,50,0,1494,1494,1494,1494
BA.1.12,1971,1971,1971,21,1971,1971,1971,1971,1971,0,1971,5,0,1971,1971,1971,1971
BA.1.13,2782,2782,2782,73,2782,2782,2782,2781,2782,0,2782,43,0,2782,2782,2782,2782
BA.1.13.1,2563,2563,2563,109,2563,2563,2563,2563,2563,0,2563,4,0,2563,2563,2563,2563
BA.1.14,5706,5706,5706,1059,5706,5706,5706,5706,5706,0,5706,71,0,5706,5706,5706,5706
BA.1.14.1,1584,1584,1584,11,1584,1584,1584,1584,1584,0,1584,11,0,1584,1584,1584,1584
BA.1.14.2,349,349,349,1,349,349,349,349,349,0,349,5,0,349,349,349,349
BA.1.15,121939,121939,121939,2864,121939,121939,121939,121880,121939,0,121939,1885,1,121939,121939,121939,121939
BA.1.15.1,31202,31202,31202,166,31202,31202,31202,31202,31202,0,31202,130,0,31202,31202,31202,31202
BA.1.15.2,879,879,879,10,879,879,879,879,879,0,879,5,0,879,879,879,879
BA.1.16,9996,9996,9996,99,9996,9996,9996,9996,9996,0,9996,71,0,9996,9996,9996,9996
BA.1.16.1,97,97,97,6,97,97,97,97,97,0,97,2,0,97,97,97,97
BA.1.16.2,53,53,53,4,53,53,53,53,53,0,53,0,0,53,53,53,53
BA.1.17,42552,42552,42552,922,42552,42552,42552,42543,42552,0,42552,2523,0,42552,42552,42552,42552
BA.1.17.1,363,363,363,4,363,363,363,363,363,0,363,22,0,363,363,363,363
BA.1.17.2,145184,145184,145184,1695,145184,145184,145184,145182,145184,0,145184,929,0,145184,145184,145184,145184
BA.1.18,33756,33756,33756,1382,33756,33756,33756,33756,33756,0,33756,659,0,33756,33756,33756,33756
BA.1.19,2991,2991,2991,67,2991,2991,2991,2991,2991,0,2991,28,0,2991,2991,2991,2991
BA.1.2,85,85,85,0,85,85,85,85,85,0,85,0,0,85,85,85,85
BA.1.20,25854,25854,25854,1220,25854,25854,25854,25836,25854,0,25854,237,0,25854,25854,25854,25854
BA.1.21,4514,4514,4514,112,4514,4514,4514,4514,4514,0,4514,86,0,4514,4514,4514,4514
BA.1.21.1,476,476,476,4,476,476,476,476,476,0,476,110,0,476,476,476,476
BA.1.22,20,20,20,0,20,20,20,20,20,0,20,0,0,20,20,20,20
BA.1.3,342,342,342,1,342,342,342,342,342,0,342,0,0,342,342,342,342
BA.1.4,359,359,359,0,359,359,359,359,359,0,359,2,0,359,359,359,359
BA.1.5,406,406,406,0,406,406,406,406,406,0,406,2,0,406,406,406,406
BA.1.6,433,433,433,4,433,433,433,433,433,0,433,2,0,433,433,433,433
BA.1.7,546,546,546,1,546,546,546,546,546,0,546,1,0,546,546,546,546
BA.1.8,615,615,615,17,615,615,615,615,615,0,615,23,0,615,615,615,615
BA.1.9,486,486,486,4,486,486,486,486,486,0,486,2,0,486,486,486,486

In [55]:
timepoint5.groupby('Simple country').count()

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,outlier
Simple country,,,,,,,,,,,,,,,,,
Ireland,11837,11837,11837,0,11837,11837,11837,11837,11837,11837,0,11837,14,0,11837,11837,11837
Other,1302131,1302131,1302131,37320,1302131,1302131,1302131,1302129,1301244,1302131,0,1302131,18819,10,1302131,1302131,1302131

In [56]:
timepoint5[timepoint5['Accession ID'] == 'EPI_ISL_402125']

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
4034893,EPI_ISL_402125,2019-12-31,Asia / China,NaN,Human,L,B,NaN,(),2020-01-12,NaN,True,True,NaN,2019-12-31,Asia / China,Other,no

In [57]:
timepoint5['Accession ID'].to_csv('../outputFiles/timepoint5.AccessionIDs.txt', index=False)

In [58]:
timepoint5[['Accession ID','Simple country']].rename(columns={'Accession ID': 'strain', 'Simple country': 'country'}).to_csv('../outputFiles/timepoint5.strainCountry.txt', index=False)

In [59]:
timepoint5[['Accession ID','Country']].rename(columns={'Accession ID': 'strain', 'Country': 'country'}).to_csv('../outputFiles/timepoint5.strainCountry.all.txt', index=False)

In [60]:
!gotree prune -r -i ../datasets/GISAID/GISAID-hCoV-19-phylogeny-2022-05-20/global.tree --tipfile ../outputFiles/timepoint5.AccessionIDs.txt -o ../outputFiles/timepoint5.tree

2022/07/24 13:18:23 Newick : Branch lengths attached to root node are ignored

In [61]:
!gotree reroot outgroup -i ../outputFiles/timepoint5.tree EPI_ISL_402125 > ../outputFiles/timepoint5.rooted.nwk

In [62]:
timepoint5.groupby('Country').count().sort_values(by="Accession ID", ascending=False).head(30)

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Simple country,outlier
Country,,,,,,,,,,,,,,,,,
North America / USA,470629,470629,470629,16915,470629,470629,470629,470629,470146,470629,0,470629,4320,7,470629,470629,470629
England,344687,344687,344687,3,344687,344687,344687,344687,344687,344687,0,344687,1663,0,344687,344687,344687
Europe / Germany,50778,50778,50778,29,50778,50778,50778,50778,50778,50778,0,50778,539,0,50778,50778,50778
Europe / France,40361,40361,40361,9,40361,40361,40361,40361,40361,40361,0,40361,712,0,40361,40361,40361
North America / Canada,37743,37743,37743,0,37743,37743,37743,37743,37743,37743,0,37743,17,1,37743,37743,37743
Asia / Japan,37411,37411,37411,2094,37411,37411,37411,37411,37411,37411,0,37411,189,0,37411,37411,37411
Wales,34537,34537,34537,0,34537,34537,34537,34537,34537,34537,0,34537,13,0,34537,34537,34537
Europe / Denmark,32858,32858,32858,0,32858,32858,32858,32858,32858,32858,0,32858,135,0,32858,32858,32858
Scotland,32025,32025,32025,0,32025,32025,32025,32025,32025,32025,0,32025,18,0,32025,32025,32025
South America / Brazil,15929,15929,15929,10,15929,15929,15929,15929,15928,15929,0,15929,171,0,15929,15929,15929
Europe / Poland,15282,15282,15282,1,15282,15282,15282,15282,15282,15282,0,15282,71,0,15282,15282,15282
Europe / Switzerland,12950,12950,12950,0,12950,12950,12950,12950,12948,12950,0,12950,722,0,12950,12950,12950
Oceania / Australia,12877,12877,12877,0,12877,12877,12877,12877,12877,12877,0,12877,2076,0,12877,12877,12877
Europe / Spain,12008,12008,12008,166,12008,12008,12008,12008,12008,12008,0,12008,188,0,12008,12008,12008
Europe / Italy,10345,10345,10345,12,10345,10345,10345,10345,10345,10345,0,10345,823,0,10345,10345,10345
Europe / Sweden,9977,9977,9977,0,9977,9977,9977,9977,9977,9977,0,9977,11,0,9977,9977,9977
Europe / Netherlands,9367,9367,9367,328,9367,9367,9367,9367,9367,9367,0,9367,19,0,9367,9367,9367
Europe / Belgium,8943,8943,8943,8634,8943,8943,8943,8943,8943,8943,0,8943,53,0,8943,8943,8943
North America / Mexico,8149,8149,8149,78,8149,8149,8149,8149,8149,8149,0,8149,367,0,8149,8149,8149
Republic of Ireland,7888,7888,7888,0,7888,7888,7888,7888,7888,7888,0,7888,13,0,7888,7888,7888
Europe / Slovenia,7726,7726,7726,0,7726,7726,7726,7726,7726,7726,0,7726,1727,0,7726,7726,7726
Asia / India,7519,7519,7519,45,7519,7519,7519,7519,7508,7519,0,7519,2120,0,7519,7519,7519
Europe / Norway,6348,6348,6348,0,6348,6348,6348,6348,6348,6348,0,6348,14,0,6348,6348,6348
Asia / Indonesia,5659,5659,5659,786,5659,5659,5659,5659,5659,5659,0,5659,7,0,5659,5659,5659
Africa / South Africa,5630,5630,5630,1201,5630,5630,5630,5630,5630,5630,0,5630,55,0,5630,5630,5630
Asia / Israel,5399,5399,5399,0,5399,5399,5399,5399,5399,5399,0,5399,8,0,5399,5399,5399
Europe / Croatia,4928,4928,4928,0,4928,4928,4928,4928,4928,4928,0,4928,1027,0,4928,4928,4928
Europe / Turkey,4813,4813,4813,0,4813,4813,4813,4813,4813,4813,0,4813,157,0,4813,4813,4813
Europe / Czech Republic,4491,4491,4491,4051,4491,4491,4491,4491,4491,4491,0,4491,17,1,4491,4491,4491
Northern Ireland,3949,3949,3949,0,3949,3949,3949,3949,3949,3949,0,3949,1,0,3949,3949,3949

In [63]:
timepoint5[timepoint5['Country'].isin(['Republic of Ireland','Northern Ireland'])].sort_values(by='Collection date 2', ascending=True)

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
2361011,EPI_ISL_6939819,2021-11-25,Europe / Ireland / Meath,NaN,Human,GRA,BA.1,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V...",2021-12-01,NaN,True,NaN,NaN,2021-11-25,Republic of Ireland,Ireland,no
2353643,EPI_ISL_7406082,2021-11-25,Europe / Ireland / Longford,NaN,Human,GRA,BA.1,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V...",2021-12-09,NaN,True,NaN,NaN,2021-11-25,Republic of Ireland,Ireland,no
7405067,EPI_ISL_10673935,2021-11-27,Europe / Ireland / Dublin,NaN,Human,GRA,BA.1.1.15,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V...",2022-03-04,NaN,True,NaN,NaN,2021-11-27,Republic of Ireland,Ireland,no
3316115,EPI_ISL_7776724,2021-11-28,Europe / Ireland / Dublin,NaN,Human,GRA,BA.1.14,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V...",2021-12-17,NaN,True,NaN,NaN,2021-11-28,Republic of Ireland,Ireland,no
2353644,EPI_ISL_7406083,2021-11-28,Europe / Ireland / Meath,NaN,Human,GRA,BA.1,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V...",2021-12-09,NaN,True,NaN,NaN,2021-11-28,Republic of Ireland,Ireland,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11100085,EPI_ISL_10035020,2022-01-31,Europe / Ireland / Galway,NaN,Human,GRA,BA.1.18,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V...",2022-02-17,NaN,True,NaN,NaN,2022-01-31,Republic of Ireland,Ireland,no
11100073,EPI_ISL_10035015,2022-01-31,Europe / Ireland / Limerick,NaN,Human,GRA,BA.1.1,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,Spike_H69del,Spike_T95I,NSP3_E177K...",2022-02-17,NaN,True,NaN,NaN,2022-01-31,Republic of Ireland,Ireland,no
11100191,EPI_ISL_10035019,2022-01-31,Europe / Ireland / Galway,NaN,Human,GRA,BA.1.1,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,NSP3_T1198I,Spike_H69del,Spike_T95...",2022-02-17,NaN,True,NaN,NaN,2022-01-31,Republic of Ireland,Ireland,no
11100066,EPI_ISL_10035005,2022-01-31,Europe / Ireland / Longford,NaN,Human,GRA,BA.1.17.2,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V...",2022-02-17,NaN,True,NaN,NaN,2022-01-31,Republic of Ireland,Ireland,no
2181456,EPI_ISL_9963255,2022-01-31,Europe / United Kingdom / Northern Ireland,NaN,Human,GRA,BA.1.16,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V...",2022-02-16,NaN,True,NaN,NaN,2022-01-31,Northern Ireland,Ireland,no

```bash
pastml --tree timepoint5.rooted.nwk --data timepoint5.strainCountry.all.txt --prediction_method DELTRAN --columns country --data_sep , --work_dir timepoint5_all_pastml --resolve_polytomies --threads 2 --verbose
```

### Time point 6

In [64]:
timepoint6 = full_GISAID_metadata[
    (((full_GISAID_metadata['Pango lineage'] == 'BA.2') | (full_GISAID_metadata['Pango lineage'].str.startswith('BA.2.'))) &
    (full_GISAID_metadata['outlier'] == 'no') &
    (full_GISAID_metadata['Collection date 2'] <= pd.to_datetime('2022-03-31'))) | (full_GISAID_metadata['Accession ID'] == 'EPI_ISL_402125')].sort_values(by='Collection date 2', ascending=True)
timepoint6

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
4034893,EPI_ISL_402125,2019-12-31,Asia / China,NaN,Human,L,B,NaN,(),2020-01-12,NaN,True,True,NaN,2019-12-31,Asia / China,Other,no
7922907,EPI_ISL_9796145,2021-11-24,Europe / France / Nouvelle-Aquitaine,NaN,Human,GRA,BA.2,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I...",2022-02-11,NaN,True,NaN,NaN,2021-11-24,Europe / France,Other,no
7516516,EPI_ISL_10504840,2021-11-25,Asia / India / Tamil Nadu / VELLORE,NaN,Human,GRA,BA.2.10,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I...",2022-03-01,NaN,True,NaN,NaN,2021-11-25,Asia / India,Other,no
9912989,EPI_ISL_9679276,2021-11-27,Africa / South Africa / Western Cape,NaN,Human,GRA,BA.2,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I...",2022-02-09,NaN,True,NaN,NaN,2021-11-27,Africa / South Africa,Other,no
9919417,EPI_ISL_8128463,2021-11-27,Africa / South Africa / Gauteng,Other: TSHWANE,Human,GRA,BA.2,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I...",2021-12-27,NaN,True,NaN,NaN,2021-11-27,Africa / South Africa,Other,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529466,EPI_ISL_11670731,2022-03-31,Europe / Poland,NaN,Human,GRA,BA.2,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I...",2022-04-01,NaN,True,NaN,NaN,2022-03-31,Europe / Poland,Other,no
529464,EPI_ISL_11670738,2022-03-31,Europe / Poland,NaN,Human,GRA,BA.2,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I...",2022-04-01,NaN,True,NaN,NaN,2022-03-31,Europe / Poland,Other,no
529463,EPI_ISL_11664475,2022-03-31,Europe / Poland,NaN,Human,GRA,BA.2,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I...",2022-04-01,NaN,True,NaN,NaN,2022-03-31,Europe / Poland,Other,no
529525,EPI_ISL_11670728,2022-03-31,Europe / Poland,NaN,Human,GRA,BA.2.9,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I...",2022-04-01,NaN,True,NaN,NaN,2022-03-31,Europe / Poland,Other,no
529516,EPI_ISL_11670730,2022-03-31,Europe / Poland,NaN,Human,GRA,BA.2.9,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I...",2022-04-01,NaN,True,NaN,NaN,2022-03-31,Europe / Poland,Other,no

In [65]:
timepoint6.groupby('Pango lineage').count()

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
Pango lineage,,,,,,,,,,,,,,,,,
B,1,1,1,0,1,1,0,1,1,0,1,1,0,1,1,1,1
BA.2,477502,477502,477502,8114,477502,477502,477502,477165,477502,0,477502,103462,0,477502,477502,477502,477502
BA.2.1,7947,7947,7947,2,7947,7947,7947,7947,7947,0,7947,57,0,7947,7947,7947,7947
BA.2.10,34843,34843,34843,1018,34843,34843,34843,34834,34843,0,34843,4208,0,34843,34843,34843,34843
BA.2.10.1,2986,2986,2986,220,2986,2986,2986,2986,2986,0,2986,258,0,2986,2986,2986,2986
BA.2.11,29,29,29,0,29,29,29,29,29,0,29,3,0,29,29,29,29
BA.2.12,1641,1641,1641,81,1641,1641,1641,1641,1641,0,1641,186,0,1641,1641,1641,1641
BA.2.12.1,347,347,347,0,347,347,347,347,347,0,347,23,0,347,347,347,347
BA.2.13,51,51,51,37,51,51,51,51,51,0,51,18,0,51,51,51,51
BA.2.14,607,607,607,0,607,607,607,607,607,0,607,506,0,607,607,607,607
BA.2.15,95,95,95,7,95,95,95,95,95,0,95,1,0,95,95,95,95
BA.2.16,407,407,407,1,407,407,407,407,407,0,407,0,0,407,407,407,407
BA.2.17,59,59,59,11,59,59,59,59,59,0,59,3,0,59,59,59,59
BA.2.18,771,771,771,0,771,771,771,771,771,0,771,9,0,771,771,771,771
BA.2.19,366,366,366,0,366,366,366,366,366,0,366,130,0,366,366,366,366
BA.2.2,935,935,935,10,935,935,935,935,935,0,935,45,0,935,935,935,935
BA.2.20,91,91,91,0,91,91,91,91,91,0,91,1,0,91,91,91,91
BA.2.21,81,81,81,0,81,81,81,81,81,0,81,2,0,81,81,81,81
BA.2.22,818,818,818,2,818,818,818,818,818,0,818,25,0,818,818,818,818
BA.2.23,6076,6076,6076,38,6076,6076,6076,6060,6076,0,6076,176,0,6076,6076,6076,6076
BA.2.24,39,39,39,0,39,39,39,39,39,0,39,3,0,39,39,39,39
BA.2.25,331,331,331,13,331,331,331,331,331,0,331,44,0,331,331,331,331
BA.2.25.1,20,20,20,1,20,20,20,20,20,0,20,0,0,20,20,20,20
BA.2.26,114,114,114,0,114,114,114,114,114,0,114,25,0,114,114,114,114
BA.2.27,62,62,62,2,62,62,62,62,62,0,62,5,0,62,62,62,62
BA.2.28,27,27,27,24,27,27,27,27,27,0,27,10,0,27,27,27,27
BA.2.29,101,101,101,3,101,101,101,101,101,0,101,6,0,101,101,101,101
BA.2.3,24490,24490,24490,933,24490,24490,24490,24478,24490,0,24490,2364,1,24490,24490,24490,24490
BA.2.3.1,172,172,172,0,172,172,172,172,172,0,172,13,0,172,172,172,172
BA.2.3.2,283,283,283,89,283,283,283,283,283,0,283,28,0,283,283,283,283
BA.2.3.3,334,334,334,0,334,334,334,334,334,0,334,1,0,334,334,334,334
BA.2.3.4,116,116,116,0,116,116,116,116,116,0,116,0,0,116,116,116,116
BA.2.30,29,29,29,1,29,29,29,29,29,0,29,2,0,29,29,29,29
BA.2.31,235,235,235,6,235,235,235,235,235,0,235,8,0,235,235,235,235
BA.2.32,272,272,272,32,272,272,272,272,272,0,272,9,0,272,272,272,272
BA.2.33,56,56,56,0,56,56,56,56,56,0,56,6,0,56,56,56,56
BA.2.34,185,185,185,0,185,185,185,185,185,0,185,106,0,185,185,185,185
BA.2.4,167,167,167,116,167,167,167,167,167,0,167,20,0,167,167,167,167
BA.2.5,911,911,911,7,911,911,911,911,911,0,911,143,0,911,911,911,911
BA.2.6,506,506,506,2,506,506,506,506,506,0,506,44,0,506,506,506,506
BA.2.7,1007,1007,1007,0,1007,1007,1007,1007,1007,0,1007,75,0,1007,1007,1007,1007
BA.2.8,3619,3619,3619,1,3619,3619,3619,3619,3619,0,3619,15,0,3619,3619,3619,3619
BA.2.9,75717,75717,75717,1543,75717,75717,75717,75716,75717,0,75717,33841,0,75717,75717,75717,75717
BA.2.9.1,103,103,103,0,103,103,103,103,103,0,103,3,0,103,103,103,103
BA.2.9.2,395,395,395,1,395,395,395,395,395,0,395,30,0,395,395,395,395

In [66]:
timepoint6.groupby('Simple country').count()

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,outlier
Simple country,,,,,,,,,,,,,,,,,
Ireland,6821,6821,6821,0,6821,6821,6821,6821,6821,6821,0,6821,7,0,6821,6821,6821
Other,638123,638123,638123,12315,638123,638123,638123,638122,637748,638123,0,638123,145908,1,638123,638123,638123

In [68]:
timepoint6[timepoint6['Accession ID'] == 'EPI_ISL_402125']

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
4034893,EPI_ISL_402125,2019-12-31,Asia / China,NaN,Human,L,B,NaN,(),2020-01-12,NaN,True,True,NaN,2019-12-31,Asia / China,Other,no

In [69]:
timepoint6['Accession ID'].to_csv('../outputFiles/timepoint6.AccessionIDs.txt', index=False)

In [70]:
timepoint6[['Accession ID','Simple country']].rename(columns={'Accession ID': 'strain', 'Simple country': 'country'}).to_csv('../outputFiles/timepoint6.strainCountry.txt', index=False)

In [71]:
timepoint6[['Accession ID','Country']].rename(columns={'Accession ID': 'strain', 'Country': 'country'}).to_csv('../outputFiles/timepoint6.strainCountry.all.txt', index=False)

In [72]:
!gotree prune -r -i ../datasets/GISAID/GISAID-hCoV-19-phylogeny-2022-05-20/global.tree --tipfile ../outputFiles/timepoint6.AccessionIDs.txt -o ../outputFiles/timepoint6.tree

2022/07/24 13:26:16 Newick : Branch lengths attached to root node are ignored

In [73]:
!gotree reroot outgroup -i ../outputFiles/timepoint6.tree EPI_ISL_402125 > ../outputFiles/timepoint6.rooted.nwk

In [74]:
timepoint6.groupby('Country').count().sort_values(by="Accession ID", ascending=False).head(30)

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Simple country,outlier
Country,,,,,,,,,,,,,,,,,
England,221477,221477,221477,0,221477,221477,221477,221477,221477,221477,0,221477,1919,0,221477,221477,221477
Europe / Denmark,127740,127740,127740,0,127740,127740,127740,127740,127740,127740,0,127740,100335,0,127740,127740,127740
Europe / Germany,65495,65495,65495,1,65495,65495,65495,65495,65495,65495,0,65495,18835,0,65495,65495,65495
Scotland,56753,56753,56753,0,56753,56753,56753,56753,56753,56753,0,56753,241,0,56753,56753,56753
Asia / India,27602,27602,27602,402,27602,27602,27602,27602,27602,27602,0,27602,5881,0,27602,27602,27602
North America / USA,19806,19806,19806,116,19806,19806,19806,19806,19774,19806,0,19806,1792,0,19806,19806,19806
Europe / Sweden,15985,15985,15985,0,15985,15985,15985,15985,15985,15985,0,15985,67,0,15985,15985,15985
Europe / France,14686,14686,14686,1,14686,14686,14686,14686,14686,14686,0,14686,604,0,14686,14686,14686
Wales,12294,12294,12294,0,12294,12294,12294,12294,12294,12294,0,12294,11,0,12294,12294,12294
Europe / Switzerland,5915,5915,5915,0,5915,5915,5915,5915,5915,5915,0,5915,753,0,5915,5915,5915
Northern Ireland,5586,5586,5586,0,5586,5586,5586,5586,5586,5586,0,5586,1,0,5586,5586,5586
Europe / Netherlands,5573,5573,5573,91,5573,5573,5573,5573,5573,5573,0,5573,982,0,5573,5573,5573
Europe / Belgium,5392,5392,5392,5186,5392,5392,5392,5392,5392,5392,0,5392,1151,0,5392,5392,5392
Europe / Poland,5324,5324,5324,1,5324,5324,5324,5324,5322,5324,0,5324,1016,0,5324,5324,5324
Europe / Norway,5119,5119,5119,0,5119,5119,5119,5119,5119,5119,0,5119,4019,0,5119,5119,5119
North America / Canada,4437,4437,4437,0,4437,4437,4437,4437,4437,4437,0,4437,421,0,4437,4437,4437
Oceania / Australia,3485,3485,3485,0,3485,3485,3485,3485,3485,3485,0,3485,268,0,3485,3485,3485
Europe / Austria,3015,3015,3015,336,3015,3015,3015,3015,2679,3015,0,3015,1297,0,3015,3015,3015
Europe / Spain,2783,2783,2783,6,2783,2783,2783,2783,2783,2783,0,2783,108,0,2783,2783,2783
Europe / Italy,2671,2671,2671,1,2671,2671,2671,2671,2670,2671,0,2671,848,0,2671,2671,2671
Europe / Czech Republic,2538,2538,2538,2030,2538,2538,2538,2538,2538,2538,0,2538,386,0,2538,2538,2538
Europe / Slovakia,2490,2490,2490,1,2490,2490,2490,2490,2490,2490,0,2490,111,0,2490,2490,2490
Asia / Japan,2199,2199,2199,1274,2199,2199,2199,2199,2199,2199,0,2199,238,0,2199,2199,2199
Asia / Israel,1985,1985,1985,0,1985,1985,1985,1985,1985,1985,0,1985,24,0,1985,1985,1985
Asia / Singapore,1961,1961,1961,1790,1961,1961,1961,1961,1961,1961,0,1961,596,0,1961,1961,1961
Africa / South Africa,1933,1933,1933,423,1933,1933,1933,1933,1933,1933,0,1933,59,0,1933,1933,1933
Europe / Portugal,1651,1651,1651,0,1651,1651,1651,1651,1651,1651,0,1651,24,0,1651,1651,1651
Europe / Lithuania,1354,1354,1354,0,1354,1354,1354,1354,1354,1354,0,1354,627,0,1354,1354,1354
Asia / South Korea,1323,1323,1323,232,1323,1323,1323,1323,1323,1323,0,1323,518,0,1323,1323,1323
Europe / Slovenia,1322,1322,1322,0,1322,1322,1322,1322,1322,1322,0,1322,50,0,1322,1322,1322

In [76]:
timepoint6[timepoint6['Country'] == 'Republic of Ireland'].groupby('Country').count().sort_values(by="Accession ID", ascending=False).head(30)

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Simple country,outlier
Country,,,,,,,,,,,,,,,,,
Republic of Ireland,1235,1235,1235,0,1235,1235,1235,1235,1235,1235,0,1235,6,0,1235,1235,1235

In [75]:
timepoint6[timepoint6['Country'].isin(['Republic of Ireland','Northern Ireland'])].sort_values(by='Collection date 2', ascending=True)

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
1149922,EPI_ISL_10175631,2021-12-26,Europe / United Kingdom / Northern Ireland,NaN,Human,GRA,BA.2,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I...",2022-02-21,NaN,True,NaN,NaN,2021-12-26,Northern Ireland,Ireland,no
7589526,EPI_ISL_10175551,2021-12-26,Europe / United Kingdom / Northern Ireland,NaN,Human,GRA,BA.2,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I...",2022-02-21,NaN,True,NaN,NaN,2021-12-26,Northern Ireland,Ireland,no
7589469,EPI_ISL_10175506,2021-12-26,Europe / United Kingdom / Northern Ireland,NaN,Human,GRA,BA.2,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I...",2022-02-21,NaN,True,NaN,NaN,2021-12-26,Northern Ireland,Ireland,no
7589464,EPI_ISL_10175518,2021-12-26,Europe / United Kingdom / Northern Ireland,NaN,Human,GRA,BA.2,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I...",2022-02-21,NaN,True,NaN,NaN,2021-12-26,Northern Ireland,Ireland,no
7590317,EPI_ISL_10175730,2021-12-26,Europe / United Kingdom / Northern Ireland,NaN,Human,GRA,BA.2,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I...",2022-02-21,NaN,True,NaN,NaN,2021-12-26,Northern Ireland,Ireland,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11098472,EPI_ISL_11508204,2022-03-22,Europe / Ireland / Galway,NaN,Human,GRA,BA.2,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I...",2022-03-28,NaN,True,NaN,NaN,2022-03-22,Republic of Ireland,Ireland,no
5506734,EPI_ISL_11695116,2022-03-22,Europe / United Kingdom / Northern Ireland,NaN,Human,GRA,BA.2,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I...",2022-04-02,NaN,True,NaN,NaN,2022-03-22,Northern Ireland,Ireland,no
5506753,EPI_ISL_11695117,2022-03-22,Europe / United Kingdom / Northern Ireland,NaN,Human,GRA,BA.2,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I...",2022-04-02,NaN,True,NaN,NaN,2022-03-22,Northern Ireland,Ireland,no
11098555,EPI_ISL_11508199,2022-03-22,Europe / Ireland / Donegal,NaN,Human,GRA,BA.2,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,NSP2_G262C,NSP3_G489S,Spike_L24del...",2022-03-28,NaN,True,NaN,NaN,2022-03-22,Republic of Ireland,Ireland,no
11098560,EPI_ISL_11508196,2022-03-22,Europe / Ireland / Mayo,NaN,Human,GRA,BA.2,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I...",2022-03-28,NaN,True,NaN,NaN,2022-03-22,Republic of Ireland,Ireland,no

```bash
pastml --tree timepoint6.rooted.nwk --data timepoint6.strainCountry.all.txt --prediction_method DELTRAN --columns country --data_sep , --work_dir timepoint6_all_pastml --resolve_polytomies --threads 2 --verbose
```

## Analysis timepoints with non-NIRE/RAND IDs excluded

### Read in exclusion list

In [115]:
NISamplesToExclude = pd.read_csv('../outputFiles/NISamplesNonNIREToExclude.csv')
NISamplesToExclude

         accession_id
0     EPI_ISL_3363287
1     EPI_ISL_2818166
2     EPI_ISL_2818175
3     EPI_ISL_2818197
4     EPI_ISL_2818195
...               ...
5422   EPI_ISL_999100
5423   EPI_ISL_999101
5424   EPI_ISL_999407
5425   EPI_ISL_999473
5426   EPI_ISL_999505

[5427 rows x 1 columns]

### Timepoint A

In [116]:
timepoint1 = full_GISAID_metadata[
    (full_GISAID_metadata['Collection date 2'] >= pd.to_datetime('2019-12-01')) &
    (full_GISAID_metadata['Collection date 2'] <= pd.to_datetime('2020-05-31')) &
    (full_GISAID_metadata['outlier'] == 'no') &
    ~(full_GISAID_metadata['Accession ID'].isin(NISamplesToExclude['accession_id']))]
timepoint1

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
1616,EPI_ISL_489144,2020-05-04,Europe / United Kingdom / England,NaN,Human,GR,B.1.1.369,NaN,"(NSP3_A1775T,NSP5_G15S,N_R203K,N_D103Y,N_G204R...",2020-07-14,NaN,True,True,NaN,2020-05-04,England,Other,no
1746,EPI_ISL_489033,2020-03-30,Europe / United Kingdom / Scotland,NaN,Human,G,B.1.93,NaN,"(NSP5_D248E,N_S188L,NSP12_P323L,NSP12_T141I,Sp...",2020-07-14,NaN,True,True,NaN,2020-03-30,Scotland,Other,no
1893,EPI_ISL_488811,2020-03-21,Europe / United Kingdom / England,NaN,Human,L,B.3,NaN,"(NSP2_G212D,NSP3_A1736V,NSP3_A58T,NS7a_I4N)",2020-07-14,NaN,True,True,NaN,2020-03-21,England,Other,no
3853,EPI_ISL_488949,2020-04-03,Europe / United Kingdom / Scotland,NaN,Human,G,B.1.391,NaN,"(M_Q19H,NSP3_D729Y,NS3_V13L,NSP12_P323L,Spike_...",2020-07-14,NaN,True,True,NaN,2020-04-03,Scotland,Other,no
4470,EPI_ISL_489023,2020-04-02,Europe / United Kingdom / Scotland,NaN,Human,G,B.1,NaN,"(NSP12_P323L,Spike_D614G,NSP3_T1063I)",2020-07-14,NaN,True,True,NaN,2020-04-02,Scotland,Other,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11191402,EPI_ISL_955999,2020-04,North America / USA / Ohio,NaN,Human,GR,B.1.1,NaN,"(N_R203K,N_G204R,NSP12_P323L,Spike_D614G)",2021-02-09,NaN,True,True,NaN,2020-04-01,North America / USA,Other,no
11191479,EPI_ISL_955987,2020-04,North America / USA / Ohio,NaN,Human,GR,B.1.1,NaN,"(N_R203K,N_G204R,NS7a_F87Y,NSP12_P323L,Spike_D...",2021-02-09,NaN,True,True,NaN,2020-04-01,North America / USA,Other,no
11191754,EPI_ISL_429770,2020-03-28,Europe / Luxembourg,NaN,Human,G,B.1.143,NaN,"(NSP12_P323L,Spike_D614G)",2020-04-24,NaN,True,True,NaN,2020-03-28,Europe / Luxembourg,Other,no
11191756,EPI_ISL_429777,2020-03-24,Europe / Luxembourg,NaN,Human,GR,B.1.1,NaN,"(N_R203K,N_G204R,NSP3_E119D,NSP12_P323L,Spike_...",2020-04-24,NaN,True,True,NaN,2020-03-24,Europe / Luxembourg,Other,no
11192057,EPI_ISL_559743,2020-05-13,Europe / United Kingdom / Wales,NaN,Human,GR,B.1.1,NaN,"(NSP1_F143del,NS3_I167L,NSP1_K141del,NSP10_A32...",2020-09-28,NaN,True,True,NaN,2020-05-13,Wales,Other,no

In [117]:
timepoint1[timepoint1['Accession ID'] == 'EPI_ISL_402125']

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
4034893,EPI_ISL_402125,2019-12-31,Asia / China,NaN,Human,L,B,NaN,(),2020-01-12,NaN,True,True,NaN,2019-12-31,Asia / China,Other,no

In [118]:
timepoint1['Accession ID'].to_csv('../outputFiles/timepoint1.AccessionIDs.filteredNI.txt', index=False)

In [119]:
timepoint1[['Accession ID','Simple country']].rename(columns={'Accession ID': 'strain', 'Simple country': 'country'}).to_csv('../outputFiles/timepoint1.strainCountry.filteredNI.txt', index=False)

In [120]:
timepoint1[['Accession ID','Country']].rename(columns={'Accession ID': 'strain', 'Country': 'country'}).to_csv('../outputFiles/timepoint1.strainCountry.all.filteredNI.txt', index=False)

In [121]:
!gotree prune -r -i ../datasets/GISAID/GISAID-hCoV-19-phylogeny-2022-05-20/global.tree --tipfile ../outputFiles/timepoint1.AccessionIDs.filteredNI.txt -o ../outputFiles/timepoint1.filteredNI.tree

2023/01/10 15:49:12 Newick : Branch lengths attached to root node are ignored

In [122]:
!gotree reroot outgroup -i ../outputFiles/timepoint1.filteredNI.tree EPI_ISL_402125 > ../outputFiles/timepoint1.filteredNI.rooted.nwk

In [123]:
timepoint1.groupby('Country').count().sort_values(by="Accession ID", ascending=False).head(30)

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Simple country,outlier
Country,,,,,,,,,,,,,,,,,
North America / USA,27699,27699,27699,365,27699,27699,27699,0,27679,27699,0,27691,27632,3,27699,27699,27699
England,15402,15402,15402,1,15402,15402,15402,0,15402,15402,0,15402,15123,0,15402,15402,15402
North America / Canada,8352,8352,8352,11,8352,8352,8352,0,8351,8352,0,8352,8347,0,8352,8352,8352
Asia / Japan,4330,4330,4330,155,4330,4330,4330,0,4330,4330,0,4330,4330,0,4330,4330,4330
Scotland,3898,3898,3898,0,3898,3898,3898,0,3898,3898,0,3898,3888,0,3898,3898,3898
Europe / France,3821,3821,3821,97,3821,3821,3821,0,3819,3821,0,3821,3821,0,3821,3821,3821
Europe / Spain,3013,3013,3013,241,3013,3013,3013,0,3013,3013,0,3013,3009,0,3013,3013,3013
Oceania / Australia,2808,2808,2808,3,2808,2808,2808,0,2808,2808,0,2808,2808,0,2808,2808,2808
Europe / Germany,1821,1821,1821,9,1821,1821,1821,0,1821,1821,0,1821,1814,0,1821,1821,1821
Asia / India,1752,1752,1752,311,1752,1752,1752,0,1752,1752,0,1752,1748,0,1752,1752,1752
Europe / Netherlands,1710,1710,1710,27,1710,1710,1710,0,1651,1710,0,1710,1709,0,1710,1710,1710
Europe / Italy,1589,1589,1589,65,1589,1589,1589,0,1589,1589,0,1589,1586,0,1589,1589,1589
Wales,1588,1588,1588,0,1588,1588,1588,0,1588,1588,0,1588,1585,0,1588,1588,1588
Europe / Denmark,1511,1511,1511,0,1511,1511,1511,0,1511,1511,0,1511,1509,0,1511,1511,1511
Europe / Switzerland,1388,1388,1388,5,1388,1388,1388,0,1388,1388,0,1388,1382,0,1388,1388,1388
Europe / Iceland,1345,1345,1345,227,1345,1345,1345,0,1345,1345,0,1345,1345,0,1345,1345,1345
Europe / Portugal,1214,1214,1214,14,1214,1214,1214,0,1214,1214,0,1214,1214,0,1214,1214,1214
Europe / Sweden,1212,1212,1212,0,1212,1212,1212,0,1212,1212,0,1212,1212,0,1212,1212,1212
Europe / Belgium,1173,1173,1173,91,1173,1173,1173,0,1172,1173,0,1173,1171,0,1173,1173,1173
Asia / United Arab Emirates,1113,1113,1113,0,1113,1113,1113,0,1113,1113,0,1113,1113,0,1113,1113,1113
South America / Brazil,1104,1104,1104,35,1104,1104,1104,0,1104,1104,0,1104,1104,0,1104,1104,1104
Asia / Singapore,971,971,971,591,971,971,971,0,971,971,0,971,965,0,971,971,971
Asia / China,860,860,860,120,860,860,860,0,852,860,1,860,859,0,860,860,860
North America / Mexico,823,823,823,12,823,823,823,0,823,823,0,823,823,0,823,823,823
Europe / Austria,721,721,721,24,721,721,721,0,721,721,0,721,717,0,721,721,721
Republic of Ireland,714,714,714,0,714,714,714,0,714,714,0,714,714,0,714,714,714
Europe / Finland,680,680,680,255,680,680,680,0,680,680,0,680,680,0,680,680,680
Northern Ireland,633,633,633,0,633,633,633,0,633,633,0,633,629,0,633,633,633
Europe / Russia,586,586,586,3,586,586,586,0,586,586,0,586,586,0,586,586,586
South America / Chile,563,563,563,7,563,563,563,0,563,563,0,563,563,0,563,563,563

In [124]:
timepoint1[timepoint1['Country'].isin(['Republic of Ireland','Northern Ireland'])].sort_values(by='Collection date 2', ascending=True)

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
7421013,EPI_ISL_11015044,2020,Europe / Ireland,NaN,Human,V,B,NaN,"(NSP6_K263N,NS3_G251V,NSP6_L37F)",2022-03-14,NaN,True,True,NaN,2020-01-01,Republic of Ireland,Ireland,no
5298463,EPI_ISL_414586,2020-03-03,Europe / Ireland / Limerick,NaN,Human,G,B.1,NaN,"(NSP12_P323L,Spike_D614G)",2020-03-13,NaN,True,True,NaN,2020-03-03,Republic of Ireland,Ireland,no
3781474,EPI_ISL_414587,2020-03-03,Europe / Ireland / Limerick,NaN,Human,G,B.1,NaN,"(NSP12_P323L,Spike_D614G)",2020-03-13,NaN,True,True,NaN,2020-03-03,Republic of Ireland,Ireland,no
3811617,EPI_ISL_414487,2020-03-04,Europe / Ireland / Cork,NaN,Human,L,B,NaN,(),2020-03-12,NaN,True,True,NaN,2020-03-04,Republic of Ireland,Ireland,no
5297438,EPI_ISL_418548,2020-03-06,Europe / Ireland / Dublin,NaN,Human,GR,B.1.1,NaN,"(N_R203K,N_G204R,M_T175M,NSP12_P323L,Spike_D614G)",2020-03-30,NaN,True,True,NaN,2020-03-06,Republic of Ireland,Ireland,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8042942,EPI_ISL_767793,2020-05-28,Europe / Ireland / Galway,NaN,Human,G,B.1,NaN,"(NS3_V13L,NSP12_P323L,Spike_D614G,NSP3_S1106G)",2021-01-05,NaN,True,True,NaN,2020-05-28,Republic of Ireland,Ireland,no
4140197,EPI_ISL_501039,2020-05-28,Europe / United Kingdom / Northern Ireland,NaN,Human,GR,B.1.1.83,NaN,"(NS7a_L56Q,N_R203K,N_G204R,NSP12_P323L,Spike_D614G)",2020-07-30,NaN,True,True,NaN,2020-05-28,Northern Ireland,Ireland,no
4139892,EPI_ISL_501056,2020-05-29,Europe / United Kingdom / Northern Ireland,NaN,Human,GR,B.1.1.83,NaN,"(N_R203K,NSP13_T481M,N_G204R,NSP12_P323L,Spike_D614G)",2020-07-30,NaN,True,True,NaN,2020-05-29,Northern Ireland,Ireland,no
7599711,EPI_ISL_585257,2020-05-29,Europe / United Kingdom / Northern Ireland,NaN,Human,GR,B.1.1.83,NaN,"(N_R203K,N_G204R,NSP12_P323L,Spike_D614G)",2020-10-19,NaN,True,True,NaN,2020-05-29,Northern Ireland,Ireland,no
1356445,EPI_ISL_501023,2020-05-30,Europe / United Kingdom / Northern Ireland,NaN,Human,GR,B.1.1.83,NaN,"(N_R203K,N_G204R,NSP12_P323L,Spike_D614G)",2020-07-30,NaN,True,True,NaN,2020-05-30,Northern Ireland,Ireland,no

```bash
pastml --tree timepoint1.filteredNI.rooted.nwk --data timepoint1.strainCountry.all.filteredNI.txt --prediction_method DELTRAN --columns country --data_sep , --work_dir timepoint1_filtered_NI_pastml --resolve_polytomies --threads 2 --verbose
```

### Time point 2

In [125]:
timepoint2 = full_GISAID_metadata[
    (((full_GISAID_metadata['Pango lineage'].str.startswith('B.1.177')) | (full_GISAID_metadata['Pango lineage'].isin(['AA.1','AA.2','AA.3','AA.4','AA.5','AA.6','AA.7','AA.8','Z.1','Y.1', 'W.1', 'W.2', 'W.3', 'W.4','V.1', 'V.2', 'U.1', 'U.2', 'U.3']))) &
    (full_GISAID_metadata['outlier'] == 'no') &
    ~(full_GISAID_metadata['Accession ID'].isin(NISamplesToExclude['accession_id'])) &
    (full_GISAID_metadata['Collection date 2'] <= pd.to_datetime('2020-10-31'))) | (full_GISAID_metadata['Accession ID'] == 'EPI_ISL_402125')].sort_values(by='Collection date 2', ascending=True)
timepoint2

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
4034893,EPI_ISL_402125,2019-12-31,Asia / China,NaN,Human,L,B,NaN,(),2020-01-12,NaN,True,True,NaN,2019-12-31,Asia / China,Other,no
6887578,EPI_ISL_9388907,2020-03-03,Asia / India / Delhi,NaN,Human,G,B.1.177,NaN,"(Spike_S247R,NSP1_N128S,NSP12_P323L,Spike_D614...",2022-02-01,NaN,True,True,NaN,2020-03-03,Asia / India,Other,no
6881224,EPI_ISL_9388908,2020-03-03,Asia / India / Delhi,NaN,Human,G,B.1.177,NaN,"(Spike_S247R,NSP1_N128S,NSP12_P323L,Spike_D614...",2022-02-01,NaN,True,True,NaN,2020-03-03,Asia / India,Other,no
6887530,EPI_ISL_9388909,2020-03-03,Asia / India / Delhi,NaN,Human,G,B.1.177,NaN,"(Spike_G72R,Spike_N1134Y,NSP1_N128S,NSP12_P323...",2022-02-01,NaN,True,True,NaN,2020-03-03,Asia / India,Other,no
3653523,EPI_ISL_791809,2020-04-14,North America / USA / Massachusetts,NaN,Human,GH,B.1.177,NaN,"(NSP2_Y189N,NS3_Q57H,N_D401Y,NSP12_P323L,Spike...",2021-01-09,NaN,True,True,NaN,2020-04-14,North America / USA,Other,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10473645,EPI_ISL_680526,2020-10-31,Europe / United Kingdom / Scotland,NaN,Human,GV,B.1.177,NaN,"(NSP9_S59I,Spike_P272L,NSP12_P323L,Spike_A262S...",2020-12-07,NaN,True,True,NaN,2020-10-31,Scotland,Other,no
10473666,EPI_ISL_680516,2020-10-31,Europe / United Kingdom / Scotland,NaN,Human,GV,B.1.177,NaN,"(NSP9_S59I,Spike_P272L,NSP12_P323L,Spike_A262S...",2020-12-07,NaN,True,True,NaN,2020-10-31,Scotland,Other,no
10474606,EPI_ISL_652059,2020-10-31,Europe / United Kingdom / Scotland,NaN,Human,GV,B.1.177,NaN,"(Spike_L18F,NSP6_L142F,NSP12_P323L,Spike_D614G...",2020-11-23,NaN,True,True,NaN,2020-10-31,Scotland,Other,no
9303396,EPI_ISL_639115,2020-10-31,Europe / United Kingdom / Wales,NaN,Human,GV,B.1.177.15,NaN,"(NSP2_G339S,NSP6_A54S,Spike_G1167F,NSP12_P323L...",2020-11-16,NaN,True,True,NaN,2020-10-31,Wales,Other,no
3367091,EPI_ISL_646023,2020-10-31,Europe / United Kingdom / England,NaN,Human,GV,B.1.177,NaN,"(Spike_L18F,NSP15_D335Y,NSP3_E229G,Spike_A845S...",2020-11-20,NaN,True,True,NaN,2020-10-31,England,Other,no

In [126]:
timepoint2.groupby('Pango lineage').count()

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
Pango lineage,,,,,,,,,,,,,,,,,
AA.1,13,13,13,1,13,13,0,13,13,0,13,13,0,13,13,13,13
AA.3,1,1,1,0,1,1,0,1,1,0,1,1,0,1,1,1,1
AA.4,3,3,3,0,3,3,0,3,3,0,3,3,0,3,3,3,3
B,1,1,1,0,1,1,0,1,1,0,1,1,0,1,1,1,1
B.1.177,16335,16335,16335,834,16335,16335,0,16335,16335,0,16335,16326,0,16335,16335,16335,16335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
W.1,16,16,16,1,16,16,0,16,16,0,16,16,0,16,16,16,16
W.2,16,16,16,0,16,16,0,16,16,0,16,16,0,16,16,16,16
W.3,70,70,70,0,70,70,0,70,70,0,70,70,0,70,70,70,70
W.4,226,226,226,0,226,226,0,226,226,0,226,226,0,226,226,226,226
Z.1,35,35,35,0,35,35,0,35,35,0,35,35,0,35,35,35,35

In [127]:
timepoint2.groupby('Simple country').count()

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,outlier
Simple country,,,,,,,,,,,,,,,,,
Ireland,450,450,450,0,450,450,450,0,450,450,0,450,450,0,450,450,450
Other,31419,31419,31419,945,31419,31419,31419,0,31419,31419,0,31419,31404,0,31419,31419,31419

In [128]:
timepoint2[timepoint2['Accession ID'] == 'EPI_ISL_402125']

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
4034893,EPI_ISL_402125,2019-12-31,Asia / China,NaN,Human,L,B,NaN,(),2020-01-12,NaN,True,True,NaN,2019-12-31,Asia / China,Other,no

In [129]:
timepoint2['Accession ID'].to_csv('../outputFiles/timepoint2.AccessionIDs.filteredNI.txt', index=False)

In [130]:
timepoint2[['Accession ID','Simple country']].rename(columns={'Accession ID': 'strain', 'Simple country': 'country'}).to_csv('../outputFiles/timepoint2.strainCountry.filteredNI.txt', index=False)

In [131]:
timepoint2[['Accession ID','Country']].rename(columns={'Accession ID': 'strain', 'Country': 'country'}).to_csv('../outputFiles/timepoint2.strainCountry.all.filteredNI.txt', index=False)

In [132]:
!gotree prune -r -i ../datasets/GISAID/GISAID-hCoV-19-phylogeny-2022-05-20/global.tree --tipfile ../outputFiles/timepoint2.AccessionIDs.filteredNI.txt -o ../outputFiles/timepoint2.filteredNI.tree

2023/01/10 15:51:27 Newick : Branch lengths attached to root node are ignored

In [133]:
!gotree reroot outgroup -i ../outputFiles/timepoint2.filteredNI.tree EPI_ISL_402125 > ../outputFiles/timepoint2.filteredNI.rooted.nwk

In [134]:
timepoint2.groupby('Country').count().sort_values(by="Accession ID", ascending=False).head(30)

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Simple country,outlier
Country,,,,,,,,,,,,,,,,,
England,16351,16351,16351,0,16351,16351,16351,0,16351,16351,0,16351,16350,0,16351,16351,16351
Wales,3782,3782,3782,0,3782,3782,3782,0,3782,3782,0,3782,3780,0,3782,3782,3782
Scotland,3052,3052,3052,0,3052,3052,3052,0,3052,3052,0,3052,3045,0,3052,3052,3052
Europe / Iceland,1772,1772,1772,22,1772,1772,1772,0,1772,1772,0,1772,1772,0,1772,1772,1772
Europe / Denmark,1703,1703,1703,0,1703,1703,1703,0,1703,1703,0,1703,1703,0,1703,1703,1703
Europe / Spain,1607,1607,1607,838,1607,1607,1607,0,1607,1607,0,1607,1604,0,1607,1607,1607
Europe / Switzerland,759,759,759,0,759,759,759,0,759,759,0,759,758,0,759,759,759
Europe / Italy,565,565,565,6,565,565,565,0,565,565,0,565,565,0,565,565,565
Europe / Netherlands,355,355,355,2,355,355,355,0,355,355,0,355,355,0,355,355,355
Europe / France,337,337,337,0,337,337,337,0,337,337,0,337,337,0,337,337,337
Northern Ireland,235,235,235,0,235,235,235,0,235,235,0,235,235,0,235,235,235
Republic of Ireland,215,215,215,0,215,215,215,0,215,215,0,215,215,0,215,215,215
Europe / Germany,181,181,181,12,181,181,181,0,181,181,0,181,181,0,181,181,181
Europe / Belgium,170,170,170,46,170,170,170,0,170,170,0,170,169,0,170,170,170
Europe / Gibraltar,143,143,143,0,143,143,143,0,143,143,0,143,143,0,143,143,143
Europe / Norway,142,142,142,0,142,142,142,0,142,142,0,142,142,0,142,142,142
Europe / Luxembourg,140,140,140,0,140,140,140,0,140,140,0,140,140,0,140,140,140
Europe / Latvia,59,59,59,0,59,59,59,0,59,59,0,59,59,0,59,59,59
Europe / Sweden,58,58,58,0,58,58,58,0,58,58,0,58,58,0,58,58,58
Europe / Slovenia,35,35,35,0,35,35,35,0,35,35,0,35,35,0,35,35,35
Europe / Cyprus,18,18,18,0,18,18,18,0,18,18,0,18,18,0,18,18,18
Asia / United Arab Emirates,18,18,18,0,18,18,18,0,18,18,0,18,18,0,18,18,18
North America / Canada,17,17,17,0,17,17,17,0,17,17,0,17,17,0,17,17,17
North America / USA,13,13,13,0,13,13,13,0,13,13,0,13,13,0,13,13,13
Europe / Austria,12,12,12,0,12,12,12,0,12,12,0,12,12,0,12,12,12
Oceania / New Zealand,12,12,12,0,12,12,12,0,12,12,0,12,12,0,12,12,12
Asia / Hong Kong,12,12,12,1,12,12,12,0,12,12,0,12,12,0,12,12,12
Asia / South Korea,11,11,11,1,11,11,11,0,11,11,0,11,11,0,11,11,11
Africa / Tunisia,11,11,11,0,11,11,11,0,11,11,0,11,11,0,11,11,11
Europe / Lithuania,11,11,11,0,11,11,11,0,11,11,0,11,11,0,11,11,11

In [135]:
timepoint2[timepoint2['Country'].isin(['Republic of Ireland','Northern Ireland'])].sort_values(by='Collection date 2', ascending=True)

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
5250347,EPI_ISL_512092,2020-07-23,Europe / Ireland / Dublin,NaN,Human,GV,B.1.177,NaN,"(NSP12_M380V,Spike_E654Q,NSP6_A54S,Spike_D1163...",2020-08-10,NaN,True,True,NaN,2020-07-23,Republic of Ireland,Ireland,no
2430803,EPI_ISL_525358,2020-07-29,Europe / Ireland / Dublin,NaN,Human,GV,B.1.177,NaN,"(NSP12_M380V,Spike_E654Q,NSP6_A54S,Spike_D1163...",2020-08-29,NaN,True,True,NaN,2020-07-29,Republic of Ireland,Ireland,no
2430779,EPI_ISL_525373,2020-08-01,Europe / Ireland / Dublin,NaN,Human,GV,B.1.177,NaN,"(NSP12_M380V,Spike_E654Q,NSP6_A54S,Spike_D1163...",2020-08-29,NaN,True,True,NaN,2020-08-01,Republic of Ireland,Ireland,no
2430791,EPI_ISL_525374,2020-08-01,Europe / Ireland / Dublin,NaN,Human,GV,B.1.177,NaN,"(NSP3_K429N,NSP6_A54S,NSP12_P323L,Spike_D614G,...",2020-08-29,NaN,True,True,NaN,2020-08-01,Republic of Ireland,Ireland,no
2430748,EPI_ISL_528452,2020-08-10,Europe / Ireland / Waterford,NaN,Human,GV,B.1.177,NaN,"(Spike_L18F,Spike_T51I,NSP12_P323L,Spike_D614G...",2020-09-07,NaN,True,True,NaN,2020-08-10,Republic of Ireland,Ireland,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2422493,EPI_ISL_1055116,2020-10-28,Europe / Ireland / Kerry,NaN,Human,GV,B.1.177,NaN,"(Spike_L18F,Spike_D215H,NSP6_L142F,NSP12_P323L...",2021-02-23,NaN,True,True,NaN,2020-10-28,Republic of Ireland,Ireland,no
2422487,EPI_ISL_1055140,2020-10-28,Europe / Ireland / Kerry,NaN,Human,GV,B.1.177.54,NaN,"(NSP3_A231V,NSP3_A1105V,NS3_V163I,NSP3_S1285F,...",2021-02-23,NaN,True,True,NaN,2020-10-28,Republic of Ireland,Ireland,no
4564012,EPI_ISL_768786,2020-10-30,Europe / Ireland / Dublin,NaN,Human,GV,B.1.177.66,NaN,"(Spike_L18F,Spike_D215H,NSP14_H26Y,E_S67P,NSP6...",2021-01-06,NaN,True,True,NaN,2020-10-30,Republic of Ireland,Ireland,no
2422492,EPI_ISL_1055132,2020-10-31,Europe / Ireland / Kerry,NaN,Human,GV,B.1.177,NaN,"(Spike_L18F,Spike_D215H,NSP6_L142F,NSP12_P323L...",2021-02-23,NaN,True,True,NaN,2020-10-31,Republic of Ireland,Ireland,no
4742063,EPI_ISL_1055133,2020-10-31,Europe / Ireland / Kerry,NaN,Human,GV,B.1.177.54,NaN,"(NSP3_A231V,NSP3_A1105V,NS3_V163I,NSP3_S1285F,...",2021-02-23,NaN,True,True,NaN,2020-10-31,Republic of Ireland,Ireland,no

```bash
pastml --tree timepoint2.filteredNI.rooted.nwk --data timepoint2.strainCountry.all.filteredNI.txt --prediction_method DELTRAN --columns country --data_sep , --work_dir timepoint2_filtered_NI_pastml --resolve_polytomies --threads 2 --verbose
```

### Time point 3

In [136]:
timepoint3 = full_GISAID_metadata[
    (((full_GISAID_metadata['Pango lineage'].str.startswith('B.1.1.7.')) | (full_GISAID_metadata['Pango lineage'].isin(['B.1.1.7', 'Q.1','Q.2','Q.3','Q.4','Q.5','Q.6','Q.7','Q.8']))) &
    (full_GISAID_metadata['outlier'] == 'no') &
     ~(full_GISAID_metadata['Accession ID'].isin(NISamplesToExclude['accession_id'])) &
    (full_GISAID_metadata['Collection date 2'] <= pd.to_datetime('2021-02-28'))) | (full_GISAID_metadata['Accession ID'] == 'EPI_ISL_402125')].sort_values(by='Collection date 2', ascending=True)
timepoint3

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
4034893,EPI_ISL_402125,2019-12-31,Asia / China,NaN,Human,L,B,NaN,(),2020-01-12,NaN,True,True,NaN,2019-12-31,Asia / China,Other,no
3434373,EPI_ISL_606424,2020-10-15,Europe / United Kingdom / England,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in ...,"(Spike_H69del,NS8_Q27stop,NSP3_T183I,Spike_T71...",2020-11-02,NaN,True,True,NaN,2020-10-15,England,Other,no
3434302,EPI_ISL_606375,2020-10-15,Europe / United Kingdom / England,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in ...,"(Spike_H69del,NS8_Q27stop,NSP3_T183I,Spike_T71...",2020-11-02,NaN,True,True,NaN,2020-10-15,England,Other,no
7902926,EPI_ISL_2751540,2020-10-21,Europe / United Kingdom / England,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in ...,"(Spike_H69del,NS8_Q27stop,NSP3_T183I,Spike_T71...",2021-06-30,NaN,True,True,NaN,2020-10-21,England,Other,no
3406655,EPI_ISL_629120,2020-10-21,Europe / United Kingdom / England,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in ...,"(Spike_H69del,NS8_Q27stop,NSP3_T183I,Spike_T71...",2020-11-10,NaN,True,True,NaN,2020-10-21,England,Other,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3670446,EPI_ISL_1246381,2021-02-28,Europe / United Kingdom / Scotland,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in ...,"(NSP2_N280Y,Spike_H69del,NS8_Q27stop,NS8_L118V...",2021-03-15,NaN,True,True,NaN,2021-02-28,Scotland,Other,no
3670449,EPI_ISL_1246377,2021-02-28,Europe / United Kingdom / Scotland,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in ...,"(NSP2_N280Y,Spike_H69del,NS8_Q27stop,NS8_L118V...",2021-03-15,NaN,True,True,NaN,2021-02-28,Scotland,Other,no
3670457,EPI_ISL_1246465,2021-02-28,Europe / United Kingdom / Scotland,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in ...,"(Spike_H69del,NS8_Q27stop,NSP3_T183I,Spike_T71...",2021-03-15,NaN,True,True,NaN,2021-02-28,Scotland,Other,no
9950613,EPI_ISL_1656106,2021-02-28,Europe / Lithuania / Vilniaus apskritis,NaN,Human,GRY,Q.1,VOC Alpha GRY (B.1.1.7+Q.*) first detected in ...,"(Spike_H69del,NS8_Q27stop,NSP3_T183I,Spike_T71...",2021-04-20,NaN,True,True,NaN,2021-02-28,Europe / Lithuania,Other,no
196187,EPI_ISL_1387706,2021-02-28,Europe / United Kingdom / England,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in ...,"(Spike_H69del,NS8_Q27stop,NSP3_T183I,Spike_T71...",2021-03-29,NaN,True,True,NaN,2021-02-28,England,Other,no

In [137]:
timepoint3.groupby('Pango lineage').count()

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
Pango lineage,,,,,,,,,,,,,,,,,
B,1,1,1,0,1,1,0,1,1,0,1,1,0,1,1,1,1
B.1.1.7,182326,182326,182326,4415,182326,182326,182326,182302,182326,0,182227,181588,1,182326,182326,182326,182326
Q.1,174,174,174,1,174,174,174,174,174,0,173,174,0,174,174,174,174
Q.2,117,117,117,0,117,117,117,117,117,0,117,117,0,117,117,117,117
Q.3,295,295,295,144,295,295,295,295,295,0,295,295,0,295,295,295,295
Q.4,163,163,163,4,163,163,163,163,163,0,163,163,0,163,163,163,163
Q.7,16,16,16,1,16,16,16,16,16,0,16,16,0,16,16,16,16

In [138]:
timepoint3.groupby('Simple country').count()

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,outlier
Simple country,,,,,,,,,,,,,,,,,
Ireland,3311,3311,3311,0,3311,3311,3311,3311,3311,3311,0,3296,3305,0,3311,3311,3311
Other,179781,179781,179781,4565,179781,179781,179781,179780,179757,179781,0,179696,179049,1,179781,179781,179781

In [139]:
timepoint3[timepoint3['Accession ID'] == 'EPI_ISL_402125']

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
4034893,EPI_ISL_402125,2019-12-31,Asia / China,NaN,Human,L,B,NaN,(),2020-01-12,NaN,True,True,NaN,2019-12-31,Asia / China,Other,no

In [140]:
timepoint3['Accession ID'].to_csv('../outputFiles/timepoint3.AccessionIDs.filteredNI.txt', index=False)

In [141]:
timepoint3[['Accession ID','Simple country']].rename(columns={'Accession ID': 'strain', 'Simple country': 'country'}).to_csv('../outputFiles/timepoint3.strainCountry.filteredNI.txt', index=False)

In [142]:
timepoint3[['Accession ID','Country']].rename(columns={'Accession ID': 'strain', 'Country': 'country'}).to_csv('../outputFiles/timepoint3.strainCountry.all.filteredNI.txt', index=False)

In [143]:
!gotree prune -r -i ../datasets/GISAID/GISAID-hCoV-19-phylogeny-2022-05-20/global.tree --tipfile ../outputFiles/timepoint3.AccessionIDs.filteredNI.txt -o ../outputFiles/timepoint3.filteredNI.tree

2023/01/10 15:52:55 Newick : Branch lengths attached to root node are ignored

In [144]:
!gotree reroot outgroup -i ../outputFiles/timepoint3.filteredNI.tree EPI_ISL_402125 > ../outputFiles/timepoint3.filteredNI.rooted.nwk

In [145]:
timepoint3.groupby('Country').count().sort_values(by="Accession ID", ascending=False).head(30)

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Simple country,outlier
Country,,,,,,,,,,,,,,,,,
England,97587,97587,97587,0,97587,97587,97587,97587,97587,97587,0,97586,96975,0,97587,97587,97587
Europe / Sweden,10283,10283,10283,1,10283,10283,10283,10283,10283,10283,0,10248,10283,0,10283,10283,10283
Europe / Germany,7217,7217,7217,201,7217,7217,7217,7217,7217,7217,0,7217,7216,0,7217,7217,7217
North America / USA,7116,7116,7116,418,7116,7116,7116,7116,7112,7116,0,7116,7112,0,7116,7116,7116
Europe / Denmark,6294,6294,6294,0,6294,6294,6294,6294,6294,6294,0,6294,6290,0,6294,6294,6294
Scotland,6242,6242,6242,0,6242,6242,6242,6242,6242,6242,0,6242,6225,0,6242,6242,6242
Wales,5863,5863,5863,0,5863,5863,5863,5863,5863,5863,0,5863,5841,0,5863,5863,5863
Europe / France,3766,3766,3766,2,3766,3766,3766,3766,3766,3766,0,3766,3766,0,3766,3766,3766
Europe / Netherlands,3338,3338,3338,8,3338,3338,3338,3338,3338,3338,0,3338,3305,0,3338,3338,3338
North America / Canada,3249,3249,3249,0,3249,3249,3249,3249,3249,3249,0,3248,3249,0,3249,3249,3249
Europe / Switzerland,3147,3147,3147,2,3147,3147,3147,3147,3147,3147,0,3147,3138,1,3147,3147,3147
Asia / Israel,3055,3055,3055,0,3055,3055,3055,3055,3055,3055,0,3055,3055,0,3055,3055,3055
Europe / Spain,2949,2949,2949,1138,2949,2949,2949,2949,2949,2949,0,2949,2947,0,2949,2949,2949
Republic of Ireland,2850,2850,2850,0,2850,2850,2850,2850,2850,2850,0,2835,2850,0,2850,2850,2850
Europe / Italy,2692,2692,2692,70,2692,2692,2692,2692,2692,2692,0,2692,2692,0,2692,2692,2692
Europe / Belgium,2589,2589,2589,2198,2589,2589,2589,2589,2589,2589,0,2589,2574,0,2589,2589,2589
Europe / Finland,2239,2239,2239,1,2239,2239,2239,2239,2239,2239,0,2239,2238,0,2239,2239,2239
Europe / Norway,1615,1615,1615,0,1615,1615,1615,1615,1615,1615,0,1615,1614,0,1615,1615,1615
Europe / Czech Republic,1037,1037,1037,131,1037,1037,1037,1037,1036,1037,0,1017,1036,0,1037,1037,1037
Europe / Poland,930,930,930,0,930,930,930,930,930,930,0,920,930,0,930,930,930
Europe / Austria,664,664,664,15,664,664,664,664,647,664,0,664,664,0,664,664,664
Europe / Portugal,650,650,650,0,650,650,650,650,650,650,0,650,642,0,650,650,650
Europe / Bulgaria,596,596,596,0,596,596,596,596,596,596,0,585,596,0,596,596,596
Europe / Luxembourg,506,506,506,0,506,506,506,506,506,506,0,506,506,0,506,506,506
Northern Ireland,461,461,461,0,461,461,461,461,461,461,0,461,455,0,461,461,461
Europe / Greece,448,448,448,2,448,448,448,448,448,448,0,448,448,0,448,448,448
Asia / Japan,402,402,402,68,402,402,402,402,402,402,0,402,402,0,402,402,402
Asia / India,383,383,383,13,383,383,383,383,383,383,0,383,383,0,383,383,383
Europe / Turkey,364,364,364,0,364,364,364,364,364,364,0,364,364,0,364,364,364
Asia / United Arab Emirates,363,363,363,0,363,363,363,363,363,363,0,363,363,0,363,363,363

In [146]:
timepoint3[timepoint3['Country'].isin(['Republic of Ireland','Northern Ireland'])].sort_values(by='Collection date 2', ascending=True)

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
8042814,EPI_ISL_791292,2020-12-17,Europe / Ireland / Wexford,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in the UK,"(Spike_H69del,NS3_L15F,NSP3_P1044S,NS8_Q27stop,NSP3_T183I,Spike_T716I,NSP6_S...",2021-01-08,NaN,True,True,NaN,2020-12-17,Republic of Ireland,Ireland,no
5132969,EPI_ISL_735386,2020-12-18,Europe / Ireland / Dublin,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in the UK,"(Spike_H69del,NS8_Q27stop,NSP3_T183I,Spike_T716I,NSP6_S106del,N_R203K,Spike_...",2020-12-25,NaN,True,True,NaN,2020-12-18,Republic of Ireland,Ireland,no
3587786,EPI_ISL_1252307,2020-12-19,Europe / Ireland / Dublin,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in the UK,"(Spike_H69del,NS8_Q27stop,NSP3_T183I,Spike_T716I,NS8_K68stop,NSP6_S106del,N_...",2021-03-15,NaN,True,True,NaN,2020-12-19,Republic of Ireland,Ireland,no
2428942,EPI_ISL_735385,2020-12-19,Europe / Ireland / Kilkenny,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in the UK,"(Spike_H69del,NS3_L15F,NSP3_P1044S,NS8_Q27stop,NSP3_T183I,Spike_T716I,NSP6_S...",2020-12-25,NaN,True,True,NaN,2020-12-19,Republic of Ireland,Ireland,no
2422310,EPI_ISL_1055166,2020-12-20,Europe / Ireland / Louth,NaN,Human,GR,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in the UK,"(NS3_L15F,NS8_Q27stop,NSP3_T183I,NSP3_A890D,NSP6_F108L,Spike_T716I,N_R203K,S...",2021-02-23,NaN,True,True,NaN,2020-12-20,Republic of Ireland,Ireland,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2425601,EPI_ISL_1397271,2021-02-28,Europe / Ireland / Westmeath,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in the UK,"(Spike_H69del,NS8_Q27stop,NSP3_T183I,Spike_T716I,NSP6_S106del,NSP10_A32V,N_R...",2021-03-30,NaN,True,True,NaN,2021-02-28,Republic of Ireland,Ireland,no
2425603,EPI_ISL_1397298,2021-02-28,Europe / Ireland / Meath,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in the UK,"(Spike_H69del,NS8_Q27stop,NSP3_T183I,Spike_T716I,NSP6_S106del,N_R203K,Spike_...",2021-03-30,NaN,True,True,NaN,2021-02-28,Republic of Ireland,Ireland,no
2425606,EPI_ISL_1397295,2021-02-28,Europe / Ireland / Monaghan,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in the UK,"(Spike_H69del,NS3_L15F,NSP3_P1044S,NS8_Q27stop,NSP3_T183I,NS3_L41F,Spike_T71...",2021-03-30,NaN,True,True,NaN,2021-02-28,Republic of Ireland,Ireland,no
3783116,EPI_ISL_1397272,2021-02-28,Europe / Ireland / Westmeath,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in the UK,"(Spike_H69del,NS8_Q27stop,NSP3_T183I,Spike_T716I,NSP6_S106del,N_R203K,NSP4_S...",2021-03-30,NaN,True,True,NaN,2021-02-28,Republic of Ireland,Ireland,no
5090245,EPI_ISL_1398793,2021-02-28,Europe / Ireland / Dublin,NaN,Human,GRY,B.1.1.7,VOC Alpha GRY (B.1.1.7+Q.*) first detected in the UK,"(Spike_H69del,NS3_L15F,NS8_Q27stop,NSP3_T183I,Spike_T716I,NSP6_S106del,N_R20...",2021-03-30,NaN,True,True,NaN,2021-02-28,Republic of Ireland,Ireland,no

```bash
pastml --tree timepoint3.filteredNI.rooted.nwk --data timepoint3.strainCountry.all.filteredNI.txt --prediction_method DELTRAN --columns country --data_sep , --work_dir timepoint3_filtered_NI_pastml --resolve_polytomies --threads 2 --verbose
```

### Time point 4

In [147]:
timepoint4 = full_GISAID_metadata[
    (((full_GISAID_metadata['Pango lineage'] == 'B.1.617.2') | (full_GISAID_metadata['Pango lineage'].str.startswith('B.1.617.2.')) | (full_GISAID_metadata['Pango lineage'].str.startswith('AY.'))) &
    (full_GISAID_metadata['outlier'] == 'no') &
     ~(full_GISAID_metadata['Accession ID'].isin(NISamplesToExclude['accession_id'])) &
    (full_GISAID_metadata['Collection date 2'] <= pd.to_datetime('2021-07-31'))) | (full_GISAID_metadata['Accession ID'] == 'EPI_ISL_402125')].sort_values(by='Collection date 2', ascending=True)
timepoint4

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
4034893,EPI_ISL_402125,2019-12-31,Asia / China,NaN,Human,L,B,NaN,(),2020-01-12,NaN,True,True,NaN,2019-12-31,Asia / China,Other,no
8005382,EPI_ISL_6949234,2020-07-15,North America / USA / Texas / Houston,NaN,Human,GK,AY.75,VOC Delta GK (B.1.617.2+AY.*) first detected i...,"(N_D377Y,M_I82T,N_D63G,Spike_D950N,N_R203M,NSP...",2021-12-01,NaN,True,True,NaN,2020-07-15,North America / USA,Other,no
8358710,EPI_ISL_6948687,2020-07-16,North America / USA / Texas / Houston,NaN,Human,GK,AY.43,VOC Delta GK (B.1.617.2+AY.*) first detected i...,"(N_D377Y,N_R203M,NSP13_P77L,Spike_T478K,Spike_...",2021-12-01,NaN,True,True,NaN,2020-07-16,North America / USA,Other,no
8358713,EPI_ISL_6948551,2020-07-16,North America / USA / Texas / Houston,NaN,Human,GH,AY.75,VOC Delta GK (B.1.617.2+AY.*) first detected i...,"(NSP7_S25L,N_D377Y,N_R203M,NSP3_P822L,NSP13_P7...",2021-12-01,NaN,True,True,NaN,2020-07-16,North America / USA,Other,no
8115916,EPI_ISL_5387777,2020-07-16,North America / USA / Texas / Houston,NaN,Human,G,AY.44,VOC Delta GK (B.1.617.2+AY.*) first detected i...,"(NSP12_F192V,NSP13_S468L,NSP2_E493K,NSP12_P323...",2021-10-20,NaN,True,True,NaN,2020-07-16,North America / USA,Other,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5090732,EPI_ISL_3240534,2021-07-31,Europe / Denmark / Hovedstaden,NaN,Human,GK,AY.4.7,VOC Delta GK (B.1.617.2+AY.*) first detected i...,"(N_G215C,NSP3_A1711V,Spike_T95I,N_D63G,NSP13_E...",2021-08-05,NaN,True,True,NaN,2021-07-31,Europe / Denmark,Other,no
3912790,EPI_ISL_3366536,2021-07-31,Europe / United Kingdom / England,NaN,Human,GK,AY.4,VOC Delta GK (B.1.617.2+AY.*) first detected i...,"(N_G215C,NSP3_A1711V,Spike_T95I,N_D63G,N_R203M...",2021-08-12,NaN,True,True,NaN,2021-07-31,England,Other,no
469006,EPI_ISL_11257199,2021-07-31,Europe / France / Hauts-de-France / Nord,NaN,Human,GK,AY.43,VOC Delta GK (B.1.617.2+AY.*) first detected i...,"(N_G215C,N_D63G,N_R203M,NSP3_K837N,NSP12_G671S...",2022-03-22,NaN,True,True,NaN,2021-07-31,Europe / France,Other,no
4763223,EPI_ISL_3850088,2021-07-31,North America / USA / North Carolina,NaN,Human,O,AY.44,VOC Delta GK (B.1.617.2+AY.*) first detected i...,"(N_G215C,N_D63G,N_R203M,NSP12_G671S,Spike_V120...",2021-09-01,NaN,True,True,NaN,2021-07-31,North America / USA,Other,no
4648578,EPI_ISL_3821708,2021-07-31,North America / USA / Florida,NaN,Human,GK,AY.44,VOC Delta GK (B.1.617.2+AY.*) first detected i...,"(N_G215C,NS8_L60F,N_D63G,N_R203M,NSP12_G671S,N...",2021-08-31,NaN,True,True,NaN,2021-07-31,North America / USA,Other,no

In [148]:
timepoint4.groupby('Pango lineage').count()

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
Pango lineage,,,,,,,,,,,,,,,,,
AY.1,711,711,711,23,711,711,711,711,711,0,711,711,0,711,711,711,711
AY.10,1100,1100,1100,16,1100,1100,1100,1100,1100,0,1100,1099,0,1100,1100,1100,1100
AY.100,3888,3888,3888,68,3888,3888,3888,3888,3888,0,3885,3888,0,3888,3888,3888,3888
AY.101,470,470,470,23,470,470,470,470,470,0,470,470,0,470,470,470,470
AY.102,119,119,119,10,119,119,119,119,119,0,119,119,0,119,119,119,119
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
AY.99,154,154,154,8,154,154,154,154,154,0,154,154,0,154,154,154,154
AY.99.1,31,31,31,0,31,31,31,31,31,0,31,31,0,31,31,31,31
AY.99.2,809,809,809,0,809,809,809,809,809,0,809,809,0,809,809,809,809
B,1,1,1,0,1,1,0,1,1,0,1,1,0,1,1,1,1
B.1.617.2,41289,41289,41289,2412,41289,41289,41289,41280,41289,0,41265,41286,1,41289,41289,41289,41289

In [149]:
timepoint4.groupby('Simple country').count()

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,outlier
Simple country,,,,,,,,,,,,,,,,,
Ireland,6536,6536,6536,0,6536,6536,6536,6536,6536,6536,0,6535,6536,0,6536,6536,6536
Other,505884,505884,505884,12179,505884,505884,505884,505883,505854,505884,0,505770,505788,2,505884,505884,505884

In [150]:
timepoint4[timepoint4['Accession ID'] == 'EPI_ISL_402125']

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
4034893,EPI_ISL_402125,2019-12-31,Asia / China,NaN,Human,L,B,NaN,(),2020-01-12,NaN,True,True,NaN,2019-12-31,Asia / China,Other,no

In [151]:
timepoint4['Accession ID'].to_csv('../outputFiles/timepoint4.AccessionIDs.filteredNI.txt', index=False)

In [152]:
timepoint4[['Accession ID','Simple country']].rename(columns={'Accession ID': 'strain', 'Simple country': 'country'}).to_csv('../outputFiles/timepoint4.strainCountry.filteredNI.txt', index=False)

In [153]:
timepoint4[['Accession ID','Country']].rename(columns={'Accession ID': 'strain', 'Country': 'country'}).to_csv('../outputFiles/timepoint4.strainCountry.all.filteredNI.txt', index=False)

In [154]:
!gotree prune -r -i ../datasets/GISAID/GISAID-hCoV-19-phylogeny-2022-05-20/global.tree --tipfile ../outputFiles/timepoint4.AccessionIDs.filteredNI.txt -o ../outputFiles/timepoint4.filteredNI.tree

2023/01/10 15:54:17 Newick : Branch lengths attached to root node are ignored

In [155]:
!gotree reroot outgroup -i ../outputFiles/timepoint4.filteredNI.tree EPI_ISL_402125 > ../outputFiles/timepoint4.filteredNI.rooted.nwk

In [156]:
timepoint4.groupby('Country').count().sort_values(by="Accession ID", ascending=False).head(30)

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Simple country,outlier
Country,,,,,,,,,,,,,,,,,
England,152100,152100,152100,1,152100,152100,152100,152100,152100,152100,0,152100,152037,0,152100,152100,152100
North America / USA,139933,139933,139933,2330,139933,139933,139933,139933,139917,139933,0,139841,139930,0,139933,139933,139933
Scotland,20683,20683,20683,0,20683,20683,20683,20683,20683,20683,0,20683,20673,0,20683,20683,20683
Asia / India,17939,17939,17939,1021,17939,17939,17939,17939,17933,17939,0,17939,17938,0,17939,17939,17939
Europe / France,17548,17548,17548,2,17548,17548,17548,17548,17548,17548,0,17548,17548,0,17548,17548,17548
Europe / Denmark,17061,17061,17061,0,17061,17061,17061,17061,17061,17061,0,17061,17061,0,17061,17061,17061
Asia / Japan,15461,15461,15461,567,15461,15461,15461,15461,15461,15461,0,15461,15461,0,15461,15461,15461
Wales,9969,9969,9969,0,9969,9969,9969,9969,9969,9969,0,9969,9969,0,9969,9969,9969
Europe / Germany,8804,8804,8804,1,8804,8804,8804,8804,8804,8804,0,8804,8804,0,8804,8804,8804
North America / Canada,8793,8793,8793,0,8793,8793,8793,8793,8793,8793,0,8780,8793,0,8793,8793,8793
Europe / Netherlands,8606,8606,8606,117,8606,8606,8606,8606,8606,8606,0,8604,8605,0,8606,8606,8606
Europe / Italy,8307,8307,8307,112,8307,8307,8307,8307,8307,8307,0,8307,8307,0,8307,8307,8307
Europe / Spain,8218,8218,8218,8,8218,8218,8218,8218,8218,8218,0,8218,8212,1,8218,8218,8218
Europe / Sweden,7282,7282,7282,0,7282,7282,7282,7282,7282,7282,0,7282,7281,0,7282,7282,7282
Europe / Turkey,6522,6522,6522,0,6522,6522,6522,6522,6522,6522,0,6522,6522,0,6522,6522,6522
Republic of Ireland,4923,4923,4923,0,4923,4923,4923,4923,4923,4923,0,4922,4923,0,4923,4923,4923
Europe / Switzerland,4531,4531,4531,0,4531,4531,4531,4531,4531,4531,0,4531,4531,0,4531,4531,4531
Europe / Belgium,4409,4409,4409,4306,4409,4409,4409,4409,4408,4409,0,4409,4408,0,4409,4409,4409
Europe / Finland,3703,3703,3703,0,3703,3703,3703,3703,3703,3703,0,3703,3703,0,3703,3703,3703
North America / Mexico,3673,3673,3673,65,3673,3673,3673,3673,3673,3673,0,3673,3673,0,3673,3673,3673
Europe / Portugal,3476,3476,3476,0,3476,3476,3476,3476,3476,3476,0,3476,3474,0,3476,3476,3476
Africa / South Africa,3002,3002,3002,187,3002,3002,3002,3002,3002,3002,0,3002,3002,0,3002,3002,3002
Asia / Indonesia,2794,2794,2794,11,2794,2794,2794,2794,2794,2794,0,2793,2794,0,2794,2794,2794
Oceania / Australia,2531,2531,2531,0,2531,2531,2531,2531,2531,2531,0,2526,2528,0,2531,2531,2531
Asia / Singapore,2194,2194,2194,1914,2194,2194,2194,2194,2194,2194,0,2194,2194,0,2194,2194,2194
Europe / Norway,1867,1867,1867,0,1867,1867,1867,1867,1867,1867,0,1867,1867,0,1867,1867,1867
Asia / Israel,1813,1813,1813,1,1813,1813,1813,1813,1813,1813,0,1813,1813,0,1813,1813,1813
Asia / South Korea,1621,1621,1621,424,1621,1621,1621,1621,1621,1621,0,1621,1621,0,1621,1621,1621
Northern Ireland,1613,1613,1613,0,1613,1613,1613,1613,1613,1613,0,1613,1613,0,1613,1613,1613
Europe / Austria,1471,1471,1471,7,1471,1471,1471,1471,1465,1471,0,1471,1471,0,1471,1471,1471

In [157]:
timepoint4[timepoint4['Country'].isin(['Republic of Ireland','Northern Ireland'])].sort_values(by='Collection date 2', ascending=True)

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
7656067,EPI_ISL_10125943,2021-04-05,Europe / United Kingdom / Northern Ireland,NaN,Human,GR,AY.57,VOC Alpha GRY (B.1.1.7+Q.*) first detected in the UK,"(Spike_H69del,NS3_L15F,NS8_Q27stop,NSP3_T183I,NSP4_S481L,Spike_T716I,NSP6_S1...",2022-02-21,NaN,True,True,NaN,2021-04-05,Northern Ireland,Ireland,no
7613406,EPI_ISL_1976611,2021-04-06,Europe / United Kingdom / Northern Ireland,NaN,Human,GR,AY.57,VOC Alpha GRY (B.1.1.7+Q.*) first detected in the UK,"(Spike_H69del,NS3_L15F,NS8_Q27stop,NSP3_T183I,NSP4_S481L,Spike_T716I,NSP6_S1...",2021-05-10,NaN,True,True,NaN,2021-04-06,Northern Ireland,Ireland,no
3758087,EPI_ISL_1731330,2021-04-11,Europe / Ireland / Dublin,NaN,Human,GK,B.1.617.2,VOC Delta GK (B.1.617.2+AY.*) first detected in India,"(NS7a_L116F,N_D63G,N_R203M,NSP12_G671S,NSP2_P129L,NS3_S26L,Spike_P681R,Spike...",2021-04-26,NaN,True,True,NaN,2021-04-11,Republic of Ireland,Ireland,no
3757245,EPI_ISL_1731198,2021-04-11,Europe / Ireland / Dublin,NaN,Human,GK,B.1.617.2,VOC Delta GK (B.1.617.2+AY.*) first detected in India,"(NS7a_L116F,N_D63G,N_R203M,NSP12_G671S,NSP12_S795F,NSP2_P129L,NS3_S26L,Spike...",2021-04-26,NaN,True,True,NaN,2021-04-11,Republic of Ireland,Ireland,no
2421435,EPI_ISL_2363328,2021-04-13,Europe / Ireland / Dublin,NaN,Human,GK,B.1.617.2,VOC Delta GK (B.1.617.2+AY.*) first detected in India,"(NSP12_T908I,N_G215C,NSP2_L462F,Spike_T95I,N_D63G,N_R203M,NSP12_G671S,Spike_...",2021-06-01,NaN,True,True,NaN,2021-04-13,Republic of Ireland,Ireland,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2386703,EPI_ISL_3672174,2021-07-31,Europe / Ireland / Sligo,NaN,Human,GK,AY.4,VOC Delta GK (B.1.617.2+AY.*) first detected in India,"(N_G215C,NSP3_A1711V,Spike_T95I,N_D63G,N_R203M,NSP12_G671S,Spike_G142D,NS3_S...",2021-08-25,NaN,True,True,NaN,2021-07-31,Republic of Ireland,Ireland,no
2386719,EPI_ISL_3672188,2021-07-31,Europe / Ireland / Westmeath,NaN,Human,GK,AY.4,VOC Delta GK (B.1.617.2+AY.*) first detected in India,"(N_G215C,NSP3_A1711V,Spike_T95I,N_D63G,N_R203M,NSP12_G671S,Spike_G142D,NS3_S...",2021-08-25,NaN,True,True,NaN,2021-07-31,Republic of Ireland,Ireland,no
2381574,EPI_ISL_3591154,2021-07-31,Europe / Ireland / Dublin,NaN,Human,GK,AY.5,VOC Delta GK (B.1.617.2+AY.*) first detected in India,"(N_G215C,N_D63G,N_R203M,NSP12_G671S,Spike_G142D,NS3_S26L,Spike_P681R,Spike_R...",2021-08-23,NaN,True,True,NaN,2021-07-31,Republic of Ireland,Ireland,no
2385829,EPI_ISL_3671943,2021-07-31,Europe / Ireland / Donegal,NaN,Human,GK,AY.4,VOC Delta GK (B.1.617.2+AY.*) first detected in India,"(N_G215C,NSP3_A1711V,Spike_T95I,N_D63G,N_R203M,NSP12_G671S,Spike_G142D,NS3_S...",2021-08-25,NaN,True,True,NaN,2021-07-31,Republic of Ireland,Ireland,no
2481313,EPI_ISL_4274914,2021-07-31,Europe / Ireland / Limerick,NaN,Human,GK,AY.4,VOC Delta GK (B.1.617.2+AY.*) first detected in India,"(N_G215C,NSP3_A1711V,N_D63G,N_R203M,NSP12_G671S,NSP2_S65F,NS3_S26L,Spike_P68...",2021-09-17,NaN,True,True,NaN,2021-07-31,Republic of Ireland,Ireland,no

```bash
pastml --tree timepoint4.filteredNI.rooted.nwk --data timepoint4.strainCountry.all.filteredNI.txt --prediction_method DELTRAN --columns country --data_sep , --work_dir timepoint4_filtered_NI_pastml --resolve_polytomies --threads 2 --verbose
```

### Time point 5

In [158]:
timepoint5 = full_GISAID_metadata[
    (((full_GISAID_metadata['Pango lineage'].isin(['B.1.1.529', 'BA.1'])) | (full_GISAID_metadata['Pango lineage'].str.startswith('B.1.1.529.')) | (full_GISAID_metadata['Pango lineage'].str.startswith('BA.1.'))) &
    (full_GISAID_metadata['outlier'] == 'no') &
     ~(full_GISAID_metadata['Accession ID'].isin(NISamplesToExclude['accession_id'])) &
    (full_GISAID_metadata['Collection date 2'] <= pd.to_datetime('2022-01-31'))) | (full_GISAID_metadata['Accession ID'] == 'EPI_ISL_402125')].sort_values(by='Collection date 2', ascending=True)
timepoint5

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
4034893,EPI_ISL_402125,2019-12-31,Asia / China,NaN,Human,L,B,NaN,(),2020-01-12,NaN,True,True,NaN,2019-12-31,Asia / China,Other,no
5672352,EPI_ISL_11246938,2021-10-29,Africa / Nigeria / Kano State,NaN,Human,GRA,BA.1.1,NaN,"(N_G215C,Spike_T95I,N_D63G,Spike_K417N,Spike_S...",2022-03-21,NaN,True,True,NaN,2021-10-29,Africa / Nigeria,Other,no
2199922,EPI_ISL_7649984,2021-11,Africa / Namibia / Khomas,NaN,Human,GRA,BA.1.18,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V...",2021-12-14,NaN,True,True,NaN,2021-11-01,Africa / Namibia,Other,no
2202452,EPI_ISL_7649999,2021-11,Africa / Namibia / Khomas,NaN,Human,GRA,BA.1.18,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V...",2021-12-14,NaN,True,True,NaN,2021-11-01,Africa / Namibia,Other,no
8948970,EPI_ISL_11229264,2021-11,Europe / Austria / Tyrol / Innsbruck / Innsbruck,NaN,Human,GRA,BA.1,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V...",2022-03-21,NaN,True,NaN,NaN,2021-11-01,Europe / Austria,Other,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2307945,EPI_ISL_9643527,2022-01-31,Europe / United Kingdom / England,NaN,Human,GRA,BA.1,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V...",2022-02-08,NaN,True,NaN,NaN,2022-01-31,England,Other,no
2307944,EPI_ISL_9643671,2022-01-31,Europe / United Kingdom / England,NaN,Human,GRA,BA.1.1,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V...",2022-02-08,NaN,True,NaN,NaN,2022-01-31,England,Other,no
2307936,EPI_ISL_9643774,2022-01-31,Europe / United Kingdom / England,NaN,Human,GRA,BA.1.17.2,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V...",2022-02-08,NaN,True,NaN,NaN,2022-01-31,England,Other,no
2308608,EPI_ISL_9643556,2022-01-31,Europe / United Kingdom / England,NaN,Human,GRA,BA.1.15,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V...",2022-02-08,NaN,True,NaN,NaN,2022-01-31,England,Other,no
2306101,EPI_ISL_9642570,2022-01-31,Europe / United Kingdom / England,NaN,Human,GRA,BA.1.17.2,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V...",2022-02-08,NaN,True,NaN,NaN,2022-01-31,England,Other,no

In [159]:
timepoint5.groupby('Pango lineage').count()

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
Pango lineage,,,,,,,,,,,,,,,,,
B,1,1,1,0,1,1,0,1,1,0,1,1,0,1,1,1,1
BA.1,305753,305753,305753,8103,305753,305753,305753,305324,305753,0,305753,4192,4,305753,305753,305753,305753
BA.1.1,442806,442806,442806,17034,442806,442806,442805,442454,442806,0,442806,6380,3,442806,442806,442806,442806
BA.1.1.1,26633,26633,26633,1022,26633,26633,26633,26631,26633,0,26633,429,0,26633,26633,26633,26633
BA.1.1.10,1719,1719,1719,14,1719,1719,1719,1719,1719,0,1719,28,0,1719,1719,1719,1719
BA.1.1.11,2730,2730,2730,28,2730,2730,2730,2730,2730,0,2730,213,0,2730,2730,2730,2730
BA.1.1.12,1929,1929,1929,2,1929,1929,1929,1929,1929,0,1929,5,0,1929,1929,1929,1929
BA.1.1.13,4526,4526,4526,14,4526,4526,4526,4526,4526,0,4526,13,0,4526,4526,4526,4526
BA.1.1.14,8848,8848,8848,129,8848,8848,8848,8848,8848,0,8848,70,1,8848,8848,8848,8848
BA.1.1.15,8803,8803,8803,94,8803,8803,8803,8802,8803,0,8803,73,0,8803,8803,8803,8803
BA.1.1.16,1931,1931,1931,16,1931,1931,1931,1931,1931,0,1931,5,0,1931,1931,1931,1931
BA.1.1.17,337,337,337,0,337,337,337,337,337,0,337,1,0,337,337,337,337
BA.1.1.18,36270,36270,36270,675,36270,36270,36270,36256,36270,0,36270,187,1,36270,36270,36270,36270
BA.1.1.2,28628,28628,28628,222,28628,28628,28628,28628,28628,0,28628,192,0,28628,28628,28628,28628
BA.1.1.3,300,300,300,1,300,300,300,300,300,0,300,33,0,300,300,300,300
BA.1.1.4,955,955,955,5,955,955,955,955,955,0,955,9,0,955,955,955,955
BA.1.1.5,168,168,168,0,168,168,168,168,168,0,168,0,0,168,168,168,168
BA.1.1.6,467,467,467,14,467,467,467,467,467,0,467,1,0,467,467,467,467
BA.1.1.7,628,628,628,50,628,628,628,628,628,0,628,91,0,628,628,628,628
BA.1.1.8,568,568,568,10,568,568,568,568,568,0,568,1,0,568,568,568,568
BA.1.1.9,192,192,192,0,192,192,192,192,192,0,192,1,0,192,192,192,192
BA.1.10,1493,1493,1493,31,1493,1493,1493,1493,1493,0,1493,50,0,1493,1493,1493,1493
BA.1.12,1971,1971,1971,21,1971,1971,1971,1971,1971,0,1971,5,0,1971,1971,1971,1971
BA.1.13,2782,2782,2782,73,2782,2782,2782,2781,2782,0,2782,43,0,2782,2782,2782,2782
BA.1.13.1,2563,2563,2563,109,2563,2563,2563,2563,2563,0,2563,4,0,2563,2563,2563,2563
BA.1.14,5706,5706,5706,1059,5706,5706,5706,5706,5706,0,5706,71,0,5706,5706,5706,5706
BA.1.14.1,1584,1584,1584,11,1584,1584,1584,1584,1584,0,1584,11,0,1584,1584,1584,1584
BA.1.14.2,349,349,349,1,349,349,349,349,349,0,349,5,0,349,349,349,349
BA.1.15,121927,121927,121927,2864,121927,121927,121927,121868,121927,0,121927,1885,1,121927,121927,121927,121927
BA.1.15.1,31182,31182,31182,166,31182,31182,31182,31182,31182,0,31182,130,0,31182,31182,31182,31182
BA.1.15.2,879,879,879,10,879,879,879,879,879,0,879,5,0,879,879,879,879
BA.1.16,9975,9975,9975,99,9975,9975,9975,9975,9975,0,9975,71,0,9975,9975,9975,9975
BA.1.16.1,97,97,97,6,97,97,97,97,97,0,97,2,0,97,97,97,97
BA.1.16.2,53,53,53,4,53,53,53,53,53,0,53,0,0,53,53,53,53
BA.1.17,42544,42544,42544,922,42544,42544,42544,42535,42544,0,42544,2523,0,42544,42544,42544,42544
BA.1.17.1,363,363,363,4,363,363,363,363,363,0,363,22,0,363,363,363,363
BA.1.17.2,145104,145104,145104,1695,145104,145104,145104,145102,145104,0,145104,929,0,145104,145104,145104,145104
BA.1.18,33747,33747,33747,1382,33747,33747,33747,33747,33747,0,33747,659,0,33747,33747,33747,33747
BA.1.19,2991,2991,2991,67,2991,2991,2991,2991,2991,0,2991,28,0,2991,2991,2991,2991
BA.1.2,85,85,85,0,85,85,85,85,85,0,85,0,0,85,85,85,85
BA.1.20,25852,25852,25852,1220,25852,25852,25852,25834,25852,0,25852,237,0,25852,25852,25852,25852
BA.1.21,4514,4514,4514,112,4514,4514,4514,4514,4514,0,4514,86,0,4514,4514,4514,4514
BA.1.21.1,476,476,476,4,476,476,476,476,476,0,476,110,0,476,476,476,476
BA.1.22,20,20,20,0,20,20,20,20,20,0,20,0,0,20,20,20,20
BA.1.3,342,342,342,1,342,342,342,342,342,0,342,0,0,342,342,342,342
BA.1.4,359,359,359,0,359,359,359,359,359,0,359,2,0,359,359,359,359
BA.1.5,406,406,406,0,406,406,406,406,406,0,406,2,0,406,406,406,406
BA.1.6,433,433,433,4,433,433,433,433,433,0,433,2,0,433,433,433,433
BA.1.7,544,544,544,1,544,544,544,544,544,0,544,1,0,544,544,544,544
BA.1.8,615,615,615,17,615,615,615,615,615,0,615,23,0,615,615,615,615
BA.1.9,486,486,486,4,486,486,486,486,486,0,486,2,0,486,486,486,486

In [160]:
timepoint5.groupby('Simple country').count()

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,outlier
Simple country,,,,,,,,,,,,,,,,,
Ireland,11503,11503,11503,0,11503,11503,11503,11503,11503,11503,0,11503,14,0,11503,11503,11503
Other,1302131,1302131,1302131,37320,1302131,1302131,1302131,1302129,1301244,1302131,0,1302131,18819,10,1302131,1302131,1302131

In [161]:
timepoint5[timepoint5['Accession ID'] == 'EPI_ISL_402125']

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
4034893,EPI_ISL_402125,2019-12-31,Asia / China,NaN,Human,L,B,NaN,(),2020-01-12,NaN,True,True,NaN,2019-12-31,Asia / China,Other,no

In [162]:
timepoint5['Accession ID'].to_csv('../outputFiles/timepoint5.AccessionIDs.filteredNI.txt', index=False)

In [163]:
timepoint5[['Accession ID','Simple country']].rename(columns={'Accession ID': 'strain', 'Simple country': 'country'}).to_csv('../outputFiles/timepoint5.strainCountry.filteredNI.txt', index=False)

In [164]:
timepoint5[['Accession ID','Country']].rename(columns={'Accession ID': 'strain', 'Country': 'country'}).to_csv('../outputFiles/timepoint5.strainCountry.all.filteredNI.txt', index=False)

In [165]:
!gotree prune -r -i ../datasets/GISAID/GISAID-hCoV-19-phylogeny-2022-05-20/global.tree --tipfile ../outputFiles/timepoint5.AccessionIDs.filteredNI.txt -o ../outputFiles/timepoint5.filteredNI.tree

2023/01/10 15:55:57 Newick : Branch lengths attached to root node are ignored

In [166]:
!gotree reroot outgroup -i ../outputFiles/timepoint5.filteredNI.tree EPI_ISL_402125 > ../outputFiles/timepoint5.filteredNI.rooted.nwk

In [167]:
timepoint5.groupby('Country').count().sort_values(by="Accession ID", ascending=False).head(30)

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Simple country,outlier
Country,,,,,,,,,,,,,,,,,
North America / USA,470629,470629,470629,16915,470629,470629,470629,470629,470146,470629,0,470629,4320,7,470629,470629,470629
England,344687,344687,344687,3,344687,344687,344687,344687,344687,344687,0,344687,1663,0,344687,344687,344687
Europe / Germany,50778,50778,50778,29,50778,50778,50778,50778,50778,50778,0,50778,539,0,50778,50778,50778
Europe / France,40361,40361,40361,9,40361,40361,40361,40361,40361,40361,0,40361,712,0,40361,40361,40361
North America / Canada,37743,37743,37743,0,37743,37743,37743,37743,37743,37743,0,37743,17,1,37743,37743,37743
Asia / Japan,37411,37411,37411,2094,37411,37411,37411,37411,37411,37411,0,37411,189,0,37411,37411,37411
Wales,34537,34537,34537,0,34537,34537,34537,34537,34537,34537,0,34537,13,0,34537,34537,34537
Europe / Denmark,32858,32858,32858,0,32858,32858,32858,32858,32858,32858,0,32858,135,0,32858,32858,32858
Scotland,32025,32025,32025,0,32025,32025,32025,32025,32025,32025,0,32025,18,0,32025,32025,32025
South America / Brazil,15929,15929,15929,10,15929,15929,15929,15929,15928,15929,0,15929,171,0,15929,15929,15929
Europe / Poland,15282,15282,15282,1,15282,15282,15282,15282,15282,15282,0,15282,71,0,15282,15282,15282
Europe / Switzerland,12950,12950,12950,0,12950,12950,12950,12950,12948,12950,0,12950,722,0,12950,12950,12950
Oceania / Australia,12877,12877,12877,0,12877,12877,12877,12877,12877,12877,0,12877,2076,0,12877,12877,12877
Europe / Spain,12008,12008,12008,166,12008,12008,12008,12008,12008,12008,0,12008,188,0,12008,12008,12008
Europe / Italy,10345,10345,10345,12,10345,10345,10345,10345,10345,10345,0,10345,823,0,10345,10345,10345
Europe / Sweden,9977,9977,9977,0,9977,9977,9977,9977,9977,9977,0,9977,11,0,9977,9977,9977
Europe / Netherlands,9367,9367,9367,328,9367,9367,9367,9367,9367,9367,0,9367,19,0,9367,9367,9367
Europe / Belgium,8943,8943,8943,8634,8943,8943,8943,8943,8943,8943,0,8943,53,0,8943,8943,8943
North America / Mexico,8149,8149,8149,78,8149,8149,8149,8149,8149,8149,0,8149,367,0,8149,8149,8149
Republic of Ireland,7888,7888,7888,0,7888,7888,7888,7888,7888,7888,0,7888,13,0,7888,7888,7888
Europe / Slovenia,7726,7726,7726,0,7726,7726,7726,7726,7726,7726,0,7726,1727,0,7726,7726,7726
Asia / India,7519,7519,7519,45,7519,7519,7519,7519,7508,7519,0,7519,2120,0,7519,7519,7519
Europe / Norway,6348,6348,6348,0,6348,6348,6348,6348,6348,6348,0,6348,14,0,6348,6348,6348
Asia / Indonesia,5659,5659,5659,786,5659,5659,5659,5659,5659,5659,0,5659,7,0,5659,5659,5659
Africa / South Africa,5630,5630,5630,1201,5630,5630,5630,5630,5630,5630,0,5630,55,0,5630,5630,5630
Asia / Israel,5399,5399,5399,0,5399,5399,5399,5399,5399,5399,0,5399,8,0,5399,5399,5399
Europe / Croatia,4928,4928,4928,0,4928,4928,4928,4928,4928,4928,0,4928,1027,0,4928,4928,4928
Europe / Turkey,4813,4813,4813,0,4813,4813,4813,4813,4813,4813,0,4813,157,0,4813,4813,4813
Europe / Czech Republic,4491,4491,4491,4051,4491,4491,4491,4491,4491,4491,0,4491,17,1,4491,4491,4491
Northern Ireland,3615,3615,3615,0,3615,3615,3615,3615,3615,3615,0,3615,1,0,3615,3615,3615

In [168]:
timepoint5[timepoint5['Country'].isin(['Republic of Ireland','Northern Ireland'])].sort_values(by='Collection date 2', ascending=True)

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
2361011,EPI_ISL_6939819,2021-11-25,Europe / Ireland / Meath,NaN,Human,GRA,BA.1,VOC Omicron GRA (B.1.1.529+BA.*) first detected in Botswana/Hong Kong/South ...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V,Spike_S373P,Spike_Q493R,Spike...",2021-12-01,NaN,True,NaN,NaN,2021-11-25,Republic of Ireland,Ireland,no
2353643,EPI_ISL_7406082,2021-11-25,Europe / Ireland / Longford,NaN,Human,GRA,BA.1,VOC Omicron GRA (B.1.1.529+BA.*) first detected in Botswana/Hong Kong/South ...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V,Spike_S373P,Spike_Q493R,Spike...",2021-12-09,NaN,True,NaN,NaN,2021-11-25,Republic of Ireland,Ireland,no
7405067,EPI_ISL_10673935,2021-11-27,Europe / Ireland / Dublin,NaN,Human,GRA,BA.1.1.15,VOC Omicron GRA (B.1.1.529+BA.*) first detected in Botswana/Hong Kong/South ...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V,Spike_S373P,Spike_Q493R,Spike...",2022-03-04,NaN,True,NaN,NaN,2021-11-27,Republic of Ireland,Ireland,no
3316115,EPI_ISL_7776724,2021-11-28,Europe / Ireland / Dublin,NaN,Human,GRA,BA.1.14,VOC Omicron GRA (B.1.1.529+BA.*) first detected in Botswana/Hong Kong/South ...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V,Spike_S373P,Spike_Q493R,Spike...",2021-12-17,NaN,True,NaN,NaN,2021-11-28,Republic of Ireland,Ireland,no
2353644,EPI_ISL_7406083,2021-11-28,Europe / Ireland / Meath,NaN,Human,GRA,BA.1,VOC Omicron GRA (B.1.1.529+BA.*) first detected in Botswana/Hong Kong/South ...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V,Spike_S373P,Spike_Q493R,Spike...",2021-12-09,NaN,True,NaN,NaN,2021-11-28,Republic of Ireland,Ireland,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11100073,EPI_ISL_10035015,2022-01-31,Europe / Ireland / Limerick,NaN,Human,GRA,BA.1.1,VOC Omicron GRA (B.1.1.529+BA.*) first detected in Botswana/Hong Kong/South ...,"(NSP5_P132H,Spike_H69del,Spike_T95I,NSP3_E177K,Spike_A67V,Spike_S373P,Spike_...",2022-02-17,NaN,True,NaN,NaN,2022-01-31,Republic of Ireland,Ireland,no
11100071,EPI_ISL_10035012,2022-01-31,Europe / Ireland / Westmeath,NaN,Human,GRA,BA.1.1.11,VOC Omicron GRA (B.1.1.529+BA.*) first detected in Botswana/Hong Kong/South ...,"(NSP5_P132H,Spike_H69del,Spike_T95I,NSP2_G517R,Spike_A67V,Spike_S373P,Spike_...",2022-02-17,NaN,True,NaN,NaN,2022-01-31,Republic of Ireland,Ireland,no
11100069,EPI_ISL_10035013,2022-01-31,Europe / Ireland / Clare,NaN,Human,GRA,BA.1.1,VOC Omicron GRA (B.1.1.529+BA.*) first detected in Botswana/Hong Kong/South ...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V,Spike_S373P,Spike_Q493R,Spike...",2022-02-17,NaN,True,NaN,NaN,2022-01-31,Republic of Ireland,Ireland,no
11100066,EPI_ISL_10035005,2022-01-31,Europe / Ireland / Longford,NaN,Human,GRA,BA.1.17.2,VOC Omicron GRA (B.1.1.529+BA.*) first detected in Botswana/Hong Kong/South ...,"(NSP5_P132H,Spike_H69del,Spike_T95I,Spike_A67V,Spike_S373P,Spike_Q493R,Spike...",2022-02-17,NaN,True,NaN,NaN,2022-01-31,Republic of Ireland,Ireland,no
2298036,EPI_ISL_10988940,2022-01-31,Europe / Ireland / Galway,NaN,Human,GRA,BA.1.1,VOC Omicron GRA (B.1.1.529+BA.*) first detected in Botswana/Hong Kong/South ...,"(NSP5_P132H,Spike_H69del,Spike_V213P,Spike_T95I,NS3_S60F,Spike_A67V,Spike_S3...",2022-03-14,NaN,True,NaN,NaN,2022-01-31,Republic of Ireland,Ireland,no

```bash
pastml --tree timepoint5.filteredNI.rooted.nwk --data timepoint5.strainCountry.all.filteredNI.txt --prediction_method DELTRAN --columns country --data_sep , --work_dir timepoint5_filtered_NI_pastml --resolve_polytomies --threads 2 --verbose
```

### Time point 6

In [169]:
timepoint6 = full_GISAID_metadata[
    (((full_GISAID_metadata['Pango lineage'] == 'BA.2') | (full_GISAID_metadata['Pango lineage'].str.startswith('BA.2.'))) &
    (full_GISAID_metadata['outlier'] == 'no') &
     ~(full_GISAID_metadata['Accession ID'].isin(NISamplesToExclude['accession_id'])) &
    (full_GISAID_metadata['Collection date 2'] <= pd.to_datetime('2022-03-31'))) | (full_GISAID_metadata['Accession ID'] == 'EPI_ISL_402125')].sort_values(by='Collection date 2', ascending=True)
timepoint6

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
4034893,EPI_ISL_402125,2019-12-31,Asia / China,NaN,Human,L,B,NaN,(),2020-01-12,NaN,True,True,NaN,2019-12-31,Asia / China,Other,no
7922907,EPI_ISL_9796145,2021-11-24,Europe / France / Nouvelle-Aquitaine,NaN,Human,GRA,BA.2,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I...",2022-02-11,NaN,True,NaN,NaN,2021-11-24,Europe / France,Other,no
7516516,EPI_ISL_10504840,2021-11-25,Asia / India / Tamil Nadu / VELLORE,NaN,Human,GRA,BA.2.10,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I...",2022-03-01,NaN,True,NaN,NaN,2021-11-25,Asia / India,Other,no
9912989,EPI_ISL_9679276,2021-11-27,Africa / South Africa / Western Cape,NaN,Human,GRA,BA.2,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I...",2022-02-09,NaN,True,NaN,NaN,2021-11-27,Africa / South Africa,Other,no
9919417,EPI_ISL_8128463,2021-11-27,Africa / South Africa / Gauteng,Other: TSHWANE,Human,GRA,BA.2,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I...",2021-12-27,NaN,True,NaN,NaN,2021-11-27,Africa / South Africa,Other,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529443,EPI_ISL_11664455,2022-03-31,Europe / Poland,NaN,Human,GRA,BA.2,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,N_T296I,NSP3_G489S,Spike_L24del,NS...",2022-04-01,NaN,True,NaN,NaN,2022-03-31,Europe / Poland,Other,no
529442,EPI_ISL_11664462,2022-03-31,Europe / Poland,NaN,Human,GRA,BA.2.9,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I...",2022-04-01,NaN,True,NaN,NaN,2022-03-31,Europe / Poland,Other,no
529441,EPI_ISL_11664463,2022-03-31,Europe / Poland,NaN,Human,GRA,BA.2,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,NSP3_P1200S,NSP3_G489S,Spike_L24de...",2022-04-01,NaN,True,NaN,NaN,2022-03-31,Europe / Poland,Other,no
529462,EPI_ISL_11664477,2022-03-31,Europe / Poland,NaN,Human,GRA,BA.2.9,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I...",2022-04-01,NaN,True,NaN,NaN,2022-03-31,Europe / Poland,Other,no
529453,EPI_ISL_11664474,2022-03-31,Europe / Poland,NaN,Human,GRA,BA.2.9,VOC Omicron GRA (B.1.1.529+BA.*) first detecte...,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I...",2022-04-01,NaN,True,NaN,NaN,2022-03-31,Europe / Poland,Other,no

In [170]:
timepoint6.groupby('Pango lineage').count()

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
Pango lineage,,,,,,,,,,,,,,,,,
B,1,1,1,0,1,1,0,1,1,0,1,1,0,1,1,1,1
BA.2,477080,477080,477080,8114,477080,477080,477080,476743,477080,0,477080,103462,0,477080,477080,477080,477080
BA.2.1,7947,7947,7947,2,7947,7947,7947,7947,7947,0,7947,57,0,7947,7947,7947,7947
BA.2.10,34839,34839,34839,1018,34839,34839,34839,34830,34839,0,34839,4208,0,34839,34839,34839,34839
BA.2.10.1,2986,2986,2986,220,2986,2986,2986,2986,2986,0,2986,258,0,2986,2986,2986,2986
BA.2.11,29,29,29,0,29,29,29,29,29,0,29,3,0,29,29,29,29
BA.2.12,1640,1640,1640,81,1640,1640,1640,1640,1640,0,1640,186,0,1640,1640,1640,1640
BA.2.12.1,347,347,347,0,347,347,347,347,347,0,347,23,0,347,347,347,347
BA.2.13,51,51,51,37,51,51,51,51,51,0,51,18,0,51,51,51,51
BA.2.14,607,607,607,0,607,607,607,607,607,0,607,506,0,607,607,607,607
BA.2.15,95,95,95,7,95,95,95,95,95,0,95,1,0,95,95,95,95
BA.2.16,407,407,407,1,407,407,407,407,407,0,407,0,0,407,407,407,407
BA.2.17,59,59,59,11,59,59,59,59,59,0,59,3,0,59,59,59,59
BA.2.18,767,767,767,0,767,767,767,767,767,0,767,9,0,767,767,767,767
BA.2.19,366,366,366,0,366,366,366,366,366,0,366,130,0,366,366,366,366
BA.2.2,935,935,935,10,935,935,935,935,935,0,935,45,0,935,935,935,935
BA.2.20,91,91,91,0,91,91,91,91,91,0,91,1,0,91,91,91,91
BA.2.21,81,81,81,0,81,81,81,81,81,0,81,2,0,81,81,81,81
BA.2.22,818,818,818,2,818,818,818,818,818,0,818,25,0,818,818,818,818
BA.2.23,6075,6075,6075,38,6075,6075,6075,6059,6075,0,6075,176,0,6075,6075,6075,6075
BA.2.24,39,39,39,0,39,39,39,39,39,0,39,3,0,39,39,39,39
BA.2.25,331,331,331,13,331,331,331,331,331,0,331,44,0,331,331,331,331
BA.2.25.1,20,20,20,1,20,20,20,20,20,0,20,0,0,20,20,20,20
BA.2.26,114,114,114,0,114,114,114,114,114,0,114,25,0,114,114,114,114
BA.2.27,62,62,62,2,62,62,62,62,62,0,62,5,0,62,62,62,62
BA.2.28,27,27,27,24,27,27,27,27,27,0,27,10,0,27,27,27,27
BA.2.29,101,101,101,3,101,101,101,101,101,0,101,6,0,101,101,101,101
BA.2.3,24483,24483,24483,933,24483,24483,24483,24471,24483,0,24483,2364,1,24483,24483,24483,24483
BA.2.3.1,172,172,172,0,172,172,172,172,172,0,172,13,0,172,172,172,172
BA.2.3.2,283,283,283,89,283,283,283,283,283,0,283,28,0,283,283,283,283
BA.2.3.3,334,334,334,0,334,334,334,334,334,0,334,1,0,334,334,334,334
BA.2.3.4,116,116,116,0,116,116,116,116,116,0,116,0,0,116,116,116,116
BA.2.30,29,29,29,1,29,29,29,29,29,0,29,2,0,29,29,29,29
BA.2.31,235,235,235,6,235,235,235,235,235,0,235,8,0,235,235,235,235
BA.2.32,272,272,272,32,272,272,272,272,272,0,272,9,0,272,272,272,272
BA.2.33,56,56,56,0,56,56,56,56,56,0,56,6,0,56,56,56,56
BA.2.34,185,185,185,0,185,185,185,185,185,0,185,106,0,185,185,185,185
BA.2.4,167,167,167,116,167,167,167,167,167,0,167,20,0,167,167,167,167
BA.2.5,911,911,911,7,911,911,911,911,911,0,911,143,0,911,911,911,911
BA.2.6,506,506,506,2,506,506,506,506,506,0,506,44,0,506,506,506,506
BA.2.7,1007,1007,1007,0,1007,1007,1007,1007,1007,0,1007,75,0,1007,1007,1007,1007
BA.2.8,3617,3617,3617,1,3617,3617,3617,3617,3617,0,3617,15,0,3617,3617,3617,3617
BA.2.9,75708,75708,75708,1543,75708,75708,75708,75707,75708,0,75708,33841,0,75708,75708,75708,75708
BA.2.9.1,103,103,103,0,103,103,103,103,103,0,103,3,0,103,103,103,103
BA.2.9.2,395,395,395,1,395,395,395,395,395,0,395,30,0,395,395,395,395

In [171]:
timepoint6.groupby('Simple country').count()

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,outlier
Simple country,,,,,,,,,,,,,,,,,
Ireland,6371,6371,6371,0,6371,6371,6371,6371,6371,6371,0,6371,7,0,6371,6371,6371
Other,638123,638123,638123,12315,638123,638123,638123,638122,637748,638123,0,638123,145908,1,638123,638123,638123

In [172]:
timepoint6[timepoint6['Accession ID'] == 'EPI_ISL_402125']

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
4034893,EPI_ISL_402125,2019-12-31,Asia / China,NaN,Human,L,B,NaN,(),2020-01-12,NaN,True,True,NaN,2019-12-31,Asia / China,Other,no

In [173]:
timepoint6['Accession ID'].to_csv('../outputFiles/timepoint6.AccessionIDs.filteredNI.txt', index=False)

In [174]:
timepoint6[['Accession ID','Simple country']].rename(columns={'Accession ID': 'strain', 'Simple country': 'country'}).to_csv('../outputFiles/timepoint6.strainCountry.filteredNI.txt', index=False)

In [175]:
timepoint6[['Accession ID','Country']].rename(columns={'Accession ID': 'strain', 'Country': 'country'}).to_csv('../outputFiles/timepoint6.strainCountry.all.filteredNI.txt', index=False)

In [176]:
!gotree prune -r -i ../datasets/GISAID/GISAID-hCoV-19-phylogeny-2022-05-20/global.tree --tipfile ../outputFiles/timepoint6.AccessionIDs.filteredNI.txt -o ../outputFiles/timepoint6.filteredNI.tree

2023/01/10 15:59:32 Newick : Branch lengths attached to root node are ignored

In [177]:
!gotree reroot outgroup -i ../outputFiles/timepoint6.filteredNI.tree EPI_ISL_402125 > ../outputFiles/timepoint6.filteredNI.rooted.nwk

In [178]:
timepoint6.groupby('Country').count().sort_values(by="Accession ID", ascending=False).head(30)

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Simple country,outlier
Country,,,,,,,,,,,,,,,,,
England,221477,221477,221477,0,221477,221477,221477,221477,221477,221477,0,221477,1919,0,221477,221477,221477
Europe / Denmark,127740,127740,127740,0,127740,127740,127740,127740,127740,127740,0,127740,100335,0,127740,127740,127740
Europe / Germany,65495,65495,65495,1,65495,65495,65495,65495,65495,65495,0,65495,18835,0,65495,65495,65495
Scotland,56753,56753,56753,0,56753,56753,56753,56753,56753,56753,0,56753,241,0,56753,56753,56753
Asia / India,27602,27602,27602,402,27602,27602,27602,27602,27602,27602,0,27602,5881,0,27602,27602,27602
North America / USA,19806,19806,19806,116,19806,19806,19806,19806,19774,19806,0,19806,1792,0,19806,19806,19806
Europe / Sweden,15985,15985,15985,0,15985,15985,15985,15985,15985,15985,0,15985,67,0,15985,15985,15985
Europe / France,14686,14686,14686,1,14686,14686,14686,14686,14686,14686,0,14686,604,0,14686,14686,14686
Wales,12294,12294,12294,0,12294,12294,12294,12294,12294,12294,0,12294,11,0,12294,12294,12294
Europe / Switzerland,5915,5915,5915,0,5915,5915,5915,5915,5915,5915,0,5915,753,0,5915,5915,5915
Europe / Netherlands,5573,5573,5573,91,5573,5573,5573,5573,5573,5573,0,5573,982,0,5573,5573,5573
Europe / Belgium,5392,5392,5392,5186,5392,5392,5392,5392,5392,5392,0,5392,1151,0,5392,5392,5392
Europe / Poland,5324,5324,5324,1,5324,5324,5324,5324,5322,5324,0,5324,1016,0,5324,5324,5324
Northern Ireland,5136,5136,5136,0,5136,5136,5136,5136,5136,5136,0,5136,1,0,5136,5136,5136
Europe / Norway,5119,5119,5119,0,5119,5119,5119,5119,5119,5119,0,5119,4019,0,5119,5119,5119
North America / Canada,4437,4437,4437,0,4437,4437,4437,4437,4437,4437,0,4437,421,0,4437,4437,4437
Oceania / Australia,3485,3485,3485,0,3485,3485,3485,3485,3485,3485,0,3485,268,0,3485,3485,3485
Europe / Austria,3015,3015,3015,336,3015,3015,3015,3015,2679,3015,0,3015,1297,0,3015,3015,3015
Europe / Spain,2783,2783,2783,6,2783,2783,2783,2783,2783,2783,0,2783,108,0,2783,2783,2783
Europe / Italy,2671,2671,2671,1,2671,2671,2671,2671,2670,2671,0,2671,848,0,2671,2671,2671
Europe / Czech Republic,2538,2538,2538,2030,2538,2538,2538,2538,2538,2538,0,2538,386,0,2538,2538,2538
Europe / Slovakia,2490,2490,2490,1,2490,2490,2490,2490,2490,2490,0,2490,111,0,2490,2490,2490
Asia / Japan,2199,2199,2199,1274,2199,2199,2199,2199,2199,2199,0,2199,238,0,2199,2199,2199
Asia / Israel,1985,1985,1985,0,1985,1985,1985,1985,1985,1985,0,1985,24,0,1985,1985,1985
Asia / Singapore,1961,1961,1961,1790,1961,1961,1961,1961,1961,1961,0,1961,596,0,1961,1961,1961
Africa / South Africa,1933,1933,1933,423,1933,1933,1933,1933,1933,1933,0,1933,59,0,1933,1933,1933
Europe / Portugal,1651,1651,1651,0,1651,1651,1651,1651,1651,1651,0,1651,24,0,1651,1651,1651
Europe / Lithuania,1354,1354,1354,0,1354,1354,1354,1354,1354,1354,0,1354,627,0,1354,1354,1354
Asia / South Korea,1323,1323,1323,232,1323,1323,1323,1323,1323,1323,0,1323,518,0,1323,1323,1323
Europe / Slovenia,1322,1322,1322,0,1322,1322,1322,1322,1322,1322,0,1322,50,0,1322,1322,1322

In [179]:
timepoint6[timepoint6['Country'] == 'Republic of Ireland'].groupby('Country').count().sort_values(by="Accession ID", ascending=False).head(30)

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Simple country,outlier
Country,,,,,,,,,,,,,,,,,
Republic of Ireland,1235,1235,1235,0,1235,1235,1235,1235,1235,1235,0,1235,6,0,1235,1235,1235

In [180]:
timepoint6[timepoint6['Country'].isin(['Republic of Ireland','Northern Ireland'])].sort_values(by='Collection date 2', ascending=True)

,Accession ID,Collection date,Location,Additional location information,Host,Clade,Pango lineage,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,Collection date 2,Country,Simple country,outlier
1149922,EPI_ISL_10175631,2021-12-26,Europe / United Kingdom / Northern Ireland,NaN,Human,GRA,BA.2,VOC Omicron GRA (B.1.1.529+BA.*) first detected in Botswana/Hong Kong/South ...,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I,Spike_S373P,Spike_Q493R,Spike...",2022-02-21,NaN,True,NaN,NaN,2021-12-26,Northern Ireland,Ireland,no
7590317,EPI_ISL_10175730,2021-12-26,Europe / United Kingdom / Northern Ireland,NaN,Human,GRA,BA.2,VOC Omicron GRA (B.1.1.529+BA.*) first detected in Botswana/Hong Kong/South ...,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I,Spike_S373P,Spike_Q493R,Spike...",2022-02-21,NaN,True,NaN,NaN,2021-12-26,Northern Ireland,Ireland,no
7589526,EPI_ISL_10175551,2021-12-26,Europe / United Kingdom / Northern Ireland,NaN,Human,GRA,BA.2,VOC Omicron GRA (B.1.1.529+BA.*) first detected in Botswana/Hong Kong/South ...,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I,Spike_S373P,Spike_Q493R,Spike...",2022-02-21,NaN,True,NaN,NaN,2021-12-26,Northern Ireland,Ireland,no
7589469,EPI_ISL_10175506,2021-12-26,Europe / United Kingdom / Northern Ireland,NaN,Human,GRA,BA.2,VOC Omicron GRA (B.1.1.529+BA.*) first detected in Botswana/Hong Kong/South ...,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I,Spike_S373P,Spike_Q493R,Spike...",2022-02-21,NaN,True,NaN,NaN,2021-12-26,Northern Ireland,Ireland,no
7589464,EPI_ISL_10175518,2021-12-26,Europe / United Kingdom / Northern Ireland,NaN,Human,GRA,BA.2,VOC Omicron GRA (B.1.1.529+BA.*) first detected in Botswana/Hong Kong/South ...,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I,Spike_S373P,Spike_Q493R,Spike...",2022-02-21,NaN,True,NaN,NaN,2021-12-26,Northern Ireland,Ireland,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11098560,EPI_ISL_11508196,2022-03-22,Europe / Ireland / Mayo,NaN,Human,GRA,BA.2,VOC Omicron GRA (B.1.1.529+BA.*) first detected in Botswana/Hong Kong/South ...,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I,Spike_S373P,Spike_Q493R,Spike...",2022-03-28,NaN,True,NaN,NaN,2022-03-22,Republic of Ireland,Ireland,no
2415643,EPI_ISL_11582816,2022-03-22,Europe / Ireland / Dublin,NaN,Human,GRA,BA.2,VOC Omicron GRA (B.1.1.529+BA.*) first detected in Botswana/Hong Kong/South ...,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I,Spike_S373P,Spike_Q493R,Spike...",2022-03-31,NaN,True,NaN,NaN,2022-03-22,Republic of Ireland,Ireland,no
11098472,EPI_ISL_11508204,2022-03-22,Europe / Ireland / Galway,NaN,Human,GRA,BA.2,VOC Omicron GRA (B.1.1.529+BA.*) first detected in Botswana/Hong Kong/South ...,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I,Spike_S373P,Spike_Q493R,Spike...",2022-03-28,NaN,True,NaN,NaN,2022-03-22,Republic of Ireland,Ireland,no
11098511,EPI_ISL_11508197,2022-03-22,Europe / Ireland / Mayo,NaN,Human,GRA,BA.2,VOC Omicron GRA (B.1.1.529+BA.*) first detected in Botswana/Hong Kong/South ...,"(NSP5_P132H,Spike_L24del,NSP3_G489S,NSP4_T327I,Spike_S373P,Spike_Q493R,Spike...",2022-03-28,NaN,True,NaN,NaN,2022-03-22,Republic of Ireland,Ireland,no
11098498,EPI_ISL_11508203,2022-03-22,Europe / Ireland / Limerick,NaN,Human,GRA,BA.2.23,VOC Omicron GRA (B.1.1.529+BA.*) first detected in Botswana/Hong Kong/South ...,"(NSP5_P132H,NSP3_G489S,Spike_L24del,NSP4_T327I,Spike_S373P,Spike_Q493R,Spike...",2022-03-28,NaN,True,NaN,NaN,2022-03-22,Republic of Ireland,Ireland,no

```bash
pastml --tree timepoint6.filteredNI.rooted.nwk --data timepoint6.strainCountry.all.filteredNI.txt --prediction_method DELTRAN --columns country --data_sep , --work_dir timepoint6_filtered_NI_pastml --resolve_polytomies --threads 2 --verbose
```